<div class="card-scan-disable" *ngIf="isAllowedCity">
  <div class="csd-head">
    <span class="csd-dot"></span>
    <span class="csd-title">Card Scan Disable (Ward / Line wise)</span>
    <span class="csd-note">Selected ward/line current date ({{ currentDate }})</span>
  </div>

  <div class="csd-body">
    <div class="csd-row">
      <div class="csd-field">
        <label for="csdWard">Select Ward</label>
        <select id="csdWard" class="csd-select" [(ngModel)]="selectedWard" name="csdWard"
          (change)="onWardChange(selectedWard)">
          <option value="">-- Select Ward --</option>
          <option *ngFor="let ward of wardList" [value]="ward.wardNo">{{ ward.wardNo }}</option>
        </select>
      </div>
    </div>

    <div class="csd-row" *ngIf="selectedWard">
      <label class="csd-check csd-whole">
        <input type="checkbox" [(ngModel)]="disableWholeWard" name="csdWholeWard"
          (change)="onWholeWardToggle()" />
        <span>Disable Complete Ward (current date)</span>
      </label>
    </div>

    <div class="csd-lines" *ngIf="selectedWard">
      <div class="csd-lines-head">Lines</div>

      <div class="csd-loading" *ngIf="loadingLines">Loading lines...</div>

      <div class="csd-empty" *ngIf="!loadingLines && lines.length === 0">
        Is ward ki koi line nahi mili.
      </div>

      <div class="csd-line-grid" *ngIf="!loadingLines && lines.length > 0">
        <label class="csd-check" *ngFor="let line of lines"
          [class.csd-disabled]="disableWholeWard">
          <input type="checkbox" [(ngModel)]="disabledLineMap[line.lineNo]"
            name="csdLine{{ line.lineNo }}" [disabled]="disableWholeWard" />
          <span>Line {{ line.lineNo }}</span>
        </label>
      </div>
    </div>

    <div class="csd-save" *ngIf="selectedWard">
      <button type="button" class="btn btn-success btn-xs" (click)="saveSettings()">SAVE</button>
    </div>
  </div>
</div>
