<section class="header">
    <div class="row no-gutters">
        <div class="col-md-12 col-lg-12 col-xl-12 main-headers Employees-heading">
            Employees Attendance
        </div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-5 card-outer">
            <div id="divLoader" class="loaderClass">
                <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
            </div>
            <div class="card custom-header-outer">
                <div class="card-header custom-header">
                    <div class="row">

                        <div class="col-md-12 text-left date-box" style="padding-left:20px;height: 50px;">
                            <input type="radio" id="rdoByDate" [checked]="filterType=='byDate'" (change)="setFilterType('byDate','0')"> <label>&nbsp;Filter By Date</label> &nbsp;&nbsp;&nbsp; <input type="radio" id="rdoByEmployee" [checked]="filterType=='byEmployee'"
                                (change)="setFilterType('byEmployee','0')">
                            <label>&nbsp;Filter By
                                Employee</label>
                            <span [hidden]="filterType=='byDate'">
                                <input id="chkIncludeInactive" type="checkbox" (change)="getFilterEmployee()"
                                    style="margin-left: 20px;">
                                <label>&nbsp; Include In-Active Employee</label></span>

                            <span class="export-span">
                                    <i class="fa-solid fa-file-export export-icon" (click)="exportToExcel();"></i><br />
                                    <span class="export-span-iner">Export</span>
                            </span>
                        </div>
                        <hr />
                    </div>
                    <div id="divByDate" class="row" style="padding-left:20px;" [hidden]="filterType=='byEmployee'">
                        <div class="col-md-12 text-left date-box">
                            <button (click)="setDate('','previous');" class="btn-hvr arrow-btn">
                                << </button>
                            <input id="txtDate" class="filter-select text-input" type="date" (change)="setDate($event.target.value,'current')">
                            <button (click)="setDate('','next');" class="btn-hvr arrow-btn2">
                                        >>
                                    </button>

                            <select id="ddlTime" class="filter-select filter-input" (change)="filterData()" style="width:130px ;">
                                        <option value="0">
                                            All
                                        </option>
                                        <option value="08:10">
                                            After 8:10
                                        </option>
                                        <option value="08:30">
                                            After 8:30
                                        </option>
    

                                    </select>

                            <input type="checkbox" id="chkFieldExecutive" (change)="filterData()" style="margin-left: 10px;"> &nbsp;Field Executive
                        </div>
                    </div>
                    <div id="divByEmployee" class="row" [hidden]="filterType=='byDate'">
                        <div class="col-md-12">
                            <select id="ddlEmployee" class="filter-select filter-input" style="width: 200px;">
                                <option value="0">
                                    --Select--
                                </option>
                                <option value="{{dt.empId}}" *ngFor="let dt of filterEmployeeList;">
                                    {{dt.name}} ({{dt.empCode}})  
                                </option>
                            </select>
                            <input id="txtDateFrom" class="filter-select text-input" type="date" style="width: 100px; margin-left: 10px;">
                            <input id="txtDateTo" class="filter-select text-input" type="date" style="width: 100px; margin-left: 10px;">
                            <button class="btn btn-success" style="margin-top:10px ;" (click)="getAttendanceByEmployee();">Search</button>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div id="divList" class="table-wrapper table-one">
                                    <table class="table table-line">
                                        <thead>
                                            <th class="text-left br-1 table-heading1" [hidden]="filterType=='byEmployee'">
                                                Name</th>
                                            <th class="text-left br-1 table-heading1" [hidden]="filterType=='byDate'">
                                                Date</th>
                                            <th class="text-left br-1 table-heading1">
                                                In Time</th>
                                            <th class="text-left br-1 table-heading1">
                                                Out Time
                                            </th>
                                            <th class="text-left br-1 table-heading1">
                                            Working Hrs
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr id="tr{{i}}" *ngFor="let data of attendanceList; let i=index">
                                                <td class="text-left br-1" [hidden]="filterType=='byEmployee'" style="cursor: pointer;" (click)="setFilterType('byEmployee',data.empId)">
                                                    {{data.name}} <b>[{{data.empCode}}]</b>
                                                </td>
                                                <td class="text-left br-1" [hidden]="filterType=='byDate'">
                                                    {{data.name}}
                                                </td>
                                                <td class="text-left br-1" class="{{data.cssClass}}">
                                                    {{data.inTime}}
                                                </td>
                                                <td class="text-left br-1">
                                                    {{data.outTime}}
                                                </td>
                                                <td class="text-left br-1" class="{{data.cssClass}}">
                                                    {{data.workingHour}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 card-main">
            <div class="card card-body-outer">
                <div id="content" #content class="card-body card-body2">
                    <div class="row">

                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">

                                    </div>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center form-group-outer">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>