<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<div class="main-page">
    <header class="header">
        <div class="header-left">
            Ward Line Road Detail
            <!-- Breadcrumb starts -->
            <nav class="breadcrumb">
                <ul class="ul-breadcrumb">
                    <li class="li-breadcrumb">
                        <a class="link-breadcrumb" [routerLink]="['/', cityId, 'home']">Home</a>
                    </li>
                    <li class="li-breadcrumb">
                        <a class="link-breadcrumb" href="#">Survey Management</a>
                    </li>
                    <li class="li-breadcrumb">
                        <a class="link-breadcrumb" href="#">Marking Management</a>
                    </li>
                    <li class="li-breadcrumb">
                        <a class="link-breadcrumb" href="#">Ward Road Detail</a>
                    </li>
                </ul>
            </nav>

            <!-- Breadcrumb ends -->
        </div>
        <div class="header-right">
            <div class="btn-default btn-export" (click)="exportToExcel();">
                Entity Types
                <img src="../../../assets/img/iconExport.png" class="img-fluid icon-default" alt="File" width="24" />
            </div>
        </div>
    </header>
    <div class="page-body">
        <div class="page-body-inner">
            <div class="main-page-table">
                <div class="header-table-page">
                    <select class="filter-select  filter-radius" id="ddlZone"
                        (change)="changeZoneSelection($event.target.value)" [(ngModel)]="selectedZone">
                        <option *ngFor="let zone of zoneList" value={{zone.zoneNo}}
                            ngSelected="zone.zoneNo == selectedZone?'selected':''">
                            {{zone.zoneName}}
                        </option>
                    </select>
                </div>
                <div class="table-ward">
                    <table class="table">
                        <thead>
                            <th class="text-left " style="width: 8%;">
                                Sno.</th>
                            <th class="text-left ">
                                Line No</th>
                            <th class="text-left ">
                                Road Type</th>
                            <th class="text-left">
                                Road Width
                            </th>
                        </thead>
                        <tbody>
                            <tr id="tr{{i}}" *ngFor="let data of roadList; let i=index" style="cursor: pointer;"
                                (click)="getWardRoadDetail(i)">
                                <td class="text-left ">
                                    {{i+1}}
                                </td>
                                <td class="text-left ">
                                    {{data.lineNo}}
                                </td>
                                <td class="text-left ">
                                    {{data.roadType}}
                                </td>
                                <td class="text-left ">
                                    {{data.roadWidth}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="page-body-inner ">
            <div class="table-ward2">
                <div #gmap class="gmap" id="divMap" style="height: 800px;"></div>

                <div id="divCardDetail" class="maine-img-box">
                    <div class="box-image-bg">
                        <div class="image-tatle">Road Image</div>
                        <div
                            style="width:180px; min-height:180px; display: flex; align-items: center; justify-content: center;">
                            <a href="{{imageURL}}" target="_blank">
                                <img [src]="imageURL" style="width:100%;height:auto; display: block;" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>