<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
  </div>
<div>
    <section class="header ">
        <div class="row no-gutters ">
            <div class="offset-3 col-6 heading text-center">
                <b class="header-text"> Convert Penalty JSON </b>
            </div>
        </div>
    </section>
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Year</label>
                                <div class="wrap-input-effects" required>
                                    <select class="caret-select" id="ddlYear" style="width: 150px;">
                                        <option value="0">Year</option>
                                        <option value={{yer.year}} *ngFor="let yer of yearList">{{yer.year}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <label>Month</label>
                                <div class="wrap-input-effects" required>
                                    <select class="caret-select" id="ddlMonth" style="width: 150px;">
                                        <option value="0">Month</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <button id="btnSave" class="btn btn-success btn-xs"
                                        (click)="saveData();">SAVE</button>
                                    <button id="btnCancel" class="btn btn-danger btn-xs"
                                        (click)="cancelEntry();">CANCEL</button>
                                    <img id="divLoader" src="../../../assets/img/loading.gif" width="30"
                                        style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>