/************************Task Management Section Start**************************************/
/********************************** Header Start**********************************/
.top-header{
  background: #282828;
  color: #fff;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
 // box-shadow: 0px 3px 6px #FFFFFF3D;
  // border-bottom: 3px solid #0ba118;
}
.ward-header{
  //padding-left: 110px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.task-masters{
  background: #fff!important;
  height: 100%;
}
.main-panel{
  background-color: #fff!important;
}
/********************************** Header End**********************************/


/********************************** Tab Start**********************************/
.tablink {
  background-color: #ebecf1;
  color: #707070;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 12px;
  font-weight: bold;
  width: 33.33%;
  text-transform: uppercase;
}

.tablink:hover {
  background-color: #e6e6e6;
}
.active-tab{
  border-bottom: 2px solid #0ba118!important;
  color: #0ba118!important;
}

.tabcontent {
  color: #707070;
  display: none;
  padding: 100px 0px;
  height: 100%;
}

#Category {
    background-color: #fff;
    height: 90vh;
    border: 1px solid #dee2e6;
  }
#Projects {
    background-color: #fff;
    height: 90vh;
    border: 1px solid #dee2e6;
  }
#Modules {
    background-color: #fff;
    height: 90vh;
    border: 1px solid #dee2e6;
  }
#Other {
    background-color: #fff;
    height: 90vh;
    border: 1px solid #dee2e6;
}
.tabcontent h3{
  font-size: 12px;
}
select{
  font-size: 12px;
  width: 100%;
  height: 40px;
}
select:hover{
  border: 1px solid #0ba118;
}
textarea{
  height: 100px;
  font-size: 12px;
  width: 100%;
  border: 1px solid lightgray;
}
textarea:focus-visible{
  outline:none!important;
}
textarea:focus{
  border: 1px solid #0ba118;
}
textarea:hover{
  border: 1px solid #0ba118;
}
.add-task{
  position: absolute;
  top: 90%;
  left: 47%;
  transform: translate(-50%, -50%);
}
.add-task-btn{
  background: #0ba118!important;
  color:#fff;
  padding: 18px 30px;
  border-radius: 30px;
  font-size: 14px;
  text-transform: uppercase;
}
.add-task-btn span{
  max-width: 7rem;
  -webkit-transition: max-width 0.5s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.add-task-btn:hover span {
  max-width: 7rem;
}
.fa-plus{
  color: #fff!important;
  font-size: 14px;
}
.fa-tasks{
  font-size: 14px;
}
.modal-title{
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
}
button:active{
  outline: none!important;
}
.submit-btn{
  background: #0ba118!important;
  height: 48px;
}


.cancel-btn{
  background:rgb(255, 1, 1)!important;
  height: 48px;
}
/**************** input css Start***********/
.wrap-input-effects { 
  position: relative; 
  width: 100%; 
  margin-bottom: 10px;
 }
 .input-green {
  font-size: 12px;
  line-height: 1.5;
  color: #666666;
  display: block; 
  width: 100%; 
  background: #fff;
  height: 40px;
  border-radius: 2px; 
  padding: 0 12px 0 45px;
  border: 1px solid lightgray;
 }
 .input-green::before {
   font-size: 12px;
   line-height: 1.5;
   color: #666666;
   display: block; 
   width: 100%; 
   background: #fff;
   height: 40px;
   border-radius: 2px; 
   padding: 0 25px 0 25px;
   border: 1px solid lightgray;
  }
 .input-green:focus{
  outline: none;
 }
 .input-green:focus + .focus-input + .symbol-input {
  color: #0ba118;
  padding-left: 12px;
  border: 1px solid #0ba118;
 //  border-radius: 15px;
 }
 
 .focus-input { 
  display: block; 
  position: absolute; 
 //  border-radius: 25px; 
  bottom: 0; 
  left: 0; 
  z-index: -1; 
  width: 100%; 
  height: 100%;	
  outline: none !important;
  border: none; 
  box-shadow: 0px 0px 0px 0px;
 }
 .symbol-input {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex; 
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; 
  align-items: center;
  position: absolute;
  //border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  padding-left: 18px;
  pointer-events: none;
  color: #666666;
 -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
 }
/*********************Input CSS End***************/

/**************************Table Start***************************/
.table-bg{
  background-color: #fff;
  border-radius: 0.25rem;
 // box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  }
  .table-header{
  height: 40px;
  text-align: center;
  // border-bottom: 5px solid #dcdcdc;
  background-color: #fff;;
  padding: 15px;
  padding-top:8px;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 0.25rem 0.25rem 0rem 0rem ;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  border: 1px solid #e2e2e2;
  }
  .tableFixHead {
  overflow-y: scroll;
  height: 83vh;
  }
  
  .tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: #f0faf0;
  z-index: 333;
  }
  table {
  border-collapse: collapse;
  width: 100%;
  }
  thead th{
  padding: 15px 12px!important;
  font-size:12px;
  color: rgb(56, 56, 56);
  font-weight: bold;
  }
  table td{
  padding: 12px 15px !important;
  font-size:12px;
  }
  .tdBorder{
  width: 250px!important;
  vertical-align: top;
  border-right: 1px solid #dee2e6!important;
  }
  .tableFixHead a{
  color: #000;
  }
  .tableFixHead .fa-long-arrow-alt-down{
  color: red;
  }
  .tableFixHead .fa-long-arrow-alt-up{
  color: #0ba118;
  }
  .red-halt{
  background-color: red;
  color: #fff!important;
  padding: 5px 10px;
  border-radius: 20px;
  }
  .tableFixHead::-webkit-scrollbar{
  display: none; 
  }
  
  .tableFixHeadDetail {
  overflow-y: auto;
  height: 226px;
  margin-top: 10px;
  }
  .tableFixHeadDetail thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  }
  .tableFixHeadDetail a{
  color: #000;
  }
  .tableFixHeadDetail .fa-long-arrow-alt-down{
  color: #0ba118;
  }
  .tableFixHeadDetail .fa-long-arrow-alt-up{
  color: red;
  }
  .tableFixHeadDetail::-webkit-scrollbar{
  display: none; 
  }
  .remark{
  widows: 100px !important;;
  }
  //  .text-trans{
  //    text-transform: lowercase!important;
  //  }
  //  .text-trans:first-line{
  //   text-transform: capitalize!important;
  // }
  /**************************Table End***************************/


/********************************** Tab End**********************************/


/*********** Custom CSS Start *************/
.mt-10{
  margin-top: 10px!important;
}