<!---------Task Management Section Start----------->
<section class="task-masters">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 top-header text-center">
                <b class="ward-header"> Task Management Masters</b>
            </div>
            <div class="col-md-12 mt-10" style="padding-left:10px;padding-right:10px;">
                <button class="tablink active-tab" (click)="setActiveTab('Department');" id="tabDepartment" style="display: none;">Task
                    Department</button>
                <button class="tablink" (click)="setActiveTab('Category');" id="tabCategory">Category</button>
                <button id="tabProjects" class="tablink" (click)="setActiveTab('Projects');"
                    >Projects</button>
                <button id="tabModules" class="tablink" (click)="setActiveTab('Modules');"
                    >Modules</button>

                <div id="Department" class="tabcontent show active">
                    <div class="row" style="margin-top:-52px;">
                        <div class="col-md-12">
                            <div class="table-bg">
                                <div class="tableFixHead">
                                    <table class="table table-hover"
                                        style="border-bottom:1px solid lightgray; margin-bottom: 110px;">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="tdBorder" style="width: 10%!important;">S No.</th>
                                                <th scope="col" class="tdBorder" style="width: 80%!important;">Task Department</th>
                                                <th scope="col" class="text-left" style="width: 10%!important;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of mainTaskList; let i=index">
                                                <td class="text-left tdBorder" >{{i+1}}</td>
                                                <td class="text-left tdBorder" >{{data.mainCat}}</td>
                                                <td class="text-left" >
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-edit"
                                                        (click)="openModel(contentDepartment,data.mainCat,'department');"
                                                        title="Edit Department"
                                                        style="cursor:pointer !important; font-size: 15px;color: royalblue;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-trash-alt"
                                                        (click)="deleteTaskDepartment(data.mainCat)"
                                                        title="Remove Department"
                                                        style="cursor:pointer !important; font-size: 15px;color: red;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="add-task">
                            <button type="button" class="btn btn-success add-task-btn"
                                (click)="openModel(contentDepartment,'0','department');">
                                <i class="fas fa-tasks" style="color: #fff!important;"></i> <span>&nbsp; Add Task</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="Category" class="tabcontent">
                    <div class="row" style="margin-top:-52px;">
                        <div class="col-md-12">
                            <div class="table-bg">
                                <div class="tableFixHead">
                                    <table class="table table-hover"
                                        style="border-bottom:1px solid lightgray; margin-bottom: 110px;">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="tdBorder" style="width: 10%!important;">S No.</th>
                                                <th scope="col" class="tdBorder" style="width: 80%!important;">Category</th>
                                                <th scope="col" class="text-left" style="width: 10%!important;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of categoryList; let i=index">
                                                <td class="text-left tdBorder">{{i+1}}</td>
                                                <td class="text-left tdBorder">{{data.name}}</td>
                                                <td class="text-left">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-edit"
                                                        (click)="openModel(contentCategory,data.id,'category');"
                                                        title="Edit Category"
                                                        style="cursor:pointer !important; font-size: 15px;color: royalblue;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-trash-alt" (click)="deleteCategory(data.id)"
                                                        title="Remove Category"
                                                        style="cursor:pointer !important; font-size: 15px;color: red;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="add-task">
                            <button type="button" class="btn btn-success add-task-btn"
                                (click)="openModel(contentCategory,'0','category');">
                                <i class="fas fa-plus" style="color: #fff!important;"></i> <span>&nbsp; Add Category</span>
                            </button>
                        </div>
                    </div>
                </div>                

                <div id="Projects" class="tabcontent">
                    <div class="row" style="margin-top:-52px;">
                        <div class="col-md-12">
                            <div class="table-bg">
                                <div class="tableFixHead">
                                    <table class="table table-hover"
                                        style="border-bottom:1px solid lightgray; margin-bottom: 110px;">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="tdBorder" style="width: 10%!important;">S No.</th>
                                                <th scope="col" class="tdBorder" style="width: 80%!important;">Projects</th>
                                                <th scope="col" class="text-left" style="width: 10%!important;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of projectList; let i=index">
                                                <td class="text-left tdBorder">{{i+1}}</td>
                                                <td class="text-left tdBorder">{{data.name}}</td>
                                                <td class="text-left">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-edit"
                                                        (click)="openModel(contentProject,data.id,'project');"
                                                        title="Edit Project"
                                                        style="cursor:pointer !important; font-size: 15px;color: royalblue;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-trash-alt" (click)="deleteProject(data.id)"
                                                        title="Remove Project"
                                                        style="cursor:pointer !important; font-size: 15px;color: red;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="add-task">
                            <button type="button" class="btn btn-success add-task-btn"
                                (click)="openModel(contentProject,'0','project');">
                                <i class="fas fa-plus" style="color: #fff!important;"></i> <span>&nbsp; Add Project</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="Modules" class="tabcontent">
                    <div class="row" style="margin-top:-52px;">
                        <div class="col-md-12">
                            <div class="table-bg">
                                <div class="tableFixHead">
                                    <table class="table table-hover"
                                        style="border-bottom:1px solid lightgray; margin-bottom: 110px;">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="tdBorder" style="width: 10%!important;">S No.</th>
                                                <th scope="col" class="tdBorder" style="width: 20%!important;">Projects</th>
                                                <th scope="col" class="tdBorder" style="width: 60%!important;">Modules</th>
                                                <th scope="col" class="text-left" style="width: 10%!important;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of taskList; let i=index">
                                                <td class="text-left tdBorder">{{i+1}}</td>
                                                <td class="text-left tdBorder">{{data.project}}</td>
                                                <td class="text-left tdBorder">{{data.name}}</td>
                                                <td class="text-left">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-edit"
                                                        (click)="openModel(contentModules,data.id,'module');"
                                                        title="Edit Module"
                                                        style="cursor:pointer !important; font-size: 15px;color: royalblue;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-trash-alt" (click)="deleteModule(data.id)"
                                                        title="Remove Module"
                                                        style="cursor:pointer !important; font-size: 15px;color: red;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="add-task">
                            <button type="button" class="btn btn-success add-task-btn"
                                (click)="openModel(contentModules,'0','module');">
                                <i class="fas fa-plus" style="color: #fff!important;"></i> <span>&nbsp; Add Module</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Task Department Start-->
<ng-template #contentDepartment>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Update Category</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="departmentId" value="0" />
                <div class="col-md-12 mt-10">
                    <label>Task Department</label>
                    <div class="wrap-input-effects" required>
                        <input id="txtDepartment" type="text" class="input-green" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-success w-100 submit-btn" (click)="addTaskDepartment()">
                        SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Task Department End-->


<!--Category Start-->
<ng-template #contentCategory>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Update Category</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="catId" value="0" />
                <input type="hidden" id="maincatId" value="0" />
                <div class="col-md-12" style="display: none;">
                    <label>Main Category </label>
                    <div class="wrap-input-effects" required>
                        <select id="ddlMainCategory" class="input-green">
                            <option value={{cat.mainCat}} *ngFor="let cat of mainTaskList">
                                {{cat.mainCat}}</option>
                        </select>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 mt-10">
                    <label>Category</label>
                    <div class="wrap-input-effects" required>
                        <input id="txtCategory" type="text" class="input-green" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-success w-100 submit-btn" (click)="addCategory()">
                        SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Category End-->


<!--Project Start-->
<ng-template #contentProject>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Update Project</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="projectId" value="0" />
                <input type="hidden" id="projectmaincatId" value="0" />
                <div class="col-md-12" style="display: none;">
                    <label>Main Category </label>
                    <div class="wrap-input-effects" required>
                        <select id="ddlMainProjectCategory" class="input-green">
                            <option value={{cat.mainCat}} *ngFor="let cat of mainTaskList">
                                {{cat.mainCat}}</option>
                        </select>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 mt-10">
                    <label>Project</label>
                    <div class="wrap-input-effects" required>
                        <input id="txtProject" type="text" class="input-green" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-success w-100 submit-btn" (click)="addProject()">
                        SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Project End-->


<!--Project Start-->
<ng-template #contentModules>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Update Project</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="moduleId" value="0" />
                <input type="hidden" id="modulemaincatId" value="0" />
                <input type="hidden" id="moduleprojectId" value="0" />
                <div class="col-md-12" style="display: none;">
                    <label>Main Category </label>
                    <div class="wrap-input-effects" required>
                        <select id="ddlMainModuleCategory" class="input-green" (change)="getModuleProject();">                            
                            <option value={{cat.mainCat}} *ngFor="let cat of mainTaskList">
                                {{cat.mainCat}}</option>
                        </select>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <label>Projects </label>
                    <div class="wrap-input-effects" required>
                        <select id="ddlProject" class="input-green">
                            <option value="0">--Select--</option>
                            <option value={{project.id}} *ngFor="let project of moduleProjectList">
                                {{project.name}}</option>
                        </select>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 mt-10">
                    <label>Module</label>
                    <div class="wrap-input-effects" required>
                        <input id="txtModule" type="text" class="input-green" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-success w-100 submit-btn" (click)="addModule()">
                        SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Project End-->