<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-12 col-lg-12 col-xl-12 main-headers Employees-heading">
            Scan Card Status
        </div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-7 card-outer">
            <div id="divLoader" class="loaderClass">
                <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
            </div>
            <div class="card custom-header-outer">
                <div class="card-header custom-header">
                    <div id="divByEmployee" class="row">

                        <div class="col-md-3">
                            <input id="txtSearch" type="text" class="filter-select filter-input" autocomplete="off" placeholder="Enter Card Serial No." (keyup)="getScanCardFilteredData();">
                        </div>
                        <div class="col-md-2 " style="text-align:center; padding-left: 5px!important; padding-right:5px!important ;">
                            <span style="color:green; font-weight: bold;"> {{summaryData.installed}}</span><br/>
                            <span style="font-size: 12px;">Installed</span>
                        </div>
                        <div class="col-md-2" style="text-align:center; padding-left: 5px!important; padding-right:5px!important ;">
                            <span style="color:red;font-weight: bold;">{{summaryData.unInstalled}}</span><br/>
                            <span style="font-size: 12px;">Un-Installed</span>
                        </div>
                        <div class="col-md-1" style="text-align:center; padding-left: 5px!important; padding-right:5px!important ;">
                            <i class="fa-solid fa-file-export" style="color:green; cursor: pointer; font-size: 20px;" (click)="exportScanCardStatus();"></i> <br/>
                            <span style="font-size: 12px;">Export</span>
                        </div>
                        <div class="col-md-4 " style="text-align: right; padding-right: 25px;font-size: 12px;">

                            <i class="fas fa-redo-alt refresh" aria-hidden="true" (click)="getScanCardData();"></i><br /> Last update date : {{summaryData.date}}

                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div id="divList" class="table-wrapper table-one" (scroll)="onContainerScroll();">
                                    <table class="table table-line">
                                        <thead>
                                            <th class="text-left br-1 table-heading1">
                                                Card No</th>
                                            <th class="text-left br-1 table-heading1">
                                                Scan Date</th>
                                            <th class="text-left br-1 table-heading1">
                                                Is Installed</th>
                                        </thead>
                                        <tbody>
                                            <tr id="tr{{i}}" *ngFor="let data of progressList; let i=index">
                                                <td class="text-left br-1">
                                                    {{data.cardNo}}
                                                </td>
                                                <td class="text-left br-1">
                                                    {{data.scanDate}}
                                                </td>
                                                <td class="text-center br-1">
                                                    <i class="fa-solid fa-check" style="color:green; font-size: 20px;" [hidden]="data.cardInstalled=='no'"></i>
                                                    <i class="fa-solid fa-xmark" style="color: red; font-size: 20px;" [hidden]="data.cardInstalled=='yes'"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 card-main">
            <div class="card card-body-outer">
                <div id="content" #content class="card-body card-body2">
                    <div class="row">

                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">

                                    </div>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center form-group-outer">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>