<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-6" style="padding-left: 10px;">
            <select class="caret-select" id="ddlYear" (change)="changeYearSelection($event.target.value)" style="width: 150px;" [(ngModel)]="selectedYear">
                <option value="0">Year</option>
                <option value={{yer.year}} *ngFor="let yer of yearList"
                    ngSelected="yer.year == selectedYear?'selected':''">{{yer.year}}</option>
            </select>
            <select class="caret-select" id="ddlMonth" (change)="changeMonthSelection($event.target.value)" style="width: 150px;">
                <option value="0">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <select class="caret-select" id="ddlRoles" (change)="getFilterEmployeeList($event.target.value)" style="width: 150px;">
                <option value="0">All</option>
                <option value="Driver">Driver</option>
                <option value="Helper">Helper</option>
            </select>
        </div>
        <div class="col-md-2" style="margin-top: 10px; text-align: center;"></div>
        <div class="col-md-4" style="margin-top: 0px;">

        </div>
    </div>
</section>
<section class="halts" style="padding-left: 10px;">
    <div class="container-fluid">
        <div class="row" style="margin-top: -40px;">
            <div class="col-md-12" style="padding-left: 5px;">
                <div>
                    <div class="table-bg">
                        <div id="tblDownload" class="tableFixHead">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class=" thFixed" style="z-index: 11; padding-top: 10px!important; padding-bottom: 10px!important;">
                                            Name</th>
                                        <th scope="col" class="text-left thFixed1" style="z-index: 11; padding-top: 10px!important; padding-bottom: 10px!important;">
                                            Salary</th>
                                        <th scope="col" class="text-center">01</th>
                                        <th scope="col" class="text-center">02</th>
                                        <th scope="col" class="text-center">03</th>
                                        <th scope="col" class="text-center">04</th>
                                        <th scope="col" class="text-center">05</th>
                                        <th scope="col" class="text-center">06</th>
                                        <th scope="col" class="text-center">07</th>
                                        <th scope="col" class="text-center">08</th>
                                        <th scope="col" class="text-center">09</th>
                                        <th scope="col" class="text-center">10</th>
                                        <th scope="col" class="text-center">11</th>
                                        <th scope="col" class="text-center">12</th>
                                        <th scope="col" class="text-center">13</th>
                                        <th scope="col" class="text-center">14</th>
                                        <th scope="col" class="text-center">15</th>
                                        <th scope="col" class="text-center">16</th>
                                        <th scope="col" class="text-center">17</th>
                                        <th scope="col" class="text-center">18</th>
                                        <th scope="col" class="text-center">19</th>
                                        <th scope="col" class="text-center">20</th>
                                        <th scope="col" class="text-center">21</th>
                                        <th scope="col" class="text-center">22</th>
                                        <th scope="col" class="text-center">23</th>
                                        <th scope="col" class="text-center">24</th>
                                        <th scope="col" class="text-center">25</th>
                                        <th scope="col" class="text-center">26</th>
                                        <th scope="col" class="text-center">27</th>
                                        <th scope="col" class="text-center">28</th>
                                        <th scope="col" class="text-center">29</th>
                                        <th scope="col" class="text-center">30</th>
                                        <th scope="col" class="text-center">31</th>
                                    </tr>
                                </thead>
                                <tbody>


                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>