<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<div>
    <section class="header ">
        <div class="row no-gutters ">
            <div class="offset-3 col-6 heading text-center">
                <b class="header-text">Ward Work Percentage  </b>
            </div>
        </div>
    </section>
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-12">
                                <b style="font-size: 16px;">Ward Work Percentage</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Date</label>
                                <div class="wrap-input-effects" required>
                                    <input id="txtDate" class="caret-select custom-date-input" type="date" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Zone</label>
                                <div class="wrap-input-effects" required>
                                    <select class="caret-select" id="ddlZone" (change)="onZoneChange($event)">
                                        <option value="{{d.zoneNo}}" *ngFor="let d of zoneList">{{d.zoneName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Filled Percentage</label>
                                <div class="wrap-input-effects" required>
                                    <input id="txtPercentage" class="caret-select" type="number" max="100" />
                                </div>
                            </div>
                            <div class="col-md-4" style="padding-top: 18px;">
                                <button id="btnSave" class="btn btn-success btn-xs" (click)="saveData();">SAVE</button>
                                <button *ngIf="selectedZoneValue && selectedZoneValue !== '0'" class="btn btn-primary btn-xs" (click)="showHistoryForSelectedZone();">SHOW HISTORY</button>
                                <img id="divLoader" src="../../../assets/img/loading.gif" width="30" style="display: none;">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 4px;">
                            <div class="col-md-12 pr-1">
                                <label id="lblMsg" style="color:red; font-size: 14px; margin-bottom: 0;"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2px;">
            <div class="col-md-12">
                <div class="card" style="min-height: calc(100vh - 200px);">
                    <div class="card-body">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-12">
                                <b style="font-size: 16px;">
                                    Update History
                                    <span *ngIf="currentHistoryZone" style="font-weight: normal; color: #555;">
                                        &mdash; {{getZoneNameById(currentHistoryZone)}}
                                    </span>
                                </b>
                            </div>
                        </div>

                        <div class="row" *ngIf="!currentHistoryZone && !isLoadingHistory">
                            <div class="col-md-12 text-center" style="color: gray;">
                                Select a zone above and click <b>SHOW HISTORY</b> to view its update history.
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;" *ngIf="isLoadingHistory">
                            <div class="col-md-12 text-center">
                                <img src="../../../assets/img/loading.gif" width="30">
                                <span style="margin-left:8px;">Loading history...</span>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;" *ngIf="historyLoaded && historyDisplayList.length === 0 && !isLoadingHistory && currentHistoryZone">
                            <div class="col-md-12 text-center" style="color: gray;">
                                No update history found for this zone yet.
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px;" *ngIf="historyDisplayList.length > 0 && !isLoadingHistory">
                            <div class="col-md-12" style="overflow: auto; max-height: calc(100vh - 320px);">
                                <table class="table table-bordered table-hover">
                                    <thead style="background-color: #f5f5f5;">
                                        <tr>
                                            <th style="width: 40px; font-size: 14px;">#</th>
                                            <th style="font-size: 14px;">Update Time</th>
                                            <th style="font-size: 14px;">User</th>
                                            <th style="font-size: 14px;">Target Date</th>
                                            <th style="font-size: 14px;">Entered %</th>
                                            <th style="font-size: 14px;">Work %</th>
                                            <th style="font-size: 14px;">Completed Lines</th>
                                            <th style="font-size: 14px;">Covered Distance</th>
                                            <th style="font-size: 14px;">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 12px;">
                                        <tr *ngFor="let row of historyDisplayList; let i = index">
                                            <td>{{i + 1}}</td>
                                            <td>{{formatUpdateDateTime(row.updateDateTime)}}</td>
                                            <td>{{row.userName}}</td>
                                            <td>{{row.targetDate}}</td>
                                            <td>{{row.enteredPercentage}}%</td>
                                            <td>
                                                <span *ngIf="row.detail?.old?.workPercentage !== undefined">
                                                    {{row.detail.old.workPercentage}}% &rarr; {{row.detail.afterUpdate?.updatedWorkPercentage}}%
                                                </span>
                                                <span *ngIf="row.detail?.old?.workPercentage === undefined">&mdash;</span>
                                            </td>
                                            <td>
                                                <span *ngIf="row.detail?.old">
                                                    {{row.detail.old.completedLines}} &rarr; {{row.detail.afterUpdate?.completedLines}}
                                                </span>
                                                <span *ngIf="!row.detail?.old">&mdash;</span>
                                            </td>
                                            <td>
                                                <span *ngIf="row.detail?.old">
                                                    {{row.detail.old.wardCoveredDistance || 0}} m &rarr; {{row.detail.afterUpdate?.wardCoveredDistance || 0}} m
                                                </span>
                                                <span *ngIf="!row.detail?.old">&mdash;</span>
                                            </td>
                                            <td>{{row.status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>