<section class="header">
    <div class="row no-gutters">
        <div class="col-md-4">
            <input type="button" class="btn btn-success submit-btn-add" value="Add New"
                (click)="openModel(contentDustbin,'0','add');" />
        </div>
        <div class="col-md-4 Ward-Marking-heading">
            Manage Dustbin

        </div>
        <div class="col-md-4 Ward-Marking-heading">
            <span style="float: right; text-align: center; font-size: 10px!important; padding-right: 20px">
                <!-- <i class="fa-solid fa-file-export" style="cursor:pointer; color:#0ba118 !important;  font-size: 24px; "
                    (click)="exportToExcel();"></i> -->
                <img src="../../../assets/icons/file-export-solid.svg" alt="file" class="icon-green cursor-pointer"
                    width="24" (click)="exportToExcel();" />
                <br />
                Export to Excel
            </span>
        </div>




    </div>

</section>

<div class="main-content">

    <div class="row">
        <div class="col-md-7 loaderClass-outer">
            <div id="divLoader" class="loaderClass">
                <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
            </div>
            <div class="card custom-header-outer">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-4 input-class">
                            <div class="wrap-input-effects" required>
                                <select class="caret-select zone-select" id="ddlZone"
                                    (change)="changeZoneSelection($event.target.value)">
                                    <option *ngFor="let zone of zoneList" value={{zone.zoneNo}}>
                                        {{zone.zone}}
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-4 input-class">
                            <div class="wrap-input-effects" required>
                                <select class="caret-select zone-select" id="ddlStatus"
                                    (change)="changeStatusSelection($event.target.value)">
                                    <option value="all">
                                        All Dustbin
                                    </option>
                                    <option selected value="enabled">
                                        Enabled
                                    </option>
                                    <option value="disabled">
                                        Disabled
                                    </option>
                                </select>
                            </div>

                        </div>

                        <div class="col-md-2 extra-class">
                            <span class="fw-bold"> {{dustbinSummary.totalDustbin}}<br></span>
                            <span>Total</span>
                        </div>
                        <div class="col-md-2 extra-class">
                            <span class="fw-bold"> {{dustbinSummary.wardDustbin}}<br></span>
                            <span>Zone </span>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body3">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="table-wrapper table-scroll table-outer">
                                            <table class="table table-outer-iner">
                                                <thead>
                                                    <th class="table-data-line2">Address</th>
                                                    <th class="table-data-Markers2">Type</th>
                                                    <th class="table-data-line2">Lat-Lng</th>
                                                    <th class="table-data-Markers2">Frequency</th>
                                                    <th class="table-data-line2" [hidden]="isShowDisabledBy=='0'">
                                                        Disabled By</th>
                                                    <th class="table-data-action">Action</th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of dustbinList; let i=index">
                                                        <td class="table-data2">
                                                            {{data.address}}</td>
                                                        <td class="table-data2">
                                                            {{data.type}}
                                                        </td>
                                                        <td class="table-data2">
                                                            {{data.lat}}-{{data.lng}}
                                                        </td>
                                                        <td class="table-data2 text-right">
                                                            {{data.pickFrequency}}
                                                        </td>
                                                        <td class="table-data2" [hidden]="isShowDisabledBy=='0'">
                                                            {{data.disabledByName}}
                                                        </td>
                                                        <td class="table-data2">
                                                            <!-- <i class="far fa-edit edit-icon"
                                                                (click)="openModel(contentDustbin,data.dustbin,'update');"
                                                                title="Edit Entry"></i> -->
                                                            <img src="../../../assets/icons/pen-to-square-solid.svg"
                                                                alt="pen to square" class="cursor-pointer" width="20"
                                                                (click)="openModel(contentDustbin,data.dustbin,'update');"
                                                                title="Edit Entry" style="margin-right: 5px;" />
                                                            <!-- <i class="fa-solid fa-check check-icon"
                                                                [hidden]="data.isDisabled=='yes'"
                                                                (click)="updateDustbinStatus(data.dustbin,'yes');"
                                                                title="Disable Dustbin"></i> -->
                                                            <img src="../../../assets/icons/check-solid.svg"
                                                                alt="check-icon" class="icon-green cursor-pointer"
                                                                [hidden]="data.isDisabled=='yes'" width="18"
                                                                (click)="updateDustbinStatus(data.dustbin,'yes');"
                                                                title="Disable Dustbin" />
                                                            <!-- <i class="fa-solid fa-xmark xmark-icon"
                                                                [hidden]="data.isDisabled=='no'"
                                                                (click)="updateDustbinStatus(data.dustbin,'no');"
                                                                title="Enable Dustbin"></i> -->
                                                            <img src="../../../assets/icons/xmark-solid.svg"
                                                                alt="check-icon" class="icon-red cursor-pointer"
                                                                width="18" [hidden]="data.isDisabled=='no'"
                                                                (click)="updateDustbinStatus(data.dustbin,'no');"
                                                                title="Enable Dustbin" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="divmessage" id="divMessage" class="col-md-12 pr-1 text-center">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #contentDustbin>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Manage Dustbin</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body2">
                <input id="dustbinId" type="hidden" value="0" />
                <div class="row">
                    <div class="col-md-12 wrap-input-effects" required>
                        <label class="flot">Address</label>
                        <input id="txtaddress" type="text" class="input-green" readonly />
                    </div>
                    <div class="col-md-6 wrap-input-effects" required>
                        <label class="flot">Zone</label>
                        <select id="ddlZoneUpdate" class="input-green">
                            <option *ngFor="let dt of zoneList" value={{dt.zoneNo}}>
                                {{dt.zone}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 wrap-input-effects" required>
                        <label class="flot">Ward</label>
                        <input id="txtWard" type="text" class="input-green" />
                    </div>
                    <div class="col-md-6 wrap-input-effects" required>
                        <label class="flot">Latitude</label>
                        <input id="txtLat" type="text" class="input-green" />
                    </div>
                    <div class="col-md-6 wrap-input-effects" required>
                        <label class="flot">Longitude</label>
                        <input id="txtLng" type="text" class="input-green" />
                    </div>
                    <div class="col-md-6 wrap-input-effects" required>
                        <label class="flot">Pick Frequency</label>
                        <input id="txtFreq" type="number" class="input-green" />
                    </div>
                    <div class="col-md-6 wrap-input-effects" required>
                        <label class="flot">Type</label>
                        <select id="ddlDustbinType" class="input-green">
                            <option value="Rectangular">
                                Rectangular
                            </option>
                            <option value="Circular">
                                Circular
                            </option>
                        </select>
                    </div>
                </div>
                <input type="button" class="btn btn-success submit-btn" value="SUBMIT" (click)="addUpdateDustbin();" />
                <input type="button" class="btn btn-success cancel-btn" value="CANCEL" (click)="closeModel();" />
            </div>
        </div>
    </div>


</ng-template>