<div>
<section class="header ">
  <div class="row no-gutters ">
    <div class="offset-3 col-6 heading text-center">
      <b class="header-text"> Petrol Inventory Entry </b>
    </div>
  </div>
</section>
<div  class="main-content">
  <div id="alertBox" style="position: absolute;border-radius: 5px; width:350px; height: 250px; border: 1px solid lightgrey; left: 68vh; top:12vh; padding: 10px; z-index: 99; display: none; background-color: white; text-align: left;">
    <b>Alert Message</b>
    <hr />
    <form>
      <div class="row">
        <div class="col-md-12 pr-1">
          <p><b>You have already submit same data:</b><br />
            <span style="font-size: 12px;">
            Date : {{vehicleDataDetail.date}}<br />
            Vehicle No. : {{vehicleDataDetail.vehicleNo}}<br />
            Liters : {{vehicleDataDetail.liters}}<br /></span>
          </p>
        </div>
        <div class="col-md-12 pr-1">
          <button class="btn btn-success btn-xs" (click)="saveAllData();">CONTINUE TO SAVE</button>
                <button id="btnRejectCancel" class="btn btn-danger btn-xs" (click)="cancelEntry();">CANCEL</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label>Date</label>
              <div class="wrap-input-effects" required>
                <input class="input-green" type="date" name="date" placeholder="" id="date" value="" autocomplete="off" (change)="setPreImage();">
                <span class="focus-input"></span>
                <span class="symbol-input">
                  <i class="fas fa-calendar-day" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Vehicle No.</label>
              <div class="wrap-input-effects" required>
                <input id="ddlVehicle" name="ddlVehicle" class="input-green" placeholder="Select Vehicle"
                  (keyup)="getFilters();" (focus)="showList();" (blur)="hideList();" autocomplete="off" />
                <div id="vehicleList" class="vehicle-list">
                  <ul (click)="getValue($event);">
                    <li *ngFor="let data of vehicleList">{{data.vehicle}}</li>
                  </ul>
                </div>
                <span class="focus-input"></span>
                <span class="symbol-input">
                  <i class="fas fa-truck" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Meter Reading <span id="kmReading" style="display:none;"></span></label>
              <div class="wrap-input-effects" required>
                <input class="input-green" type="number" name="km" placeholder="KM Reading" id="km" value=""
                  autocomplete="off" (change)="checkReading();">
                <span class="focus-input"></span>
                <span class="symbol-input">
                  <i class="fas fa-tachometer-alt" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-md-4">
              <label>Liters Filled</label>
              <div class="wrap-input-effects" required>
                <input class="input-green" type="number" name="liters" placeholder="Liters Filled" id="liters" value=""
                  (change)="getAmount();" autocomplete="off">
                <span class="focus-input"></span>
                <span class="symbol-input">
                  <i class="fas fa-gas-pump" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Price</label>
              <div class="wrap-input-effects" required>
                <input class="input-green" type="number" name="price" placeholder="Price" id="price" value=""
                  (change)="getAmount();" autocomplete="off">
                <span class="focus-input"></span>
                <span class="symbol-input">
                  <i class="fas fa-rupee-sign" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Amount</label>
              <div class="wrap-input-effects" required>
                <input class="input-green" type="number" name="amount" placeholder="Amount" id="amount" value=""
                  (change)="getPrice();" autocomplete="off">
                <span class="focus-input"></span>
                <span class="symbol-input">
                  <i class="fas fa-rupee-sign" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-md-4">
              <label>Petrol Pump Address</label>
              <div class="wrap-input-effects" required>
                <input class="input-green" type="text" name="address" placeholder="Petrol Pump Address" value="Panwar Filling Station" id="address"
                  value="">
                <span class="focus-input"></span>
                <span class="symbol-input">
                  <i class="fas fa-location-arrow" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Remark</label>
              <div class="wrap-input-effects" required>
                <input class="input-green" type="text" name="remark" placeholder="Remark" id="remark" value="">
                <span class="focus-input"></span>
                <span class="symbol-input">
                  <i class="fas fa-comment-medical" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Upload Slip</label>
              <div class="file-upload-wrapper" data-text="Upload Your Slip" required>
                <input type="file" name="file" class="file-upload-field" placeholder="" value=""
                  (change)="onFileChanged($event)">
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <button id="btnSave" class="btn btn-success btn-xs" (click)="saveData();">SAVE</button>
                <button id="btnCancel" class="btn btn-danger btn-xs" (click)="cancelEntry();">CANCEL</button>
                <img id="divLoader" src="../../../assets/img/loading.gif" width="30" style="display: none;">
              </div>
            </div>
          </div>
          <img id="source_image"  style="display: none;" />
          <img id="result_compress_image" class='img_container' />
          <canvas id="myCanvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
</div>