<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<div>
    <section class="header ">
        <div class="row no-gutters ">
            <div class="offset-3 col-6 heading text-center">
                <b class="header-text"> Manage Marker Data </b>
            </div>
        </div>
    </section>
    <div class="main-content">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6 pr-1">
                                Set Marker Data in Flat Structure
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <button class="btn btn-success btn-xs" (click)="setMarkerData();">update</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6 pr-1">
                                Set Marker Ward/Line Mapping
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <button class="btn btn-success btn-xs" (click)="setMarkerMapping();">update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>