<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<div>
    <section class="header ">
        <div class="row no-gutters ">
            <div class="offset-3 col-6 heading text-center">
                <b class="header-text"> Manage Marker Data </b>
            </div>
        </div>
    </section>
    <div class="main-content">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-top: 15px; border-bottom: 1px solid lightgrey;">
                            <div class="col-md-12 pr-1">
                                <b> Set Marker Data in Flat Structure</b>

                                <button class="btn btn-success btn-xs" (click)="setMarkerData();" style="float: right;">update</button>

                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12 pr-1">
                                <b>  Set Marker Ward/Line Mapping</b>
                                <button class="btn btn-success btn-xs" (click)="setMarkerMapping();" style="float: right;">update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>