.dashboard{background:url(../../../assets/img/home-bg.jpg) no-repeat; width:100%;  background-size:cover; min-height:100vh; 
    background-attachment: fixed; }
.dashboard{
   background-color: #fff;
}
.home-header{
   background-color: #262127;
   color: #fff;
   height: 57px;
   padding-top: 12px;
   font-size: 20px;
   letter-spacing: 2px;
   position: relative;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
}
.home-header a{
   position: absolute;
   right: 10px;
   top: 18px;
   font-size: 16px;
   color: #fff;
}
.dashboard-widgets{
   // width: 150px;
   height: 150px;
   line-height: 125px;
   margin-top: 20px;
   text-align: center;
  border-radius: 4px;
   padding: 15px;
   background-color: #e7e7e7;
   
}
.dashboard-widgets img{
   position: relative;
}
.dashboard-widgets:hover{
   -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.dashboard-widgets a{
   color: #333333;
  // font-size: 15px;
   cursor: pointer;
   text-decoration: none;
}
.dashboard-widgets i{
   color: #0ba118;
   font-size: 48px;
}
.dashboard-widgets i:hover{
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);	
   -webkit-transition: .5s all ease;
   -moz-transition: .5s all ease;
   transition: .5s all ease;
}
.dashboard-widgets span{
   display: inline-block;
   vertical-align: middle;
   line-height: 2;
}


.dashboard-widgets-update{
   // width: 150px;
   height: 150px;
   
   margin-top: 20px;
   text-align: center;
  border-radius: 4px;
   background-color: #e7e7e7;
   
}
.caret-select{
   margin-top: 0px!important; 
   padding:6px 10px;
   border-radius: 5px;
   border:none!important;
   width: 97%;
   font-size: 10px;
}
.caret-select:focus{
   outline: none!important;
}
button:focus-visible{
   outline: none!important;
}
.btn-update{
   border-width: 2px;
   font-weight: 400;
   font-size: 0.8571em;
   line-height: 1.35em;
   border: none;
   margin: 0px 5px 5px -4px;
   border-radius: 0.1875rem;
   padding: 6px 9px;
   cursor: pointer;
   background-color: #2dbd23;
   color: #FFFFFF;
   text-transform: uppercase;
}

.heading{
   top:0;
   background-color: #368d30;
   color: #fff;
   text-align: center;
   padding: 10px 10px;
   font-weight: bold;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
}
.dashboard-widgets-update img{
   position: relative;
}
.dashboard-widgets-update:hover{
   -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.dashboard-widgets-update a{
   color: #333333;
  // font-size: 15px;
   cursor: pointer;
   text-decoration: none;
}
.dashboard-widgets-update i{
   color: #0ba118;
   font-size: 48px;
}
.dashboard-widgets-update i:hover{
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);	
   -webkit-transition: .5s all ease;
   -moz-transition: .5s all ease;
   transition: .5s all ease;
}
.dashboard-widgets-update span{
   display: inline-block;
   vertical-align: middle;
   line-height: 2;
}

.home-footer{
   position: fixed;
   bottom: 0;
   left: 0;
   border-top: 2px  solid lightgray;
   color: #fff;
   height: 60px;
   padding-top: 18px;
   font-size: 14px;
   background-color: #262127;
}
.col-md-2{
   padding-right: 5px;
   padding-left: 10px;
}
.fa-facebook-f{
   color:#3b5998 ;
   font-size: 14px!important;
}
.fa-twitter{
   color: #00acee ;
   font-size: 14px!important;
}
.fa-linkedin-in{
   color:#0e76a8 ;
   font-size: 14px!important;
}
.fa-instagram{
   font-size: 14px!important;
}


.dashboard-widgets-disabled{
   opacity: 0.4; 
   cursor: no-drop;
   height: 150px;
   line-height: 125px;
   margin-top: 20px;
   text-align: center;
  border-radius: 4px;
   padding: 15px;
   border: 1px solid rgb(184, 184, 184);
   background-color: #e7e7e7;  
}
.dashboard-widgets-disabled i{
   color: #a3a2a2;
   font-size: 48px;
   cursor: no-drop;
}
.dashboard-widgets-disabled span{
   display: inline-block;
   vertical-align: middle;
   line-height: 2;
}
.dashboard-widgets-disabled a{
   pointer-events: none;
   color: #636363;
   //font-size: 15px;
   cursor: no-drop;
   text-decoration: none; 
}

// new css


.more-cards{
   width: 100%;
   min-height: 146px;
   //background-color: #e7e7e7;
   border-radius: 5px;
   padding: 10px;
   text-align: center;
   cursor: pointer;
   color: #000;
   //display: table;
   display: flex;
   justify-content:center;
   align-items: center;

   /* "to left" / "to right" - affects initial color */
   //background: linear-gradient(to left, #e7e7e7 50%, #0ba118 50%) right;
   //background-size: 200%;
   //transition: .5s ease-out;

   position: relative;
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1); 
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1); 
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1);
   transition: all 200ms ease-in;
   transform: scale(1); 
}
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
.rainbow {
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: 1rem;
}
	
.rainbow:hover:before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#23e733, #23e733), linear-gradient(#fff, #fff), linear-gradient(#23e733, #23e733), linear-gradient(#fff, #fff);
		animation: rotate 4s linear infinite;
	}
	
.rainbow::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 2px;
		top: 2px;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		background: #e4e4e4;
		border-radius: 5px;
	}
.more-cards:hover {
   background-position: left;
   color: #000;
   -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);

 //box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.03);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.03);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.03);
    transition: all 200ms ease-in;
    transform: scale(1.03);
}
.vertical{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
i{
   font-size: 48px;
   transition: 0.70s;
   -webkit-transition: 0.70s;
   -moz-transition: 0.70s;
   -ms-transition: 0.70s;
   -o-transition: 0.70s;   
   color: #0ba118;
}
.more-cards:hover i{
   color: #0ba118;
   transition: 0.70s;
 } 
.more-cards h3{
   margin: 0px;
   font-size: 12px;
   text-transform: capitalize;
   font-weight: normal;
   margin-top: 5px;
}
.imp-text{
   color: #0ba118;
   font-weight: bold;
   letter-spacing: 1px;
 }







