<section class="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 home-header">
        Portal <span class="imp-text">Services</span>
      </div>
    </div>   
    <div class="row" style="margin-top: -10px;">
      <div id="divLineCard"    class="col-md-2" style="padding-left: 17px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow" (click)="goToPage('/8A/line-card-mapping');">
          <div class="vertical">
          <i class="now-ui-icons location_pin" style="font-weight: bold;"></i> <br>
          <h3>Line Card Mapping</h3>
        </div>
        </div>
       </div>
       <div id="divLineMarker"    class="col-md-2" style="padding-left: 17px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow" (click)="goToPage('/8F/line-marker-mapping');">
          <div class="vertical">
          <i class="now-ui-icons location_pin" style="font-weight: bold;"></i> <br>
          <h3>Line Marker Mapping</h3>
        </div>
        </div>
       </div>
       <div id="divWorkPercentage"  class="col-md-2" style="padding-left: 7px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow"  (click)="goToPage('/8B/ward-work-percentage');">
          <div class="vertical">
            <i class="fas fa-percentage"></i> <br>
          <h3>Work Percentage</h3>
        </div>
        </div>
       </div>
       <div id="divMapReview"    class="col-md-2" style="padding-left: 17px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow" (click)="goToPage('/8E/map-card-review');">
          <div class="vertical">
          <i class="now-ui-icons location_pin" style="font-weight: bold;"></i> <br>
          <h3>Map Card Review</h3>
        </div>
        </div>
       </div>
       <div id="divTaskMasters"  class="col-md-2" style="padding-left: 7px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow"  (click)="goToPage('/8D/task-management-masters');">
          <div class="vertical">
            <i class="fas fa-tasks"></i> <br>
          <h3>Task Masters</h3>
        </div>
        </div>
       </div>       
       <div id="divVTSRoute"  class="col-md-2" style="padding-left: 7px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow"  (click)="goToPage('/8G/vts-route');">
          <div class="vertical">
            <i class="fas fa-tasks"></i> <br>
          <h3>VTS Route</h3>
        </div>
        </div>
       </div>
       <div id="divCreateRouteOld"  class="col-md-2" style="padding-left: 7px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow"  (click)="goToPage('/8H/create-route');">
          <div class="vertical">
            <i class="fas fa-tasks"></i> <br>
          <h3>Create Route Old</h3>
        </div>
        </div>
       </div>
       <div id="divCreateRoute"  class="col-md-2" style="padding-left: 7px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow"  (click)="goToPage('/8J/create-routes');">
          <div class="vertical">
            <i class="fas fa-tasks"></i> <br>
          <h3>Create Route</h3>
        </div>
        </div>
       </div>
       <div id="divCreateLinePath"  class="col-md-2" style="padding-left: 7px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow"  (click)="goToPage('/8I/create-ward-line-path');">
          <div class="vertical">
            <i class="fas fa-tasks"></i> <br>
          <h3>Create Line Path</h3>
        </div>
        </div>
       </div>
       <div id="divUploadRouteExcel"  class="col-md-2" style="padding-left: 7px; padding-right: 8px; padding-top: 25px; display: none;">
        <div class="more-cards rainbow"  (click)="goToPage('/8K/upload-route-excel');">
          <div class="vertical">
            <i class="fas fa-tasks"></i> <br>
          <h3>Upload Route Excel</h3>
        </div>
        </div>
       </div>
      <div id="divReachCost" class="col-md-2" style="display: none;">
        <div class="dashboard-widgets-update">
          <div class="heading">Ward Reach Cost Data</div>
          <div class="row" style="padding:10px; margin-top: 4px;">
            <div class="col-md-6" style="padding-left: 10px; padding-right: 5px;">
              <select id="ddlMonth" class="caret-select">
                <option value="0">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
            <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
              <select id="ddlYear" class="caret-select">
                <option value="0">Year</option>
                <option value={{yer.year}} *ngFor="let yer of yearList">{{yer.year}}</option>
              </select>
            </div>
            
          </div>
          <div class="row" style="padding:3px;">
            <div class="col-md-6" style="padding-left: 18px; padding-right: 0px;">
              <select id="ddlZone" class="caret-select">
                <option value="{{zone.zoneNo}}" *ngFor="let zone of zoneList">{{zone.zoneName}}</option>
              </select>
            </div>
            <div class="col-md-6" style="padding-left: 10px; padding-right: 0px;">
              <button class="btn-update" (click)="setWardDutyDataAll();">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center home-footer">
        Copyright by <b
          style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">WeVOIS</b>
        &nbsp; <a href="https://www.facebook.com/wevois/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        &nbsp; <a href="https://twitter.com/wevois?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
        &nbsp; <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
        &nbsp; <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank"><i
            class="fab fa-instagram"></i></a>
      </div>
    </div>

  </div>
</section>