<section >
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12 home-header">
                Portal <span class="imp-text">Services</span>
            </div>
        </div>
        <div class="blur-bg"></div>
         <div class="menuScroll">
        <div class="row">
            <div class="col-md-12 monitoring-card">
            <div class="monitoring-card-row">
                <div class="monitoring-card-item"  id="divPenalty" style="display: none;" (click)="goToPage('/8M/penalty-portal-service');">
                  
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconPenalty.svg" alt="sack-dollar-solid"
                            class="icon-green" style="width:50px;" />
                        </div>
                          <div class="infoRight">
                        <h3>Penalty</h3>
                        </div>
                 
                </div>
                <div class="monitoring-card-item" id="divAccount" style="display: none;" (click)="goToPage('/8N/employee-account-service');">
                 
                           <div class="imgbg">
                        <img src="../../../assets/icons/tasks-solid.svg" alt="tasks-solid" class="icon-green"
                            style="width:50px;" />
                         </div>
                             <div class="infoRight">
                        <h3>Employee Account</h3>
                        </div>
               
                </div>
                <div class="monitoring-card-item" id="divKMLtoJSON"  style="display: none;" (click)="goToPage('/8O/kml-to-json');">
                    
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconJSON.svg" alt="gauge-solid" class="icon-green"
                            style="width:50px;" />
                        </div>
                         <div class="infoRight">
                        <h3>Boundary Kml to Json</h3>
                        </div>
                 
                </div>
                <div class="monitoring-card-item"  id="divWorkPercentage"  style="display: none;" (click)="goToPage('/8Q/ward-work-percentage');">
                  
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconPercentage.svg" alt="percent" class="icon-green"
                            style="width:50px;" /> 
                        </div>
                          <div class="infoRight">
                        <h3>Work Percentage</h3>
                        </div>
                    
                </div>
                <div class="monitoring-card-item" id="divChangeLineData" style="display: none;" (click)="goToPage('/8R/change-line-surveyed-data');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconChangeLine.svg" alt="square-poll-vertical-solid"
                            class="icon-green" width="50px" />
                        </div>
                         <div class="infoRight">
                        <h3>Change Line Surveyed Data</h3>
                        </div>
                  
                </div>
                <div class="monitoring-card-item"  id="divChangeLineMarkerData"  style="display: none;" (click)="goToPage('/8X/change-line-marker-data');">
                 
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconChangeLine.svg" alt="map-location-dot-solid"
                            class="icon-green" width="50px" />
                        </div>
                         <div class="infoRight">
                        <h3>Change Line Marker Data</h3>
                        </div>
                 
                </div>
                <div class="monitoring-card-item" id="divSettings" style="display: none;" (click)="goToPage('/8S/settings');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconSetting.svg" alt="gears-solid" class="icon-green"
                            style="width:50px;" />
                        </div>
                          <div class="infoRight">
                        <h3>Settings</h3>
                        </div>
                  
                </div>
                <div class="monitoring-card-item" id="divWebPortalSettings" style="display: none;" (click)="goToPage('/8A5/web-portal-setting');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconPortalServices.svg" alt="gears-solid" class="icon-green"
                            style="width:50px;" />
                        </div>
                           <div class="infoRight">
                        <h3>Web Portal Settings</h3>
                        </div>
                 
                </div>
                <div class="monitoring-card-item" id="divDustbinWardMapping" style="display: none;" (click)="goToPage('/8V/dustbin-ward-mapping');">
               
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconDustbin.svg" alt="trash3-fill" class="icon-green"
                            width="50px;" /> 
                        </div>
                           <div class="infoRight">
                        <h3>Dustbin Ward Mapping</h3>
                        </div>
                 
                </div>
                <div class="monitoring-card-item"  id="divOpenDepotWardMapping"  style="display: none;" (click)="goToPage('/8A4/open-depot-ward-mapping');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconOpenDepotPlan.svg" alt="trash3-fill" class="icon-green"
                            width="50px" /> 
                        </div>
                         <div class="infoRight">
                        <h3>Open Depot Ward Mapping</h3>
                        </div>
                   
                </div>
                <div class="monitoring-card-item" id="divWardLineWeightage" style="display: none;" (click)="goToPage('/8W/line-weightage');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconRoute.svg" alt="warehouse-solid" class="icon-green"
                            width="50px" /> 
                        </div>
                         <div class="infoRight">
                        <h3>Ward Line Weightage</h3>
                        </div>
                   
                </div>
                <div class="monitoring-card-item" id="divScanCardManipulation"  style="display: none;" (click)="goToPage('/8Y/scan-card-manipulation');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconScanCard.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                         </div>
                          <div class="infoRight">
                        <h3>Scan card Modification</h3>
                        </div>
                  
                </div>
                <div class="monitoring-card-item" id="divSetNearbyWard" style="display: none;" (click)="goToPage('/8Z/set-nearby-ward');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconWardRoad.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                        </div>
                          <div class="infoRight">
                        <h3>Set Nearby Ward</h3>
                    </div>
                 
                </div>
                <div class="monitoring-card-item" id="divBGManagement" style="display: none;"
                    (click)="goToURL('https://mainportal-react.web.app/userId/BgServiceManagement');">
     
                           <div class="imgbg">
                        <img src="../../../assets/icons/tasks-solid.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                         </div>
                          <div class="infoRight">
                        <h3>BG Service Management</h3>
                    </div>
                   
                </div>
                <div class="monitoring-card-item" id="divPortalReview" style="display: none;" (click)="goToPage('/8A2/penalty-review');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconPenalty.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                        </div>
                          <div class="infoRight">
                        <h3>Penalty Review</h3>
                    </div>
                  
                </div>
                <div class="monitoring-card-item" id="divManageWardWorkTime" style="display: none;"
                    (click)="goToOuterURL('https://mainportal-react.web.app/userId/manage-ward-worktime');">
                   
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconWardDuty.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                        </div>
                          <div class="infoRight">
                        <h3>Manage Ward Work Time</h3>
                    </div>
                
                </div>
                <div class="monitoring-card-item" id="divWardDutyOn" style="display: none;" (click)="goToPage('/8A6/ward-duty-on');">
            
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconWardDuty.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                        </div>
                          <div class="infoRight">
                        <h3>Ward Duty On</h3>
                    </div>
                   
                </div>
                <div class="monitoring-card-item" id="divFreeAssignment" style="display: none;" (click)="goToOuterURL('https://mainportal-react.web.app/userId/freeAssignment');">
                 
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconFreeWork.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                         </div>
                          <div class="infoRight">
                        <h3>Free Work Assignment</h3>
                    </div>
                   
                </div>
                <div class="monitoring-card-item" id="divDeleteCard"  style="display: none;" (click)="goToOuterURL('https://mainportal-react.web.app/userId/removeUnwantedSurveyCards');">
               
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconDeleteCard.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                        </div>
                          <div class="infoRight">
                        <h3>Delete Unwanted Cards</h3>
                    </div>
                </div>
                <div class="monitoring-card-item" id="divDummyHeplerDevice" style="display: none;" (click)="goToOuterURL('https://mainportal-react.web.app/userId/dummyHelperDevice');">
                
                           <div class="imgbg">
                        <img src="../../../assets/icons/iconHelperDevices.svg" alt="tasks-solid" class="icon-green"
                            width="50px" />
                        </div>
                          <div class="infoRight">
                        <h3>Dummy Helper Devices</h3>
                    </div>
                </div>
        </div>
        </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 text-center home-footer">
                Copyright by <b
                    style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">WeVOIS</b>
                &nbsp; <a href="https://www.facebook.com/wevois/" target="_blank">
                    <!-- <i class="fab fa-facebook-f"></i> -->
                    <img src="../../assets/icons/facebook-f-brands-solid.svg" alt="facebook-f-brands-solid"
                        class="icon-facebook" width="10" />
                </a> &nbsp; <a href="https://twitter.com/wevois?lang=en" target="_blank">
                    <!-- <i class="fab fa-twitter"></i> -->
                    <img src="../../assets/icons/twitter-brands-solid.svg" alt="twitter-brands-solid"
                        class="icon-twitter" width="14" />
                </a> &nbsp; <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank">
                    <!-- <i class="fab fa-linkedin-in"></i> -->
                    <img src="../../assets/icons/linkedin-in-brands-solid.svg" alt="linkedin-in-brands-solid"
                        class="icon-linkdin" width="14" />
                </a> &nbsp; <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank">
                    <!-- <i class="fab fa-instagram" style="color: green;"></i> -->
                    <img src="../../assets/icons/instagram-brands-solid.svg" alt="instagram-brands-solid"
                        class="icon-instagram" width="14" />
                </a>
            </div>
        </div>
    </div>
</section>