@import "../../../assets/scss/_variable";
@import "../../../assets/scss/fonts";


/****** New Menu CSS Starts Here ****************/
.menuScroll {
    height: calc(100vh - 100px);
    overflow: auto;
    padding-bottom: 170px;
}

.blur-bg {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f9;
    background: radial-gradient(circle at bottom,
            rgba(255, 200, 150, 0.5) 0%,
            rgba(255, 180, 200, 0.25) 25%,
            rgba(247, 255, 248, 0.9) 60%,
            rgba(227, 255, 229, 1) 100%);

    animation: bgTransition 15s ease-in-out infinite alternate;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

@keyframes bgTransition {
    0% {
        background: radial-gradient(circle at bottom,
                rgba(255, 200, 150, 0.5) 0%,
                rgba(255, 180, 200, 0.25) 25%,
                rgba(247, 255, 248, 0.9) 60%,
                rgba(227, 255, 229, 1) 100%);
    }

    50% {
        background: radial-gradient(circle at bottom,
                rgba(200, 220, 255, 0.5) 0%,
                rgba(220, 200, 255, 0.25) 25%,
                rgba(250, 255, 250, 0.9) 60%,
                rgba(220, 255, 245, 1) 100%);
    }

    100% {
        background: radial-gradient(circle at bottom,
                rgba(255, 220, 200, 0.5) 0%,
                rgba(255, 210, 230, 0.25) 25%,
                rgba(245, 255, 250, 0.9) 60%,
                rgba(230, 255, 240, 1) 100%);
    }
}

.blur-bg::before {
    content: "";
    position: absolute;
    backdrop-filter: blur(60px);
    /* background blur */
    -webkit-backdrop-filter: blur(60px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
    opacity: 0.2;
    /* grain intensity */
    pointer-events: none;
}

/*********************** More Pages Start*********************/
.monitoring-card-row {
    display: flex;
    gap: 10px;
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.monitoring-card {
    margin-top: 10px;
}

.monitoring-card-item {
    background-size: 200% 100%;
    transition: all 0.3s ease;
    border: 1px solid #0ba11818;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 0px;
    padding: 12px 14px;
    transition: 0.3s;
    cursor: pointer;
    width: 270px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.monitoring-card-item:hover {
    background: linear-gradient(to left, white, #e1f3f5);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

}

.monitoring-card-item:hover h3 {
    color: $darkBlack;
}

.monitoring-card-item:hover .imgbg {
    background-color: #00a000;
}

.monitoring-card-item:hover .icon-green {
    filter: brightness(0) saturate(100%) invert(100%) sepia(67%) saturate(1169%) hue-rotate(235deg) brightness(117%) contrast(112%);
    // transform: rotate(35deg);
}

.monitoring-card-item:hover {
    transform: scale(1.04);
    // transform: rotate(35deg);
}

.monitoring-card-item:hover .infoRight::after {
    opacity: 1;
}

.monitoring-card-item .vertical {
    display: flex;
    gap: 10px;
    align-items: center;

}

.imgbg {
    background: #099f1610;
    text-align: left;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: 0.3s ease-in;
}

.monitoring-card .icon-green {
    transition: 0.2s;
    height: 18px !important;
    filter: brightness(0) saturate(100%) invert(46%) sepia(1%) saturate(1210%) hue-rotate(347deg) brightness(95%) contrast(90%);
}

.infoRight {
    width: calc(100% - 55px);
    position: relative;

}

.infoRight::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 10px;
    transform: translateY(-50%) rotate(270deg);
    background-image: url(../../../assets/img/iconDown.png);
    background-size: contain;
    width: 16px;
    background-repeat: no-repeat;
    height: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.monitoring-card h3 {
    font-size: 12px;
    color: $black33;
    font-family: $fontGraphik;
    margin: 0px;
    width: calc(100% - 22px);
}
/****** New Menu CSS Ends Here ****************/



.home-header{
   background-color: #262127;
   color: #fff;
   height: 57px;
   padding-top: 12px;
   font-size: 20px;
   letter-spacing: 2px;
   position: relative;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
}
.home-header a{
   position: absolute;
   right: 10px;
   top: 18px;
   font-size: 16px;
   color: #fff;
}
.dashboard-widgets{
   // width: 150px;
   height: 150px;
   line-height: 125px;
   margin-top: 20px;
   text-align: center;
  border-radius: 4px;
   padding: 15px;
   background-color: #e7e7e7;
   
}
.dashboard-widgets img{
   position: relative;
}
.dashboard-widgets:hover{
   -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.dashboard-widgets a{
   color: #333333;
  // font-size: 15px;
   cursor: pointer;
   text-decoration: none;
}
.dashboard-widgets i{
   color: #0ba118;
   font-size: 48px;
}
.dashboard-widgets i:hover{
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);	
   -webkit-transition: .5s all ease;
   -moz-transition: .5s all ease;
   transition: .5s all ease;
}
.dashboard-widgets span{
   display: inline-block;
   vertical-align: middle;
   line-height: 2;
}


.dashboard-widgets-update{
   // width: 150px;
   height: 150px;
   
   margin-top: 20px;
   text-align: center;
  border-radius: 4px;
   background-color: #e7e7e7;
   
}
.caret-select{
   margin-top: 0px!important; 
   padding:6px 10px;
   border-radius: 5px;
   border:none!important;
   width: 97%;
   font-size: 10px;
}
.caret-select:focus{
   outline: none!important;
}
button:focus-visible{
   outline: none!important;
}
.btn-update{
   border-width: 2px;
   font-weight: 400;
   font-size: 0.8571em;
   line-height: 1.35em;
   border: none;
   margin: 0px 5px 5px -4px;
   border-radius: 0.1875rem;
   padding: 6px 9px;
   cursor: pointer;
   background-color: #2dbd23;
   color: #FFFFFF;
   text-transform: uppercase;
}

.heading{
   top:0;
   background-color: #368d30;
   color: #fff;
   text-align: center;
   padding: 10px 10px;
   font-weight: bold;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
}
.dashboard-widgets-update img{
   position: relative;
}
.dashboard-widgets-update:hover{
   -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.dashboard-widgets-update a{
   color: #333333;
  // font-size: 15px;
   cursor: pointer;
   text-decoration: none;
}
.dashboard-widgets-update i{
   color: #0ba118;
   font-size: 48px;
}
.dashboard-widgets-update i:hover{
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);	
   -webkit-transition: .5s all ease;
   -moz-transition: .5s all ease;
   transition: .5s all ease;
}
.dashboard-widgets-update span{
   display: inline-block;
   vertical-align: middle;
   line-height: 2;
}

.home-footer{
   position: fixed;
   bottom: 0;
   left: 0;
   border-top: 2px  solid lightgray;
   color: #fff;
   height: 60px;
   padding-top: 18px;
   font-size: 14px;
   background-color: #262127;
   z-index: 2;
}
.col-md-2{
   padding-right: 5px;
   padding-left: 10px;
}
.fa-facebook-f{
   color:#3b5998 ;
   font-size: 14px!important;
}
.fa-twitter{
   color: #00acee ;
   font-size: 14px!important;
}
.fa-linkedin-in{
   color:#0e76a8 ;
   font-size: 14px!important;
}
.fa-instagram{
   font-size: 14px!important;
}


.dashboard-widgets-disabled{
   opacity: 0.4; 
   cursor: no-drop;
   height: 150px;
   line-height: 125px;
   margin-top: 20px;
   text-align: center;
  border-radius: 4px;
   padding: 15px;
   border: 1px solid rgb(184, 184, 184);
   background-color: #e7e7e7;  
}
.dashboard-widgets-disabled i{
   color: #a3a2a2;
   font-size: 48px;
   cursor: no-drop;
}
.dashboard-widgets-disabled span{
   display: inline-block;
   vertical-align: middle;
   line-height: 2;
}
.dashboard-widgets-disabled a{
   pointer-events: none;
   color: #636363;
   //font-size: 15px;
   cursor: no-drop;
   text-decoration: none; 
}

// new css


.more-cards{
   width: 100%;
   min-height: 146px;
   //background-color: #e7e7e7;
   border-radius: 5px;
   padding: 10px;
   text-align: center;
   cursor: pointer;
   color: #000;
   //display: table;
   display: flex;
   justify-content:center;
   align-items: center;

   /* "to left" / "to right" - affects initial color */
   //background: linear-gradient(to left, #e7e7e7 50%, #0ba118 50%) right;
   //background-size: 200%;
   //transition: .5s ease-out;

   position: relative;
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1); 
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1); 
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1);
   transition: all 200ms ease-in;
   transform: scale(1); 
}
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
.rainbow {
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: 1rem;
}
	
.rainbow:hover:before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#23e733, #23e733), linear-gradient(#fff, #fff), linear-gradient(#23e733, #23e733), linear-gradient(#fff, #fff);
		animation: rotate 4s linear infinite;
	}
	
.rainbow::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 2px;
		top: 2px;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		background: #e4e4e4;
		border-radius: 5px;
	}
.more-cards:hover {
   background-position: left;
   color: #000;
   -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);

 //box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.03);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.03);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.03);
    transition: all 200ms ease-in;
    transform: scale(1.03);
}
.vertical{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
i{
   font-size: 48px;
   transition: 0.70s;
   -webkit-transition: 0.70s;
   -moz-transition: 0.70s;
   -ms-transition: 0.70s;
   -o-transition: 0.70s;   
   color: #0ba118;
}
.more-cards:hover i{
   color: #0ba118;
   transition: 0.70s;
 } 
.more-cards h3{
   margin: 0px;
   font-size: 12px;
   text-transform: capitalize;
   font-weight: normal;
   margin-top: 5px;
}
.imp-text{
   color: #0ba118;
   font-weight: bold;
   letter-spacing: 1px;
 }

 // SVG Images
.icon-green {
   filter: brightness(0) saturate(100%) invert(40%) sepia(80%) saturate(3000%) hue-rotate(85deg) brightness(95%) contrast(115%);
}

.icon-facebook{
   filter: brightness(0) saturate(100%) invert(18%) sepia(34%) saturate(3453%) hue-rotate(194deg) brightness(93%) contrast(89%);
}

.icon-twitter{
   filter: brightness(0) saturate(100%) invert(51%) sepia(94%) saturate(2821%) hue-rotate(177deg) brightness(96%) contrast(95%);
}

.icon-linkdin{
   filter: brightness(0) saturate(100%) invert(20%) sepia(68%) saturate(3306%) hue-rotate(189deg) brightness(92%) contrast(89%);
}

.icon-instagram{
   filter: brightness(0) saturate(100%) invert(40%) sepia(80%) saturate(3000%) hue-rotate(85deg) brightness(95%) contrast(115%);
}


@media (min-width: 2000px) {
       .monitoring-card-row{
        width: 75%;
    }
    .monitoring-card-item {
        width: calc(100% / 5 - 9px);

    }
}
@media (max-width: 1680px) {
    .monitoring-card-row{
        width: 97%;
    }
    .monitoring-card-item {
        width: calc(100% / 5 - 9px);

    }
}

@media (max-width: 1480px) {
    .monitoring-card-item {
        width: calc(100% / 4 - 9px);

    }
}
@media (max-width: 1198px) {
    .monitoring-card-item {
        width: calc(100% / 3 - 9px);

    }
}
@media (max-width: 992px) {
    .monitoring-card-item {
        width: calc(100% / 2 - 9px);

    }
}
@media (max-width: 768px) {
    .monitoring-card-item {
        width: calc(100% / 1 - 9px);

    }
}





