.header {
    height: 64px;
    width: 100%;
    background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%);
    color: #fff;
}

.heading {
    padding-top: 12px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.error {
    border-color: red;
}

.loaderClass {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: lightgray;
    opacity: 0.5;
}

.imgLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: absolute;
    width: 100%;
    margin-bottom: -30px;
}

.main-content {
    padding: 0px 60px 60px 30px!important;
    min-height: calc(100vh - 123px);
    margin-top: -30px;
}

label {
    vertical-align: middle;
    font-size: 12px;
}


/****************** Input Style ************************/

.wrap-input-effects {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-green {
    font-size: 12px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #fff;
    height: 40px;
    border-radius: 2px;
    padding: 0 10px 0 40px;
    border: 1px solid lightgray;
}

.input-green::before {
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #fff;
    height: 40px;
    border-radius: 2px;
    padding: 0 25px 0 25px;
    border: 1px solid lightgray;
}

.input-green:focus {
    outline: none;
}

.input-green:focus+.focus-input+.symbol-input {
    color: #0ba118;
    padding-left: 7px;
    border: 1px solid #0ba118;
    //  border-radius: 15px;
}

.focus-input {
    display: block;
    position: absolute;
    //  border-radius: 25px; 
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    outline: none !important;
    border: none;
    box-shadow: 0px 0px 0px 0px;
}

.symbol-input {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    //border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


/****************** Input Style End************************/