<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header ">
    <div class="row no-gutters ">
        <div class="offset-3 col-6 heading text-center">
            <b class="header-text"> Add/Edit User </b>
        </div>
    </div>
</section>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top: -30px;">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>User Type</label>
                                        <div class="wrap-input-effects" required>
                                            <select id="userType" class="input-green">
                                                <option value="0">Select</option>
                                                <option value="Internal User">Internal User</option>
                                                <option value="External User">External User</option>
                                            </select>
                                            <span class="focus-input"></span>
                                            <span class="symbol-input">
                                                <!-- <i class="fas fa-user" aria-hidden="true"></i> -->
                                                <img src="../../../assets/icons/user-solid.svg" alt="user-solid" class="icon-grey"
                                                aria-hidden="true" width="14"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <div class="wrap-input-effects" required>
                                            <input id="name" type="text" class="input-green" placeholder="Name" value="">
                                            <span class="focus-input"></span>
                                            <span class="symbol-input">
                                                <!-- <i class="fas fa-user" aria-hidden="true"></i> -->
                                                <img src="../../../assets/icons/user-solid.svg" alt="user-solid" class="icon-grey"
                                                aria-hidden="true" width="14"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>Mobile No.</label>
                                        <div class="wrap-input-effects" required>
                                            <input class="input-green" id="mobile" type="number" maxlength="10" minlength="10" placeholder="Mobile No." (change)="chkMobile();" value="">
                                            <span class="focus-input"></span>
                                            <span class="symbol-input">
                                                <!-- <i class="fas fa-mobile-alt" aria-hidden="tr"></i> -->
                                                <img src="../../../assets/icons/mobile-screen-button-solid.svg" alt="mobile-screen" class="icon-grey"
                                                aria-hidden="true" width="14"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="wrap-input-effects" required>
                                            <input id="email" type="text" class="input-green" placeholder="Email" value="" (change)="chkEmail();">
                                            <span class="focus-input"></span>
                                            <span class="symbol-input">
                                                <!-- <i class="fas fa-envelope" aria-hidden="true"></i> -->
                                                <img src="../../../assets/icons/envelope-solid.svg" alt="envelope-solid" class="icon-grey"
                                                aria-hidden="true" width="14"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="wrap-input-effects" required>
                                            <input id="password" type="text" class="input-green" placeholder="Password" value="">
                                            <span class="focus-input"></span>
                                            <span class="symbol-input">
                                                <!-- <i class="fas fa-key" aria-hidden="true"></i> -->
                                                 <img src="../../../assets/icons/key-solid.svg" alt="key-solid" class="icon-grey"
                                                aria-hidden="true" width="14"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <label>Expiry Date</label>
                                        <div class="wrap-input-effects" required>
                                            <input id="expiryDate" class="input-green report-controls custom-date-input pd-t mrg-5" type="date" placeholder="Expiry Date" value="">
                                            <span class="focus-input"></span>
                                            <span class="symbol-input">
                                                <!-- <i class="fas fa-calendar-day" aria-hidden="true"></i> -->
                                                <img src="../../../assets/icons/calendar-day-solid.svg" alt="calender-day-solid" class="icon-grey"
                                                aria-hidden="true" width="14"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Employee Code</label>
                                        <div class="wrap-input-effects" required>
                                            <input id="officeAppUserId" type="text" class="input-green" placeholder="Office App UserId" value="">
                                            <span class="focus-input"></span>
                                            <span class="symbol-input">
                                                <!-- <i class="fas fa-user" aria-hidden="true"></i> -->
                                                <img src="../../../assets/icons/user-solid.svg" alt="user-solid" class="icon-grey"
                                                aria-hidden="true" width="14"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Portal Access As</label>
                                        <div class="wrap-input-effects" required>
                                            <select id="userRole" class="input-green">
                                                <option value="0">Select Portal Access As</option>
                                                <option  *ngFor="let dt of roleList" value="{{dt.roleId}}">{{dt.roleName}}</option>
                                            </select>
                                            <span class="focus-input"></span>
                                            <span class="symbol-input">
                                                <!-- <i class="fas fa-user" aria-hidden="true"></i> -->
                                                <img src="../../../assets/icons/user-solid.svg" alt="user-solid" class="icon-grey"
                                                aria-hidden="true" width="14"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">

                                </div>
                                <div class="col-12 border-bottom" style="margin-top: 20px;">City for access</div>
                                <div class="col-md-2" style="margin-top: 10px;" *ngFor="let dt of cityList">
                                    <div class="form-group">
                                        <input type="checkbox" id="chkCity{{dt.city}}">&nbsp;&nbsp; <label>{{dt.cityName}}</label>
                                    </div>
                                </div>
                                <div class="col-12 border-bottom" style="margin-top: 20px;"></div>
                                <div class="col-md-4" style="margin-top: 25px;">
                                    <div class="form-group">
                                        <input type="checkbox" id="isAdmin">&nbsp;&nbsp; <label>Is Admin</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="margin-top: 25px;">
                                    <div class="form-group">
                                        <input type="checkbox" id="isManager">&nbsp;&nbsp; <label>Is Manager</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="margin-top: 25px;">
                                    <div class="form-group">
                                        <input type="checkbox" id="notificationHalt">&nbsp;&nbsp;<label>Notification :
                                            Halt</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="notificationMobileDataOff">&nbsp;&nbsp;
                                        <label>Notification : Mobile Data
                                            Off</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="margin-right: 15px;">
                                        <input type="checkbox" id="notificationSkippedLines">&nbsp;&nbsp;
                                        <label>Notification : Skipped
                                            Lines</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="notificationPickDustbins">&nbsp;&nbsp;
                                        <label>Notification : Picked
                                            Dustbins</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="notificationGeoSurfing">&nbsp;&nbsp;
                                        <label>Notification : Geo
                                            Surfing</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="isTaskManager">&nbsp;&nbsp; <label>Is Task
                                            Manager</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="haltDisableAccess">&nbsp;&nbsp; <label>Halt Disable
                                            Access</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="isActual">&nbsp;&nbsp; <label>Is Actual Data</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="isLock">&nbsp;&nbsp; <label>Account
                                            lock-unlock</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="isActualWorkPercentage">&nbsp;&nbsp; <label>
                                            Is show actual work percentage</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="isAttendanceApprover">&nbsp;&nbsp; <label>
                                            Is Attendance Approver</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="canViewAttendance">&nbsp;&nbsp; <label>
                                            Can View Attendance</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="canUpdateEmployeeDetail">&nbsp;&nbsp; <label>
                                            Can update employee detail</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="canUpdateOpendepotPickDetail">&nbsp;&nbsp; <label>
                                            Can update open depot pick detail</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="canUpdateLeaveBalance">&nbsp;&nbsp; <label>
                                            Can update leave balance</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="canUpdateDustbinPickDetail">&nbsp;&nbsp; <label>
                                            Can update dustbin pick detail</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="canRemoveNotPickedDustbin">&nbsp;&nbsp; <label>
                                            Can remove not picked dustbin</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="canAccessBIDashboard">&nbsp;&nbsp; <label>
                                            Can access BI Dashboard</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="canAddWardDutyOn">&nbsp;&nbsp; <label>
                                            Can add ward duty on time</label>
                                    </div>
                                </div>
                                <div class="col-12 border-bottom" style="margin-top: 15px;"></div>

                                <div class="col-md-12 pr-1" style="margin-top: 18px;">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-xs" (click)="submitData();" style="background-color: #19a337!important; cursor: pointer; margin-right: 13px;text-transform: uppercase;">Save</button>
                                        <button class="btn btn-danger btn-xs" (click)="cancelEntry();" style="cursor: pointer!important;text-transform: uppercase;">Cancel</button>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>