<!-------------- Login section start ---------------->
<span class="outer-span" (click)="changeCity('test');">Test</span>
<section class="login">

    <div class="container login-container extra-container">
        <div class="row row1">
            <div class="col-md-2 login-header back">
                <a href="login">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-md-8 login-header text-center">
                <p><span class="welcome-text">Select City</span></p>
            </div>
        </div>
        <div class="row row2" style="display: flex; justify-content: center;">
            <div id="behrorBox" class="  login-box" style="display: none;" (click)="changeCity('behror');">
                <p>
                    <img src="../../assets/images/Behror logo.png" alt=""> <br> Behror
                </p>
            </div>
            <div id="bhiwadiBox" class="  login-box" style="display: none;" (click)="changeCity('bhiwadi');">
                <p>
                    <img src="../../assets/images/bhiwadi logo-3.png" alt="">  <br> Bhiwadi
                </p>
            </div>
            <div id="chhaparBox" class="  login-box" style="display: none;"(click)="changeCity('chhapar');">
                <p>
                    <img src="../../assets/images/chhapar.png" alt="">  <br> Chhapar
                </p>
            </div>
            <div id="churuBox" class=" login-box" style="display: none;" (click)="changeCity('churu');">
                <p>
                    <img src="../../assets/images/churu logo.png" alt="">  <br> churu
                </p>
            </div>
            <div id="jaipurBox" class="login-box" style="display: none;" (click)="openCityModel(contentCity);">
                <p>
                    <img src="../../../assets/images/jaipur icon.png" alt=""> <br> Jaipur D2D
                </p>
            </div>

            <div id="gwaliorBox" class="login-box " style="display: none;"(click)="changeCity('gwalior');">
                <p>
                    <img src="../../../assets/images/GMC-Logo.png" alt=""> <br> Gwalior
                </p>
            </div>
           
            
            <!-- <div id="jaipurBox" class="login-box"   (click)="openCityModel('contentCity');">
                <p>
                    <img src="../../../assets/images/jaipur icon.png" alt=""> <br> Jaipur 
                </p>
            </div> -->
            <div id="jaipurGreaterBox" class="login-box"  style="display: none;"(click)="changeCity('jaipur-greater');">
                <p>
                    <img src="../../../assets/images/jaipur greater .png" alt=""><br> Jaipur Greater
                </p>
            </div>
            <div id="jaisalmerBox"  class="login-box"  style="display: none;"(click)="changeCity('jaisalmer');">
                <p>
                    <img src="../../../assets/images/jaisalmer.png" alt=""> <br> Jaisalmer
                </p>
            </div>
            <div id="kishangarhBox" class="login-box" style="display: none;" (click)="changeCity('kishangarh');">
                <p>
                    <img src="../../../assets/images/kishangarh logo.png" alt=""> <br> Kishangarh
                </p>
            </div>
            <div id="niwaiBox" class="login-box" style="display: none;"(click)="changeCity('niwai');">
                <p>
                    <img src="../../../assets/images/niwai logo.png" alt=""> <br> Niwai
                </p>
            </div>
            <div id="reengusBox" class="login-box"  style="display: none;"(click)="changeCity('reengus');">
                <p>
                    <img src="../../../assets/images/reengus logo.png" alt=""> <br> Reengus
                </p>
            </div>
            <div id="salasarBox" class="login-box"  style="display: none;"(click)="changeCity('salasar');">
                <p>
                    <img src="../../../assets/images/salasar balaji logo.png" alt=""> <br> Salasar Balaji
                </p>
            </div>
            <div id="sikarBox" class="login-box "  style="display: none;"(click)="changeCity('sikar');">
                <p>
                    <img src="../../../assets/images/sikar logo_2x2.png" alt=""><br> Sikar
                </p>
            </div>
            <div id="shahpuraBox" class="login-box " style="display: none;" (click)="changeCity('shahpura');">
                <p>
                    <img src="../../../assets/images/shahapura.png" alt=""><br> Shahpura
                </p>
            </div>
            <div id="tonkBox" class="login-box " style="display: none;"(click)="changeCity('tonk');">
                <p>
                    <img src="../../../assets/images/tonk logo.png" alt=""> <br> Tonk
                </p>
            </div>
            <div id="wevoisBox" class="login-box " style="display: none;"(click)="changeCity('wevois-others');">
                <p>
                    <img src="../../../assets/images/wevois other logo.png" alt=""> <br> WeVOIS-Others
                </p>
            </div>
            <div id="jaipurOfficeBox" class="login-box "  style="display: none;"(click)="changeCity('jaipur-office');">
                <p>
                    <img src="../../../assets/images/wevois office.png" alt=""> <br> Jaipur Office
                </p>
            </div>
         
          
            
            
            <!-- <div class="ram" id="jaipurOfficeBox" style="margin-bottom: 0px!important; cursor: pointer;  margin-right: 30px;  display:; margin-top: 0px; " (click)="changeCity('jaipur-office');">
                <p>
                    <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Jaipur Office
                </p>
            </div> -->
        </div>

    </div>

    <!--Login city  Start-->
    <ng-template #contentCity>
        <div class="modal-dialog modal-dialog-centered main modal-content2-outer" role="document">
            <div class="modal-content modal-content2">
                <div class="modal-body modal-body2">
                    <section class="login login2">
                        <div class="container login-container login-container2">
                            <div class="row main-header">
                                <div class="col-md-2 login-header back blanck blanck2">
                                </div>
                                <div class="col-md-8 login-header text-center login-header2">
                                    <p class="jaipur-p"><span class="welcome-text">Jaipur D2D</span></p>
                                </div>
                                <div class="col-md-2 back login-header close-icon close-icon2">
                                    <button type="button" class="close close2" (click)="closeMapModel();">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>

                            <div class="login-body login-body2">
                                <div class="row row2" style="display: flex; justify-content: center;">
                                    <div id="jaipurJagatpuraBox" class="login-box active-box" style="cursor: pointer; margin-right: 30px; display: none; " (click)="changeCity('jaipur-jagatpura');">
                                        <p>
                                            <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Jagatpura
                                        </p>
                                    </div>
                                    <div id="jaipurJhotwaraBox" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaipur-jhotwara');">
                                        <p>
                                            <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Jhotwara
                                        </p>
                                    </div>
                                    <div id="jaipurMalviyanagarBox" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaipur-malviyanagar');">
                                        <p>
                                            <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Malviyanagar
                                        </p>
                                    </div>
                                    <div id="jaipurMansarovarBox" style="display:none;" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaipur-mansarovar');">
                                        <p>
                                            <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Mansarovar
                                        </p>
                                    </div>
                                    <div id="jaipurMurlipuraBox" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaipur-murlipura');">
                                        <p>
                                            <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Murlipura
                                        </p>
                                    </div>
                                    <div id="jaipurSanganerBox" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaipur-sanganer');">
                                        <p>
                                            <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Sanganer
                                        </p>
                                    </div>
                                    <div id="jaipurVidhyadharBox" class="login-box" style="margin-bottom: 0px!important;margin-left: 0px;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaipur-vidhyadhar');">
                                        <p>
                                            <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Vidhyadhar
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </section>
                </div>
            </div>
        </div>
    </ng-template>
    <!--city Status End-->
</section>

<!-------------- Login section End ---------------->