<!-------------- Login section start ---------------->
<span class="outer-span" (click)="changeCity('test');">Test</span>
<section class="login">

    <div class="container login-container extra-container">
        <div class="row row1">
            <div class="col-md-2 login-header back">
                <a href="login">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
        </div>
        <div class="row row2" style="display: flex; justify-content: center;">
            <div id="behrorBox" class="  login-box" style="display: none; margin-right: 30px;" (click)="changeCity('behror');">
                <img src="../../assets/images/Behror logo.png" alt="">
                <p>
                    Behror
                </p>
            </div>
            <div id="bhiwadiBox" class="  login-box" style="display: none; margin-right: 30px;" (click)="changeCity('bhiwadi');">
                <img src="../../assets/images/bhiwadi logo-3.png" alt="">
                <p>
                    Bhiwadi
                </p>
            </div>
            <div id="chhaparBox" class="  login-box" style="display: none; margin-right: 30px;"
                (click)="changeCity('chhapar');">
                <img src="../../assets/images/chhapar.png" alt="">
                <p>
                      Chhapar
                </p>
            </div>
            <!-- <div id="churuBox" class=" login-box" style="display: none; margin-right: 30px;"
                (click)="changeCity('churu');">
                <img src="../../assets/images/churu logo.png" alt=""> 
                <p>
                    Churu
                </p>
            </div> -->
            <div id="gwaliorBox" class="login-box " style="display: none; margin-right: 30px;" (click)="changeCity('gwalior');">
                <img src="../../../assets/images/GMC.LOGO.png" alt="">
                <p>
                    Gwalior
                </p>
            </div>
            <div id="jaipurBox" class="login-box" style="display: none; margin-right: 30px;" (click)="openCityModel(contentCity);">
                <img src="../../../assets/images/jaipur icon.png" alt="">
                <p>
                    Jaipur D2D
                </p>
            </div>


            <!-- <div id="jaipurBox" class="login-box"   (click)="openCityModel('contentCity');">
                <p>
                    <img src="../../../assets/images/jaipur icon.png" alt=""> <br> Jaipur 
                </p>
            </div> -->
            <div id="jaipurGreaterBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('jaipur-greater');">
                <img src="../../../assets/images/jaipur greater .png" alt="">
                <p>
                    Jaipur Greater
                </p>
            </div>
            <div id="jaisalmerBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('jaisalmer');">
                <img src="../../../assets/images/jaisalmer.png" alt="">
                <p>
                    Jaisalmer
                </p>
            </div>
            <div id="jammuSurveyBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('jammu-survey');">
                <img src="../../../assets/images/jummu-logo.png" alt="">
                <p>
                    Jammu Survey
                </p>
            </div>
            <div id="khandelaBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('khandela');">
                <img src="../../../assets/images/khandela-logo.png" alt="">
                <p>
                    Khandela
                </p>
            </div>
            <div id="kishangarhBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('kishangarh');">
                <img src="../../../assets/images/kishangarh logo.png" alt="">
                <p>
                    Kishangarh
                </p>
            </div>
            <div id="losalBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('losal');">
                <img src="../../../assets/images/losal-logo.jpg" alt="">
                <p>
                    Losal
                </p>
            </div>
            <div id="niwaiBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('niwai');">
                <img src="../../../assets/images/niwai logo.png" alt="">
                <p>
                    Niwai
                </p>
            </div>
            <div id="nokhaBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('nokha');">
                <img src="../../../assets/images/nokha-logo.png" alt="">
                <p>
                    Nokha
                </p>
            </div>

            <div id="ratangarhBox" class="login-box " style="display: none; margin-right: 30px;" (click)="changeCity('ratangarh');">
                <img src="../../../assets/images/ratangarh logo.png" alt="">
                <p>
                    Ratangarh
                </p>
            </div>
            <div id="reengusBox" class="login-box" style="display: none;margin-right: 30px;" (click)="changeCity('reengus');">
                <img src="../../../assets/images/reengus logo.png" alt="">
                <p>
                    Reengus
                </p>
            </div>
            <div id="salasarBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('salasar');">
                <img src="../../../assets/images/salasar balaji logo.png" alt="">
                <p>
                    Salasar Balaji
                </p>
            </div>
            <div id="sikarBox" class="login-box " style="display: none;  margin-right: 30px;" (click)="changeCity('sikar');">
                <img src="../../../assets/images/sikar logo_2x2.png" alt="">
                <p>
                    Sikar
                </p>
            </div>
            <div id="shahpuraBox" class="login-box " style="display: none; margin-right: 30px;" (click)="changeCity('shahpura');">
                <img src="../../../assets/images/shahpura.logo.png" alt="">
                <p>
                    Shahpura
                </p>
            </div>
            <div id="tonkBox" class="login-box " style="display: none; margin-right: 30px;" (click)="changeCity('tonk');">
                <img src="../../../assets/images/tonk logo.png" alt="">
                <p>
                    Tonk
                </p>
            </div>
            <div id="wevoisBox" class="login-box " style="display: none; margin-right: 30px;" (click)="changeCity('wevois-others');">
                <img src="../../../assets/images/wevois other logo.png" alt="">
                <p>
                    WeVOIS-Others
                </p>
            </div>
            <div id="watteyeofficeBox" class="login-box " style="display: none; margin-right: 30px;" (click)="changeCity('watteye-office');">
                <img src="../../../assets/images/wevois other logo.png" alt="">
                <p>
                    WattEye Office
                </p>
            </div>
            <div id="jaipurOfficeBox" class="login-box " style="display: none;  margin-right: 30px;" (click)="changeCity('jaipur-office');">
                <img src="../../../assets/images/wevois office.png" alt="">
                <p>
                    Jaipur Office
                </p>
            </div>
            <div id="jaipurTestBox" class="login-box " style="display: none;  margin-right: 30px;" (click)="changeCity('jaipur-test');">
                <img src="../../../assets/images/wevois office.png" alt="">
                <p>
                    Jaipur Test
                </p>
            </div>





            <!-- <div class="ram" id="jaipurOfficeBox" style="margin-bottom: 0px!important; cursor: pointer;  margin-right: 30px;  display:; margin-top: 0px; " (click)="changeCity('jaipur-office');">
                <p>
                    <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Jaipur Office
                </p>
            </div> -->
        </div>

    </div>

    <!--Login city  Start-->
    <ng-template #contentCity>
        <div class="modal-dialog modal-dialog-centered main modal-content2-outer" role="document">
            <div class="modal-content modal-content2">
                <div class="modal-body modal-body2">
                    <section class="login login2">
                        <div class="container login-container login-container2">
                            <div class="row main-header">
                                <div class="col-md-2 login-header back blanck blanck2">
                                </div>
                                <div class="col-md-8 login-header text-center login-header2">
                                    <p class="jaipur-p"><span class="welcome-text">Jaipur D2D</span></p>
                                </div>
                                <div class="col-md-2 back login-header close-icon close-icon2">
                                    <button type="button" class="close close2" (click)="closeMapModel();">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>

                            <div class="login-body login-body2">
                                <div class="row row2" style="display: flex; justify-content: center;">
                                    <div id="jaipurJagatpuraBox" class="login-box active-box" style="display: none; margin-right: 30px;" (click)="changeCity('jaipur-jagatpura');">
                                        <img src="../../../assets/images/jagatpura .logo.png" alt="">
                                        <p>
                                            Jagatpura
                                        </p>
                                    </div>
                                    <div id="jaipurJhotwaraBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('jaipur-jhotwara');">
                                        <img src="../../../assets/images/jhotwara.logo.png" alt="">
                                        <p>

                                            Jhotwara
                                        </p>
                                    </div>
                                    <div id="jaipurMalviyanagarBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('jaipur-malviyanagar');">
                                        <img src="../../../assets/images/malviyanagar. logo.png" alt="">
                                        <p>

                                            Malviyanagar
                                        </p>
                                    </div>
                                    <div id="jaipurMansarovarBox" style="display:none;" class="login-box" style="display: none;  margin-right: 30px;" (click)="changeCity('jaipur-mansarovar');">
                                        <img src="../../../assets/images/mansarovar.logo.png" alt="">
                                        <p>

                                            Mansarovar
                                        </p>
                                    </div>
                                    <div id="jaipurMurlipuraBox" class="login-box" style="display: none;  margin-right: 30px;" (click)="changeCity('jaipur-murlipura');">
                                        <img src="../../../assets/images/murlipura .logo.png" alt="">
                                        <p>

                                            Murlipura
                                        </p>
                                    </div>
                                    <div id="jaipurSanganerBox" class="login-box" style="display: none;  margin-right: 30px;" (click)="changeCity('jaipur-sanganer');">
                                        <img src="../../../assets/images/sanganer.logo.png" alt="">
                                        <p>

                                            Sanganer
                                        </p>
                                    </div>
                                    <div id="jaipurVidhyadharBox" class="login-box" style="display: none;  margin-right: 30px;" (click)="changeCity('jaipur-vidhyadhar');">
                                        <img src="../../../assets/images/Vidhyadhar.logo.png" alt="">
                                        <p>

                                            Vidhyadhar
                                        </p>
                                    </div>
                                    <div id="jaipurMNZBox" class="login-box" style="display: none; margin-right: 30px;" (click)="changeCity('mnz-test');">
                                        <img src="../../../assets/images/malviyanagar. logo.png" alt="">
                                        <p>

                                            MNZ-Test
                                        </p>
                                    </div>
                                    <div id="jaipurMPZBox" class="login-box" style="display: none;  margin-right: 30px;" (click)="changeCity('mpz-test');">
                                        <img src="../../../assets/images/murlipura .logo.png" alt="">
                                        <p>

                                            MPZ-Test
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </section>
                </div>
            </div>
        </div>
    </ng-template>
    <!--city Status End-->
</section>

<!-------------- Login section End ---------------->