<section class="header">
    <div class="row no-gutters">
        <div class="col-md-12" style="text-align:center; margin-top: -2px; font-size: 20px; letter-spacing: 1px;">
            Surveyor Assignment
        </div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-8" style="padding-left: 0px;padding-right:7px;">
            <div class="card" style="margin-top:-6px;  height: 88vh!important">
                <div class="card-body" style="height:88vh; padding: 0px 10px 0px 0px;">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="table-wrapper table-one">
                                    <table class="table"
                                        style="border-bottom:1px solid #dee2e6;border-left:1px solid #dee2e6;margin-bottom: 0px!important">
                                        <thead>
                                            <th style="border-right:1px solid #dee2e6; width:5%;">S.No.</th>
                                            <th style="border-right:1px solid #dee2e6; width:20%;">Name</th>
                                            <th style="border-right:1px solid #dee2e6; width:20%;">Login ID</th>
                                            <th style="border-right:1px solid #dee2e6; width:15%;">
                                                Assigned</th>
                                            <th style="border-right:1px solid #dee2e6; width:25%;">
                                                Line No.</th>
                                            <th class="text-right" style="width:15%;">
                                                <input id="chkAll" type="checkbox" (change)="showAll();" />
                                                Show All</th>
                                        </thead>
                                        <tbody>
                                            <tr id="tr{{i}}" *ngFor="let data of assignedList; let i=index"
                                                style="cursor: pointer;" (click)="getServeyorDetail(data.userId,i);">
                                                <td style="border-right:1px solid #dee2e6">{{i+1}}</td>
                                                <td style="border-right:1px solid #dee2e6">
                                                    {{data.name}}</td>
                                                <td style="border-right:1px solid #dee2e6">
                                                    {{data.loginId}}</td>
                                                <td style="border-right:1px solid #dee2e6">
                                                    {{data.wardNo}}</td>
                                                <td style="border-right:1px solid #dee2e6;">
                                                    {{data.lines}}</td>
                                                <td class="text-right">
                                                    <span [hidden]="data.isActive==true"
                                                        style="color: red;">Inactive</span>
                                                    <span [hidden]="data.isActive==false">
                                                        <i class="fas fa-map-marked-alt"
                                                            (click)="openModel(contentAssign,data.userId,'update');"
                                                            title="Edit Assignment"
                                                            style="cursor:pointer !important; font-size: 14px;color: #0ba118;"></i>
                                                        <i class="far fa-times-circle"
                                                            (click)="openModel(contentConfirmation,data.userId,'delete')"
                                                            title="Remove Entry"
                                                            style="cursor:pointer !important; font-size: 14px;color: red; margin-left: 10px;"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="divMessage" class="col-md-12 pr-1 text-center"
                                style="padding-top: 20vh; display: none;">
                                <div class="form-group">
                                    <h5>No data available</h5>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-left: 7px;padding-right:0px;">
            <div class="card" style="margin-top:-6px; height: 88vh!important;overflow: hidden;">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h5> <b>{{houseData.name}} </b></h5>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{houseData.totalSurveyed}}</span> <br>
                                    Total Surveyed
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding: 3px 11px 15px 0px;">
                    <div class="row">

                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="table-wrapper table-scroll" style="padding: 0px 0px 20px 0px;">
                                            <table class="table"
                                                style="border-bottom:1px solid #dee2e6;border-left:1px solid #dee2e6;">
                                                <thead>
                                                    <th style="border-right:1px solid #dee2e6; width:30%;">Date</th>
                                                    <th class="border-right"
                                                        style="border-right:1px solid #dee2e6; width:70%;">Surveyed</th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of lineMarkerList; let i=index">
                                                        <td style="border-right:1px solid #dee2e6">
                                                            {{data.date}}</td>
                                                        <td class="border-right"
                                                            style="border-right:1px solid #dee2e6;">
                                                            {{data.surveyed}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center"
                                        style="padding-top: 20vh; display: none;">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete Confirmation Start-->
<ng-template #contentConfirmation>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 14px; font-weight: bold;">Are you
                    sure you want to remove assignment ?</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteId" value="0" />
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success w-100 submit-btn" (click)="confirmDelete()">
                            Confirm</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger w-100 cancel-btn" (click)="closeModel()">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Delete Confirmation End-->

<!--Assign  Start-->
<ng-template #contentAssign>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign Ward Lines</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="key" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <select id="ddlWard" class="input-green" (change)="getLines($event.target.value);">
                        <option value={{zone.zoneNo}} *ngFor="let zone of zoneList">
                            {{zone.zoneName}}</option>
                    </select>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-12"><label>Select Lines</label></div>
                    <div class="col-md-12">
                        <div class="checkbox-scroll">
                            <div class="row">
                                <div class="col-md-2" *ngFor="let line of lineList" style="margin-bottom: 10px;">
                                    <input type="checkbox" id="chk{{line.lineNo}}" style="vertical-align: middle;" />
                                    {{line.lineNo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-success submit-btn" style="width: 100%;" value="SUBMIT"
                    (click)="saveAssignment();" />
            </div>
        </div>
    </div>
</ng-template>
<!--Assign End-->