<div class="panel-header panel-header-lg">
  <span class="main-chart-title"> Ward Coverage Progress (%)</span>
  <canvas baseChart id="bigDashboardChart" [datasets]="lineBigDashboardChartData" [labels]="lineBigDashboardChartLabels"
    [colors]="lineBigDashboardChartColors" [options]="lineBigDashboardChartOptions"
    [chartType]="lineBigDashboardChartType"></canvas>
</div>
 


<div class="mg-top">
  <div class="container-fluid">
   
  </div>
</div>






 <div class="mg-top mg-top2">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 col-xl-3 mt-10">
        <div class="box-2-1 b-anim">
          <div class="row b-anim2 same">

            <div class="col-8">
              <h1>{{dashboardData.wardCompleted}} <br /> <a>
                  Wards Completed</a></h1>
            </div>

            <div class="col-4 text-center img-box">
              <img src="../../assets/img/d1.svg" class="img-fluid">
            </div>

          </div>
          <span class="slider"></span>  
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mt-10">
        <div class="box-2-1 b-anim">
          <div class="row b-anim3 same">

            <div class="col-8">
              <h1>{{dashboardData.peopleAtWork}} <br /> <a>
                  Heros ON WORK</a></h1>
            </div>

            <div class="col-4 text-center img-box2">
              <img src="../../assets/img/d2.svg" class="img-fluid">
            </div>

          </div>
          <span class="slider"></span>  
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mt-10 top-up">
        <div class="box-2-1 b-anim same">
          <div class="row b-anim4">

            <div class="col-8">
              <h1>{{dashboardData.vehiclesOnDuty}} <br /> <a>
                  VEHICLE ON DUTY</a></h1>
            </div>

            <div class="col-4 text-center img-box3">
              <img src="../../assets/img/d3.svg" class="img-fluid waste-vehicle">
            </div>

          </div>
          <span class="slider"></span>  
        </div>
      </div>


      <div id="divWasteCollected" class="col-md-6 col-xl-3 mt-10 top-up">
        <div class="box-2-1 b-anim">
          <div class="row b-anim5 same">

            <div class="col-8 waste">
              <h1>{{dashboardData.wasteCollected}} <span>kg</span>  <br /> <a>
                  WASTE COLLECTED</a></h1>
            </div>

            <div class="col-4 text-center img-box4">
              <img src="../../assets/img/d4.svg" class="img-fluid">
            </div>

          </div>
          <span class="slider"></span>  
        </div>
      </div>



    </div>
  </div>
</div>

