/**** Font Family Variables ***/
$fontGraphik: 'Graphik-Regular';
$fontGraphikSemibold: 'Graphik-Semibold';
$fontGraphikMedium: 'Graphik-Medium';
$fontGraphikBold: 'Graphik-Bold';

/**** Color Variables ***/
$darkBlack: #000000;
$lightBlack: #212121;
$black70: #707070;
$transparentBlack: #00000095;


$lightGray: #cccccc;
$borderColor: #e1e1e1;

$white: #ffffff; 
$whitefa: #fafafa;  
$whitef5: #f5f5f5;

$themeColor: #48B549;
$themeColorDark: #34a336;



$danger: #dc3545;
$dangerDark: #d12133;
$success: #198754;
