@import '../../../assets/scss/variable';
@import '../../../assets/scss/fonts';
// @import '../../../assets/scss/globalStyle';

.main-page {
    background-color: #f3f3f9;
    padding: 10px 16px;
}

.active {
    background-color: #0ab39c25;
}

/****************** Loader CSS Starts Here *********************/
.loaderClassMain {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000000;
    opacity: 0.8;
    margin-bottom: 15px;
}

.spanLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.loaderClass {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: lightgray;
    opacity: 0.5;
    margin-left: -11px;
    margin-top: -10px;
}

.imgLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/****************** Loader CSS Ends Here *********************/

/****************** Custom Scrollbar CSS Starts Here *********************/
::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    -webkit-box-shadow: transparent;
}

:hover::-webkit-scrollbar {
    width: 8px;
}


/* Track */

:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


/* Handle */

:hover::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #20a120;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/****************** Custom Scrollbar CSS Ends Here *********************/

/****************** Header CSS Starts Here ***********************/
.header {
    width: 100%;
    background: $white;
    display: flex;
    padding: 16px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 6px;
}

.header-left {
    font-size: 18px;
    font-family: $fontGraphikSemibold;
    color: $darkBlack;
    width: 480px;
}

.header-right {
    display: flex;
    width: calc(100% - 480px);
    justify-content: flex-end;
    gap: 10px;
}

.info-card {
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: none;
    outline: none;

    &:focus,
    &:active {
        box-shadow: none;
        outline: 0;
        border: none;
    }

    &:hover {
        .iconRefresh {
            filter: brightness(0) saturate(100%) invert(53%) sepia(47%) saturate(591%) hue-rotate(72deg) brightness(101%) contrast(92%);
        }
    }

    .info-card-left {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        color: $black70;
        font-family: $fontGraphik;
        font-size: 12px;
        text-align: right;

        span {
            color: $darkBlack;
            font-family: $fontGraphikBold;
            font-size: 16px;
        }
    }

    .iconRefresh {
        width: 16px;
        transition: 0.2s;
    }
}

/****************** Header CSS Ends Here ***********************/
.page-body {
    display: flex;
    gap: 10px;
    width: 100%;
}

/****************** Surveyor List CSS Starts Here ***********************/

.surveyor-list {
    width: 430px;
    border-radius: 6px;
    background-color: $white;
    height: calc(100vh - 110px);
    overflow: auto;
}

.surveyor-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    padding: 10px 16px;

    &:hover {
        background-color: $whitef5;

        .supervisor-name {
            color: $lightBlack;
        }
    }
}

.surveyor-row-header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: $whitefa;

    &:hover {
        background-color: $whitefa;
    }

    .supervisor-name {
        color: $lightBlack;
        font-family: $fontGraphikMedium;
    }
}

.supervisor-name {
    font-size: 13px;
    color: $black70;
    font-family: $fontGraphik;
    margin: 0px;
    width: calc(100% - 90px);
}

.marker-count {
    font-size: 13px;
    color: $lightBlack;
    font-family: $fontGraphikMedium;
    margin: 0px;
    width: 90px;
    width: 88px;
    text-align: right;

}

.mob-surveyorList-btn {
    display: none;
}

.iconNext {
    width: 14px;
    margin-left: 10px;
}

/****************** Surveyor List CSS Ends Here ***********************/

/****************** Surveyor Details CSS Starts Here ***********************/
.surveyor-details {
    width: calc(100% - 430px - 10px);
    border-radius: 6px;
    background-color: $white;
}

.surveyor-details-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    font-size: 15px;
    font-family: $fontGraphikMedium;
    color: $darkBlack;
    align-items: center;
}

.btnGridBox {
    display: flex;
    border: 1px solid $themeColor;
    border-radius: 6px;
    overflow: hidden;
    float: right;

    .btnToggle {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 5px;

        &:hover {
            background-color: $themeColorDark;

            img {
                filter: brightness(0) saturate(100%) invert(82%) sepia(61%) saturate(2%) hue-rotate(115deg) brightness(111%) contrast(101%);
            }
        }
    }


}

.btnToggle.activeToggle {
    background-color: $themeColor;

    img {
        filter: brightness(0) saturate(100%) invert(82%) sepia(61%) saturate(2%) hue-rotate(115deg) brightness(111%) contrast(101%);
    }
}

.surveyor-details-body {
    height: calc(100vh - 180px);
    overflow: auto;
}

.surveyor-tHead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.surveyor-tHead,
.surveyor-tBody {
    display: flex;
    width: 100%;
}

.surveyor-tBody {
    &:hover {
        background-color: $whitef5;
    }
}

.surveyor-th {
    background-color: $whitefa;
    padding: 12px 16px;
    font-size: 13px;
    color: $darkBlack;
    font-family: $fontGraphikMedium;
    width: calc(100% / 2);
}

.surveyor-td {
    padding: 12px 16px;
    font-size: 13px;
    color: $lightBlack;
    font-family: $fontGraphik;
    border-bottom: 1px solid $borderColor;
    width: calc(100% / 2);
}

.surveyor-details-body.gridViewTable {
    .surveyor-tHead {
        display: none;
    }

    .surveyor-tBody-scroll {
        display: flex;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
        padding: 10px 16px;
    }

    .surveyor-tBody {
        background-color: $whitefa;
        border-radius: 6px;
        width: calc(100% / 4 - 8px);
        padding: 12px 16px;
        display: flex;
        justify-content: space-between;
        border: 1px solid transparent;
        flex-flow: column;

        &:hover {
            background-color: #48b54910;
            border: 1px solid #48b549;
        }
    }

    .surveyor-td {
        padding: 0px;
        width: auto;
        border-bottom: none;
        height: auto;
    }

    .td2 {
        color: $lightBlack;
        font-family: $fontGraphikMedium;
        font-size: 16px;
    }
}

/****************** Surveyor Details CSS Starts Here ***********************/


/********************** Media Query CSS Starts Here **********************/
@media (max-width: 1398px) {}

@media (max-width: 1198px) {
    .header {
        height: auto;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .header-left {
        width: 100%;
    }

    .header-right {
        width: 100%;
        justify-content: flex-start;
    }

    .info-card {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0px;

        .info-card-left {
            text-align: left;

            span {
                font-size: 13px;
                font-family: $fontGraphikMedium;
            }
        }
    }

    .page-body {
        flex-flow: column;
        position: relative;
    }

    .mob-surveyorList-btn {
        display: inline-flex;
        width: 100%;
        background: #fff;
        padding: 12px 16px;
        border-radius: 6px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .surveyor-list {
        display: none;
    }

    /* When toggled */
    .surveyor-list.show-list {
        display: block;
        width: 100%;
        height: 400px;
        min-height: 50px;
        overflow: auto;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        border: 1px solid $borderColor;
        z-index: 3;

        .surveyor-row-header {
            display: none;
        }
    }

    .surveyor-details {
        width: 100%;
    }

    .surveyor-details-body.gridViewTable {
        .surveyor-tBody {
            width: calc(100% / 3 - 8px);
        }

    }
}

@media (max-width: 768px) {
    .surveyor-details-body.gridViewTable {
        .surveyor-tBody {
            width: calc(100% / 2 - 8px);
        }

    }
}

@media (max-width:380px) {
    .surveyor-details-body.gridViewTable {
        .surveyor-tBody {
            width: 100%;
        }

    }
}




// .card {
//     border: 0;
//     border-radius: 0.1875rem;
//     display: inline-block;
//     position: relative;
//     width: 100%;
//     margin-bottom: 0px !important;
// }

// .caret-select {
//     margin-top: -5px !important;
//     margin-right: 10px !important;
//     border-radius: 5px;
//     padding: 10px;
//     width: 97%;
//     border: 1px solid lightgray !important;
//     font-size: 12px;
// }

// .caret-select-vehicle {
//     margin-top: 0px !important;
//     margin-left: 0px !important;
//     border-radius: 5px;
//     padding: 10px;
//     width: 97%;
//     border: 1px solid lightgray !important;
//     font-size: 12px;
// }

// .user-button {
//     padding: 7px 10px 10px 0px !important;
//     background-color: rgb(38, 167, 6);
//     border-radius: 4px;
//     color: #ffffff;
//     border: 1px solid lightgray;
//     cursor: cell;
//     margin-top: 0px;
//     height: 33px !important;
//     font-size: 12px;
// }

// .user-button:hover {
//     background-color: #16c03b;
// }

// .user-button .icon {
//     background: #fff;
//     padding: 9px 10px 9px 10px !important;
//     transition: 0.5s;
//     cursor: cell;
//     border-top-left-radius: 4px;
//     border-bottom-left-radius: 4px;
// }

// select:focus {
//     outline: none !important;
// }

// input:focus {
//     outline: none !important;
// }

// button:focus {
//     outline: none !important;
// }









// .icon i {
//     color: #26a706;
// }

// .card .card-header:not([data-background-color]) {
//     background-color: #f1f1f1;
// }

// .card-header {
//     background: #fff !important;
//     padding: 15px 0px 15px 15px !important;
//     //box-shadow: 0px 4px 4px #0e0e0e1a;
// }

// //   .card-body{
// //     padding: 0px;
// //     height: 76vh;
// //     overflow: hidden;
// //     overflow-y: scroll;
// //  }
// .data {
//     padding-top: 7px;
//     float: right;
//     font-size: 16px;
//     // font-weight: bold;
//     font-family: cursive;
//     color: #2c2c2c;
//     margin-right: 10px;
// }

// .indication {
//     padding-top: 6px;
//     float: right;
// }

// .data i {
//     color: #0ba118;
//     font-size: 15px;
// }

// table td {
//     font-size: 12px;
//     padding: 12px 12px;
// }

// table th {
//     font-size: 14px;
//     color: #0ba118;
// }

// .table-wrapper th {
//     position: sticky;
//     top: 0;
//     background-color: #f1f1f1 !important;
//     color: #000;
//     z-index: 11;
// }

// tbody {
//     overflow-y: scroll;
//     // height: 80vh;
// }

// .fa-sync-alt {
//     font-size: 12px;
//     color: black;
// }

// .main-panel .main-content {
//     padding: 0 15px 15px;
//     min-height: calc(100vh - 123px);
//     margin-top: -30px;
// }

// .fa-caret-left {
//     font-size: 28px;
//     color: #2c2c2c;
//     float: right;
// }

// .active {
//     background-color: #f3f3f3;
// }

// .fa-expand-showgraph {
//     cursor: pointer;
//     position: absolute;
//     bottom: 5px;
//     top: 15px;
//     padding: 0px;
//     font-size: 14px;
//     color: #0ba118;
//     border: none;
//     height: 39px;
//     width: 44px;
//     background: #fff;
//     border: 1px solid lightgray;
//     border-radius: 5px;
// }

// .vehicle-list {
//     position: absolute;
//     z-index: 999999;
//     background-color: #fff;
//     width: 153px;
//     display: none;
//     height: auto;
//     max-height: 60vh;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     margin-left: 320px;
// }

// .vehicle-list ul {
//     list-style: none;
// }

// .vehicle-list li {
//     border-bottom: 1px solid lightgray;
//     border-left: 1px solid lightgray;
//     border-right: 1px solid lightgray;
//     padding: 10px;
//     margin-left: -40px;
//     font-size: 11px;
// }

// .vehicle-list li:hover {
//     background-color: rgb(240, 239, 239);
//     cursor: pointer;
// }


// /* input css*/

// .wrap-input-effects {
//     position: relative;
//     width: 100%;
//     margin-bottom: 10px;
// }

// .input-green {
//     font-size: 12px;
//     line-height: 1.5;
//     color: #666666;
//     display: block;
//     width: 100%;
//     background: #fff;
//     height: 40px;
//     border-radius: 2px;
//     padding: 0 12px 0 45px;
//     border: 1px solid lightgray;
// }

// .input-green::before {
//     font-size: 12px;
//     line-height: 1.5;
//     color: #666666;
//     display: block;
//     width: 100%;
//     background: #fff;
//     height: 40px;
//     border-radius: 2px;
//     padding: 0 25px 0 25px;
//     border: 1px solid lightgray;
// }

// .input-green:focus {
//     outline: none;
// }

// .input-green:focus+.focus-input+.symbol-input {
//     color: #0ba118;
//     padding-left: 12px;
//     border: 1px solid #0ba118;
//     //  border-radius: 15px;
// }

// .focus-input {
//     display: block;
//     position: absolute;
//     //  border-radius: 25px; 
//     bottom: 0;
//     left: 0;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
//     outline: none !important;
//     border: none;
//     box-shadow: 0px 0px 0px 0px;
// }

// .symbol-input {
//     font-size: 15px;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: flex;
//     align-items: center;
//     position: absolute;
//     //border-radius: 25px;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     padding-left: 18px;
//     pointer-events: none;
//     color: #666666;
//     -webkit-transition: all 0.4s;
//     -o-transition: all 0.4s;
//     -moz-transition: all 0.4s;
//     transition: all 0.4s;
// }

// textarea {
//     /*margin-top: 15px;*/
//     width: 100%;
//     padding: 8px;
//     border: 1px solid #e5e5e5;
//     border-radius: 4px;
// }

// textarea {
//     font-size: 12px;
//     color: #707070;
// }

// textarea:focus-visible {
//     outline: 1px solid #0ba118;
//     border-radius: 0px;
// }

// .focus-input-time {
//     display: block;
//     position: absolute;
//     //  border-radius: 25px; 
//     bottom: 0;
//     left: 0;
//     z-index: -1;
//     width: 200px;
//     height: 100%;
//     outline: none !important;
//     border: none;
//     box-shadow: 0px 0px 0px 0px;
// }

// .symbol-input-time {
//     font-size: 15px;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: flex;
//     align-items: center;
//     position: absolute;
//     //border-radius: 25px;
//     top: 8px;
//     left: 210px;
//     width: 100%;
//     height: 100%;
//     padding-left: 18px;
//     pointer-events: none;
//     color: #666666;
//     -webkit-transition: all 0.4s;
//     -o-transition: all 0.4s;
//     -moz-transition: all 0.4s;
//     transition: all 0.4s;
// }

// .submit-btn {
//     background: #0ba118 !important;
// }

// .custom-header {
//     height: 80px;
// }

// .custom-header h5 {
//     font-size: 14px;
//     color: #333;
//     font-weight: bold;
//     margin-top: 5px;
//     text-transform: uppercase;
//     line-height: 22px;
// }

// .heading-table {
//     font-size: 14px;
//     color: #333;
//     margin-top: -10px;
//     text-transform: capitalize;
// }

// .modal-title {
//     font-size: 18px;
//     font-weight: bold;
// }

// .table-heading h3 {
//     line-height: 28px;
//     font-size: 12px;
//     font-weight: normal;
//     color: #707070;
//     margin-bottom: 15px;
//     margin-top: 3px;
//     margin-right: 0px;
// }

// .table-heading .tbl-points {
//     font-weight: bold;
//     border-radius: 10px;
//     background: #0ba11714;
//     color: #0ba118;
//     padding: 5px 5px;
//     font-size: 24px;
// }

// .table-one {
//     height: 86vh;
//     overflow: hidden;
//     overflow-y: scroll;
// }

// .table-scroll {
//     padding: 0px;
//     height: 74vh;
//     overflow: hidden;
//     overflow-y: scroll;
// }

// table tr:hover {
//     background: #f3f3f3;
// }

// .active-tr {
//     background: #0ba118;
//     color: #fff;
// }

// .active-tr i {
//     color: #fff !important;
// }

// .checkbox-scroll {
//     height: 270px;
//     overflow: hidden;
//     overflow-y: scroll;
//     border: 1px solid lightgray;
//     border-radius: 2px;
//     padding: 10px;
// }


// label {
//     font-size: 12px;
// }

// .img-close {
//     position: relative;
//     z-index: 10;
//     width: 25px;
//     cursor: pointer;
//     // margin-top: -80px;
//     margin-top: -23px;
// }

// .header-12 {
//     background: #f1f1f1 !important;
//     border-bottom: 2px solid #000;
// }

// .modal-body {
//     padding: 20px;
//     margin-top: -16px;
// }

// .content-scroll {
//     height: 595px;
//     overflow-y: scroll;
//     overflow-x: hidden;
// }

// .content-scroll img {
//     padding: 5px;
//     border: 1px solid lightgray;
// }

// .main-tag {
//     background: #ededed;
// }

// .f-left {
//     width: 100%;
//     float: left;
//     //border-bottom: 1px solid #e6e6e6;
//     padding: 5px 5px;
// }

// .f-left p {
//     font-size: 12px;
//     margin: 0px !important;
//     float: left;
//     width: 87px;
//     font-weight: normal;
//     color: #707070;
// }

// .f-right {
//     margin-right: 4px;
//     float: right;
// }

// .f-left h3 {
//     font-size: 12px;
//     margin: 0px !important;
//     float: left;
//     width: 100%;
//     font-weight: normal;
//     color: #333;
//     text-transform: capitalize;
//     margin-top: 1px !important;
// }

// .fix-home {
//     float: right;
//     margin-right: 15px;
//     margin-top: -5px;
// }

// .float-first {
//     width: 170px;
//     float: left;
// }

// .float-second {
//     width: 110px;
//     float: left;
// }

// .float-third {
//     width: 100px;
//     float: left;
// }

// .float-fourth {
//     width: 102px;
//     float: left;
// }

// .total-house .fa-home {
//     margin-top: 2px;
//     color: #8dbaff;
//     font-size: 18px;
// }

// .total-house h6 {
//     font-size: 8px;
//     font-weight: normal !important;
//     letter-spacing: 0.5px;
// }

// .house {
//     font-size: 18px;
//     font-weight: bold;
//     color: #fff;
// }

// .total-house .fa-house-damage {
//     margin-top: 0px;
//     color: #1fda2f;
//     font-size: 18px;
// }

// .not-start {
//     color: red;
// }

// .marking-done {
//     color: green;
//     font-weight: bold;
// }

// .in-progress {
//     color: #000;
// }

// .btn-cancel {
//     border-width: 2px;
//     font-weight: 400;
//     font-size: 0.8571em;
//     line-height: 1.35em;
//     height: 35px;
//     border: none;
//     margin: 10px 1px;
//     border-radius: 0.1875rem;
//     padding: 5px;
//     cursor: pointer;
//     background-color: #888;
//     color: #FFFFFF;
// }


// .no-gutters-iner {
//     padding-left: 18px;
// }

// .Ward-Marking-heading {
//     text-align: center;
//     margin-top: -2px;
//     font-size: 20px;
//     letter-spacing: 1px;
// }

// .fix-home-outer {
//     padding-left: 18px;
// }

// .fix-home-iner {
//     margin-left: 10px;
//     margin-top: 0px;
// }

// .fix-home-span {
//     color: #1fda2f;
// }

// .card-outer {
//     padding-left: 0px;
//     padding-right: 7px;
// }

// .card-body-outer {
//     margin-top: -6px;
//     height: 88vh !important
// }

// .card-body2 {
//     height: 88vh;
//     padding: 0px 10px 0px 0px;
// }

// .ward-table-heading {
//     border-right: 1px solid #dee2e6;
//     width: 12%;
// }

// .Markers-table-heading {
//     border-right: 1px solid #dee2e6;
//     width: 12%;
// }

// .Already-table-heading {
//     border-right: 1px solid #dee2e6;
//     width: 28%;
// }

// .Approved-table-heading {
//     border-right: 1px solid #dee2e6;
//     width: 20%;
// }

// .Status-table-heading {
//     border-right: 1px solid #dee2e6;
//     width: 20%;
// }

// .table-data {
//     border-right: 1px solid #dee2e6;
// }

// .no-available {
//     padding-top: 20vh;
//     display: none;
// }

// .loaderClass-outer {
//     padding-left: 7px;
//     padding-right: 0px;
// }

// .custom-header-outer {
//     margin-top: -6px;
//     height: 88vh !important;
//     overflow: hidden;
// }

// .table-one-iner {
//     border-bottom: 1px solid #dee2e6;
//     border-left: 1px solid #dee2e6;
//     margin-bottom: 0px !important
// }

// .card-body3 {
//     padding: 1px 1px 15px 0px;
// }

// .table-outer {
//     padding: 0px 0px 20px 0px;
// }

// .table-outer-iner {
//     border-bottom: 1px solid #dee2e6;
//     border-left: 1px solid #dee2e6;
// }

// .table-data-line2 {
//     border-right: 1px solid #dee2e6;
//     width: 20%;
// }

// .table-data-Markers2 {
//     border-right: 1px solid #dee2e6;
//     width: 20%;
// }

// .table-data-Already2 {
//     border-right: 1px solid #dee2e6;
//     width: 30%;
// }

// .table-data-Approved2 {
//     border-right: 1px solid #dee2e6;
//     width: 15%;
// }

// .table-data-hesh {
//     border-right: 1px solid #dee2e6;
//     width: 15%;
// }

// .table-data2 {
//     border-right: 1px solid #dee2e6;
// }

// .check-icon {
//     font-size: 18px;
//     color: green;
// }

// .times-icon {
//     font-size: 18px;
//     color: red;
// }

// .table-row {
//     cursor: pointer;
// }

// .eye-icon {
//     font-size: 20px;
//     cursor: pointer;
// }

// .divmessage {
//     padding-top: 20vh;
//     display: none;
// }

// .img-close-outer {
//     width: 100%;
//     text-align: right;
//     float: left;
//     // margin-top: 28px;
//     margin: -28px;
// }

// // .content-scroll-outer {
// //     margin-top: -20px;
// // }
// .dt-img {
//     height: 100%;
//     width: 100%;
// }

// .f-left-heading {
//     width: 100%;
// }

// .dt-img-outer {
//     width: 100%
// }

// .reject-btn {
//     width: 45%;
//     background: #0ba118 !important;
//     margin-left: 0px !important;
//     margin-bottom: 10px !important;
// }

// .delete-btn {
//     width: 45%;
//     background: red !important;
//     margin-left: 0px !important;
//     margin-bottom: 10px !important;
// }

// @media only screen and (min-width:270px) and (max-width:550px) {
//     .Ward-Marking-heading {
//         display: none;
//     }

//     .custom-header-outer {
//         height: unset !important;
//     }

//     .loaderClass-outer {
//         padding-left: 0px;
//         padding-right: 0px;
//     }

//     .card-outer {
//         padding-left: 0px !important;
//         padding-right: 0px !important;
//     }

//     .table-one {
//         overflow-x: scroll;
//     }

//     .table-outer {
//         overflow-x: scroll;
//     }

//     div#divMessage {
//         display: none;
//     }

//     .fix-home-outer {
//         margin-left: auto;
//     }

//     .col-md-6.loaderClass-outer {
//         margin-top: 35px !important;
//     }

//     .card-header {
//         box-shadow: unset !important;
//     }

//     .responsive {
//         width: 50% !important;
//     }

//     .custom-header {
//         height: unset !important;
//     }

//     .card-body3 {
//         margin-top: 0px !important;
//     }

//     .table-scroll {
//         height: unset !important;
//     }
// }

// @media only screen and (min-width:560px) and (max-width:821px) {
//     .table-one {
//         overflow-x: scroll;
//     }

//     .Ward-Marking-heading {
//         display: none;
//     }

//     .fix-home-outer {
//         margin-left: auto;
//     }

//     .responsive {
//         padding-left: 0 !important;
//         padding-right: 0 !important;
//     }

//     .fix-home-iner {
//         margin-left: 0px !important
//     }

//     .table-outer {
//         overflow-x: scroll !important;
//     }
// }

// @media only screen and (min-width:900px) and (max-width:921px) {
//     .Ward-Marking-heading {
//         display: none;
//     }

//     .fix-home-outer {
//         margin-left: auto;
//     }
// }


// .pop-up-header {
//     text-align: center;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     color: #000;
//     // background-color: red;
// }

// .pop-up-header h5 {
//     // margin-bottom: 0px;
//     margin-top: 16px;
//     font-size: 18px;
//     font-weight: bold;
// }

// .house-list {
//     background-color: #f1f1f1;
// }

// .commercial-list {
//     background-color: #b5f8c6;
// }