<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<!------------Desktop Navbar Start------------->
<section class="header">
    <div class="row no-gutters">
        <div class="main-headers hide-on-ipad"
            style="position: absolute; z-index: 999; margin-left: 45%; margin-top: 15px;">
            Test Route
        </div>
        <div class="col-md-12 col-xl-12 ipad-pl-25">
            <select class="caret-select ipad-ipt-2" id="ddlDate"
                (change)="changeVehicleSelection($event.target.value)">
                <option value="0">
                    --Select Date--
                </option>
                <option value="Sep01">
                    01 Sep
                </option>
                <option value="Sep17">
                    17 Sep
                </option>
            </select>
        </div>
    </div>
</section>
<!------------Desktop Navbar End------------->

<div #gmap style="width:100%;height:600px;margin-top: -50px; position:absolute;" id="divMap"></div>

<div id="divDriverDetail" class="driver-helper-box hide-on-mob">
    <div id="myBox">
        <div class="accordion">
            <div class="card">
                <div aria-labelledby="headingOne">
                    <div class="dth">
                        <div class="table-bg">
                            <div class="tableFixHead">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col"><b>Sno</b></th>
                                            <th class="text-left" scope="col" style="text-align: left!important;">
                                                <b>Vehicle</b>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dt of vehicleList, let i=index">
                                            <td style="vertical-align: top; width: 50px;">{{i+1}}</td>
                                            <td class="text-left" [style.color]="dt.color">{{dt.vehicle}}
                                                <input type="checkbox" id="chk{{i}}" [checked]="dt.isShow==1" style="float: right;" (change)="changeRef(i);">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>