<section class="header">
    <div class="row no-gutters">
        <div class="col-md-2 header1">
        </div>
        <div class="col-md-8 header2">

        </div>
        <div class="col-md-2 header3"></div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-6 left" style="display: none;">
            <div class="card card2">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5> <b>Update Card Marker Location </b></h5>
                        </div>
                    </div>

                </div>
                <div class="card-body card-body2">
                    <form>
                        <div class="form">
                            <div class="row">
                                <div class="col-md-12  pr-1">
                                    <b>From</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  pr-1 padding-remove">
                                    <label>Zone No</label>
                                    <div class="wrap-input-effects" required>
                                        <select class="caret-select" id="ddlZoneFrom">
                                        <option value="{{d.zoneNo}}" *ngFor="let d of zoneList">{{d.zoneName}}</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Line No</label>
                                    <div class="wrap-input-effects" required>
                                        <input id="txtLineNoFrom" class="caret-select" type="number" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  pr-1">
                                    <b>To</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  pr-1 padding-remove">
                                    <label>Zone No</label>
                                    <div class="wrap-input-effects" required>
                                        <select class="caret-select" id="ddlZoneTo">
                                        <option value="{{d.zoneNo}}" *ngFor="let d of zoneList">{{d.zoneName}}</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <label>Line No</label>
                                    <div class="wrap-input-effects" required>
                                        <input id="txtLineNoTo" class="caret-select" type="number" />
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group2">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <button id="btnSave" class="btn btn-success btn-xs">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-6 Update2">
            <div class="card card3">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5> <b>Update Card Marker Location </b></h5>
                        </div>
                    </div>

                </div>
                <div class="card-body card-body3">
                    <div class="outer">

                        <div class="row">
                            <div class="col-md-12  pr-1">
                                <label>Zone No</label>
                                <div class="d-flex wrap-class">
                                    <div class="wrap-input-effects" required>
                                        <select class="caret-select caret-select2" id="ddlZone">
                                    <option value="{{d.zoneNo}}" *ngFor="let d of zoneList">{{d.zoneName}}</option>
                                </select>
                                    </div>
                                    <div class="form-group button">
                                        <button id="btnSave" class="btn btn-success btn-xs" (click)="updateMarkerLocation();">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card card3">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5> <b>Update Card Marker Mapping </b></h5>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body3">
                    <div class="outer">

                        <div class="row">
                            <div class="col-md-12  pr-1">
                                <label>Zone No</label>
                                <div class="d-flex wrap-class">
                                    <div class="wrap-input-effects" required>
                                        <select class="caret-select caret-select2" id="ddlZoneCount">
                                    <option value="{{d.zoneNo}}" *ngFor="let d of zoneList">{{d.zoneName}}</option>
                                </select>
                                    </div>
                                    <div class="form-group button">
                                        <button id="btnSave" class="btn btn-success btn-xs">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Delete Confirmation Start-->
<ng-template #contentConfirmation>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header2">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to remove assignment ?</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteId" value="0" />
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success w-100 submit-btn" (click)="removeAssignment()">
                            Confirm</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger w-100 cancel-btn" (click)="closeModel()">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Delete Confirmation End-->


<!--ward assign  Start-->
<ng-template #contentWard>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign Ward</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="empID" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <select id="ddlWard" class="input-green">
                        <option value={{zone.zoneNo}} *ngFor="let zone of zoneList">
                            {{zone.zoneName}}</option>
                    </select>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required style="display: none;">
                    <input type="checkbox" id="chkRemove" class="input2"> Remove assigned ward
                </div>
                <input type="button" class="btn btn-success submit-btn input3" value="SUBMIT" (click)="saveWard();" />
            </div>
        </div>
    </div>
</ng-template>
<!--ward assign End-->

<!--employee  Start-->
<ng-template #contentEmployee>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Employee</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="key" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtName" class="input-green" placeholder="Name" />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-user-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtPhone" class="input-green" placeholder="Mobile No." />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtPassword" class="input-green" placeholder="Password" />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="checkbox" id="chkAcive" style="vertical-align: middle;"> Is Active

                </div>
                <input type="button" class="btn w-100 btn-success submit-btn input4" value="SUBMIT" (click)="saveEmployee();" />
            </div>
        </div>
    </div>
</ng-template>
<!--employee End-->