<section class="header">
    <div class="row no-gutters">
        <div class="col-md-6" style="padding-left: 10px;">
            <select class="caret-select" id="ddlYear" (change)="changeYearSelection($event.target.value)"
                style="width: 150px;" [(ngModel)]="selectedYear">
                <option value="0">Year</option>
                <option value={{yer.year}} *ngFor="let yer of yearList"
                    ngSelected="yer.year == selectedYear?'selected':''">{{yer.year}}</option>
            </select>
            <select class="caret-select" id="ddlMonth" (change)="changeMonthSelection($event.target.value)"
                style="width: 150px;">
                <option value="0">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <select class="caret-select" id="ddlFieldExecutive" style="width: 150px;"
                (change)="changeSelection($event.target.value)">
                <option value="0">
                    --Select--
                </option>
                <option *ngFor="let dt of fieldExecutiveList" value={{dt.id}}>
                    {{dt.name}}
                </option>
            </select>
        </div>
        <div class="col-md-6" style="padding-left: 10px;padding-top: 10px;">
            Cash Mamagement
        </div>
    </div>
</section>
<section class="halts" style="padding-left: 10px;">
    <div class="container-fluid">
        <div class="row" style="margin-top: -40px;">
            <div class="col-md-12" style="padding-left: 5px;">
                <div>
                    <div class="table-bg">
                        <div class="tableFixHead">
                            <table id="excel-table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            Name</th>
                                        <th scope="col">
                                            Date</th>
                                        <th scope="col">
                                            Reason</th>
                                        <th scope="col" class="text-right">
                                            Amount</th>
                                        <th scope="col">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dt of expenceList, let i=index">
                                        <td class="text-left">
                                            {{dt.name}}</td>
                                        <td class="text-left">
                                            {{dt.date}}</td>
                                        <td class="text-left">
                                            {{dt.reason}}</td>
                                        <td class="text-right">
                                            {{dt.amount}}</td>
                                        <td class="text-center">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>