<div id="divLoaderUpdate" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-4 no-gutters-iner">
            <select class="caret-select" id="ddlZone" (change)="changeZoneSelection($event.target.value)" [(ngModel)]="selectedZone">
        <option *ngFor="let zone of zoneList" value={{zone.zoneNo}}
          ngSelected="zone.zoneNo == selectedZone?'selected':''">
          {{zone.zoneName}}
        </option>
      </select>
        </div>



        <div id="houseCount" class="col-md-8 text-right total-house background-black">
            <div class="display" id="popup2">
                <div class="fix-home">
                    <div class="float-first fix-home-iner1">
                        <i class="fas fa-home home-icon"></i> <span class="house"> {{progressData.totalMarkers}}</span><br>
                        <h6>Total Marker</h6>
                    </div>
                    <div class="float-second">
                        <i class="fas fa-house-damage"></i> <span class="house"> {{progressData.totalSurveyed}}</span><br>
                        <h6>Surveyed Marker</h6>
                    </div>
                    <div id="divRevisitCount" class="float-third" (click)="progressData.totalRevisit > 0 && openModel(contentRevisit,'RevisitAll')">
                        <i class="fas fa-house-damage damage-icon"></i> <span class="house">
            {{progressData.totalRevisit}}</span><br>
                        <h6>Revisit Request</h6>
                    </div>

                    <div class="float-fourth" [hidden]="isAlreadyShow==false">
                        <i class="fas fa-house-damage house-damage-icon"></i> <span class="house">
            {{progressData.totalOldCards}}</span><br>
                        <h6>Old Cards</h6>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 p-0">
            <div class="display1">
                <i class="bi bi-chevron-down" onclick="show()"></i>
            </div>
        </div>
    </div>
</section>

<div #gmap class="gmap" id="divMap"></div>
<div class="display" id="popup">
    <div class="house-card-box">
        <div class="house-card-box-iner" id="divDetails">

            <div class="row row-box">
                <div class="col-md-12 row-box-iner">
                    <div class="border-bottom">
                        <button (click)="getNextPrevious('pre');" class="btn-hvr arrow-btn">
            << </button>
                        <input class="arrow-input" id="txtLineNo" type="text" (keyup)="getCurrentLineDetail($event);" autocomplete="off" value="1" />
                        <button (click)="getNextPrevious('next');" class="btn-hvr arrow-btn2">
                >>
              </button>
                    </div>
                </div>
                <div class="col-md-12 total-house fix-home-outer">
                    <div class="fix-home">
                        <div class="float-l fix-home-iner">
                            <i class="fas fa-home home-icon"></i> <span class="house home-icon-span">
              {{progressData.totalLineMarkers}}</span><br>
                        </div>
                        <div id="divLineScannedCount" class="float-l house-damage-icon-div" (click)="progressData.totalLineSurveyed > 0 && openModel(contentLineMarkers,'ScannedCard')">
                            <i class="fas fa-house-damage"></i> <span class="house house-damage-icon-span">
              {{progressData.totalLineSurveyed}}</span><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 total-house fix-home-outer">
                    <div class="fix-home">

                        <div id="divLineRevisitCount" class="float-l" (click)="progressData.totalLineRevisit > 0 && openModel(contentRevisit,'RevisitLine')">
                            <i class="fas fa-house-damage damage-icon"></i> <span class="house house-damage-icon-span">
              {{progressData.totalLineRevisit}}</span><br>
                        </div>

                        <div style="padding-top: 20px;" class="float-l">
                            <input id="chkShowAll" type="checkbox" (change)="showAllMarkers();"> Show All

                        </div>
                        <div id="divLineOldCardCount" class="float-l" (click)="progressData.totalLineOldCard > 0 && openModel(contentLineOldCard,'OldCard')" [hidden]="isAlreadyShow==false">
                            <i class="fas fa-house-damage damage-icon2"></i> <span class="house house-damage-icon-span">
              {{progressData.totalLineOldCard}}</span><br>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div id="divCardDetail" class="image-box" style="display: none;">
    <div id="divLoader" class="loaderClass">
        <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <div class="f-left">
                <h3> {{progressData.cardNo}} / {{progressData.cardType}} <br /> {{progressData.name}}
                </h3>
            </div>
        </div>
    </div>
</div>

<div id="divRevisitDetail" class="image-box" style="display: none;">
    <div id="divLoaderRevisit" class="loaderClass">
        <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <div class="f-left">
                <h3> {{progressData.revisitHouseType}} <br /> {{progressData.revisitName}} <br /> {{progressData.revisitReason}}
                    <br /> {{progressData.revisitDate}}
                </h3>
            </div>
        </div>
    </div>
</div>

<div id="divOldCardDetail" class="image-box" style="display: none;">
    <div id="divLoaderOldCard" class="loaderClass">
        <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <div class="f-left">
                <h3> {{progressData.rfId}} / {{progressData.rfIdHouseType}} <br /> {{progressData.rfIdName}}
                    <br /> {{progressData.rfIdAddress}}
                    <br /> {{progressData.rfIdDate}}
                </h3>
            </div>
        </div>
    </div>
</div>


<!--Old Card Start-->
<ng-template #contentLineOldCard>

    <div class="grey-img-div">

        <img src="../../../assets/img/close-grey.png" class="img-close" (click)="closeModel();">

    </div>
    <div class="modal-body">

        <div id="divStatus" class="content-scroll">
            <div class="row divStatus-iner">
                <div class="col-md-2 box-style" *ngFor="let dt of oldCardList, let i=index">
                    <div class="box-style-iner">
                        <a href="{{dt.imageURL}}" target="_blank">
                            <img [src]="dt.imageURL" class="imageurl-img" />
                        </a>
                    </div>
                    <div class="main-tag">
                        <div class="f-left">
                            <h3 class="name-heading"> {{dt.name}} </h3><br />
                            <h3 class="mobile-heading" id="spMobile{{i}}"> {{dt.mobile}} </h3><br />

                            <h3 class="cardno-heading" id="spCardNo{{i}}"> {{dt.cardNo}} (RFID) </h3><br />

                            <h3> {{dt.surveyDate}} </h3><br />
                            <h3 class="h3caption"> SIKA </h3>
                            <input id="txt{{i}}" type="text" class="txtCardNo">&nbsp;
                            <i class="fas fa-arrow-circle-right btnNext" (click)="getProcessRfId(i);"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>
<!--Old Card End-->

<!--Surveyed Markers Start-->
<ng-template #contentLineMarkers>
    <div class="img-close-outer">

        <img src="../../../assets/img/close-grey.png" class="img-close" (click)="closeModel();">

    </div>
    <div class="modal-body">
        <div id="divEntityList" style="display:none;position: absolute;z-index: 9999; width: 80%; height:80%;background-color: #fff; padding: 20px; border: 1px solid lightgray; overflow-y: scroll; margin-top: 5%; margin-left: 10%;">
            <img src="../../../assets/img/close-grey.png" style="float:right ;" class="img-close" (click)="hideEntity();">
            <div class="row">
                <div class="col-md-3 " *ngFor="let data of entityList" style="margin-right: -10px;">
                    <div class="row" style="margin: 0px;">
                        <div style="border: 1px solid lightgray; border-radius: 5px; padding: 5px; margin-bottom: 10px!important;background-color: #f1f1f1; ">
                            <div style="width: 96%; float:left; margin-left: 5px;">
                                <div class="content-scroll-iner">
                                    <a href="{{data.entityImageURL}}" target="_blank">
                                        <img [src]="data.entityImageURL" class="imageurl" />
                                    </a>
                                </div>
                                <div class="main-tag">
                                    <div class="f-left">
                                        <h3 class="f-left-heading"> {{data.name}} </h3><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divStatus" class="content-scroll">
            <div class="row">
                <div class="col-md-4" *ngFor="let dt of scannedCardList" style="margin-right: -10px;">
                    <div class="row" style="margin: 0px;">
                        <div style="border: 1px solid lightgray; border-radius: 5px; padding: 5px; margin: 5px!important;background-color: #f1f1f1; ">
                            <div style="width: 48%; float:left;">
                                <div class="imagrurl">
                                    <a href="{{dt.imageURL}}" target="_blank">
                                        <img [src]="dt.imageURL" class="imageurl-img" />
                                    </a>
                                </div>
                                <div class="main-tag">
                                    <div class="f-left" style="margin-left: 10px;">
                                        <h3 class="name-heading"> {{dt.name}} </h3><br />
                                        <h3 class="mobile-heading"> {{dt.mobile}} </h3><br />
                                    </div>
                                </div>
                            </div>
                            <div style="width: 48%; float:right;">
                                <div class="imagrurl">
                                    <a href="{{dt.houseImageURL}}" target="_blank">
                                        <img [src]="dt.houseImageURL" class="imageurl-img" />
                                    </a>
                                </div>
                                <div class="main-tag">
                                    <div class="f-left">
                                        <h3 class="cardno-heading"> {{dt.cardNo}} </h3><br />
                                        <h3> {{dt.surveyDate}} <i class="far fa-eye eye-icon" [hidden]="dt.hasEntity==0" style="float: right !important; cursor: pointer; font-size: 20px;" (click)="showEntity(dt.cardNo);"></i></h3><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>
<!--Surveyed Markers End-->

<!--Revisit Start-->

<ng-template #contentRevisit>

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div id="divConfirm" class="modal-content-iner">
                <h5 class="modal-title modal-content-iner-heading">Are you sure to delete?</h5>
                <input id="revisitIndex" type="hidden" value="0">
                <div class="row confirm-btn-div-outer">
                    <div class="col-md-6 confirm-btn-div">
                        <button class="btn btn-success " (click)="checkRevisit();">
                Confirm</button>
                    </div>
                    <div class="col-md-6 Cancel-btn-div">
                        <button class="btn btn-danger Cancel-btn" (click)="cancelRevisitDelete();">
                Cancel</button>
                    </div>
                </div>
            </div>
            <div class="img-close-outer2">
                <img src="../../../assets/img/close-grey.png" class="img-close" (click)="closeModel();">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 scrollable-halt-outer">
                        <div id="divSequence" class="scrollable-halt">
                            <div class="{{dt.activeClass}}" *ngFor="let dt of revisitSurveyList, let i=index" (click)="getRevisitMarker(i);">
                                <div [hidden]="dt.lines==0" class="work-stop-address line-detail">
                                    <p><i class="fas fa-map-marker-alt"></i> Line {{dt.lineNo}}

                                    </p>
                                </div>
                                <div class="work-stop-address-outer">
                                    <div class="work-stop-address house-icon-div">
                                        <p><i class="fas fa-house-damage house-icon1"></i> {{dt.houseType}}
                                        </p>
                                    </div>
                                    <div class="work-stop-address house-icon-div">
                                        <p><i class="fas fa-user-tie"></i> {{dt.name}}</p>
                                    </div>
                                    <div class="work-stop-address house-icon-div">
                                        <p><i class="fas fa-registered registered-icon"></i> {{dt.reason}}</p>
                                    </div>

                                    <div class="work-stop-address house-icon-div">
                                        <p><i class="far fa-calendar-alt"></i> {{dt.requestDate}}

                                        </p>
                                    </div>
                                    <div class="work-stop-address">
                                        <p><i class="fas fa-user-check check-icon"></i> {{dt.surveyorName}}
                                            <span class="work-stop-address-span">
                          <i class="fas fa-arrow-circle-right circle-right-icon"
                            
                            (click)="getProcess(i);"></i>
                          <i class="far fa-trash-alt trash-icon"
                            (click)="confirmRevisitRequest(i);"></i>
                        </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="image-div">
                                    <a href="{{dt.imageURL}}" target="_blank">
                                        <img [src]="dt.imageURL" class="image-div-img" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 halt-map halt-map-2">
                        <div class="halt-map-iner">
                            <div class="halt-map-2-iner" id="revisitMap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Revisit End-->