<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<!----Desktop Navbar Start----->
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-6 col-xl-5 pl-18 ipad-pl-40">
            <div>
                <select class="caret-select" id="ddlYear" (change)="changeYearSelection($event.target.value)" style="width: 150px;" [(ngModel)]="selectedYear">
                    <option value="0">Year</option>
                    <option value={{yer.year}} *ngFor="let yer of yearList"
                        ngSelected="yer.year == selectedYear?'selected':''">{{yer.year}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-4 main-headers">
            Complaint / queries
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 text-right total-house pl-18">

        </div>
    </div>
</section>
<!----Desktop Navbar End----->


<div class="main-content">
    <div class="row main-row">
        <div class="col-md-12 col-lg-12 col-xl-12 pl-0 pr-6 pad-mob-b-10 pad-pr-0" style="padding-right:10px;">
            <div class="card" style="margin-top:-6px;  height: 87vh!important">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div id="divHoldList" class="table-wrapper table-one">
                                    <table id="tblPenalty" class="table table-line">
                                        <thead>
                                            <th class="br-1 td-1" style="border:none!important;">Date</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                City</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                Name</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                Category</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                Description</th>
                                        </thead>
                                        <tbody>
                                            <tr id="tr{{i}}" *ngFor="let data of complaintList; let i=index">
                                                <td class="td-1" style="width:12%; border-right:1px solid #dee2e6">
                                                    {{data.date}}
                                                </td>
                                                <td class="text-left br-1">
                                                    {{data.city}}</td>
                                                <td class="text-left br-1">
                                                    {{data.name}}</td>
                                                <td class="text-left br-1">
                                                    {{data.category}}</td>
                                                <td class="text-left br-1">
                                                    {{data.description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="divMessageHold" class="col-md-12 pr-1 text-center" [hidden]="complaintList.length>0" style="padding-top: 20vh;">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>