<section class="halts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 halts-header">
                <select class="caret-select" id="ddlYear" (change)="changeYearSelection($event.target.value)" style="width: 150px;" [(ngModel)]="selectedYear">
          <option value="0">Year</option>
          <option value={{yer.year}} *ngFor="let yer of yearList" ngSelected="yer.year == selectedYear?'selected':''">
            {{yer.year}}</option>
        </select>

            </div>
            <div class="col-md-2 halts-header">

            </div>
            <div class="col-md-4 text-center halts-header">
                Salary Summary
            </div>
            <div class="col-md-4 halts-header" style="float:right;">

            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-8" style="padding-left: 12px;padding-right:6px;">
                <div id="divG">
                    <div style="background-color: #fff; padding-top: 20px; border-radius: 0.25rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);">
                        <div id="divGraph" style="margin-top: 15px;width: 100%!important;">
                            <div id="chartContainer" style="height: 350px; width: 98%; margin-left:auto;margin-right:auto;  ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-left: 6px;  padding-right: 12px;">
                <div>
                    <div class="table-bg">
                        <div style="min-height: 385px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Month/Year</th>
                                        <th scope="col" class="text-right">Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dt of monthSalaryList">
                                        <td>{{dt.month}} {{dt.year}}</td>
                                        <td class="text-right" style="padding: 12px 15px !important;">{{dt.salary}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="last-update">
                <span class="pos-right" style="float:right; font-size: 10px; line-height: 15px; padding-right:50px; padding-top: 10px; text-align: right;color:#fff;">Last
          Update<br />
          <span class="update-time"
            style="font-size: 18px; font-weight: bold;color: #fff;">{{salaryData.lastUpdateTime}} </span></span>
                <button class="refresh" (click)="updateSalary();" title="Update Salaey"><i class="fas fa-redo-alt"
            style="color:#0ba118;"></i></button>
            </div>
            <div class="salary-header" style="display: none;">
                ₹ {{salaryData.totalSalary}} <br> <span style="font-size:12px;font-weight: normal;color:#fff;">Total
          Salary</span>
            </div>

        </div>
    </div>
</section>