<div class="logo">
    <a [routerLink]="[userDetail.homeLink]" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="./assets/img/wevois-logo-white.png" style="display: none;" />
        </div>
    </a><br>
    <a [routerLink]="[userDetail.homeLink]" class="simple-text logo-noraml" style="display: none;">
    WeVOIS
  </a>
</div>

<!------Shubham 1 Style Start---------->
<div class="sidebar-wrapper">
    <ul class="nav">
        <div id="liCity" class="seprater" style="display: none;">
            <li (click)="openCityModel(contentCity)" style="cursor: pointer;">
                <img id="cityImage" src="./assets/img/sikar.svg" class="img-fluid" alt="" title="" style="width: 22px;">
                <p style="margin-top: -27px; margin-left: 45px; color: #fff; text-transform: uppercase; font-size: 12px;"><span id="cityName">Sikar</span> <i class="fas fa-caret-down"></i></p>
            </li>
        </div>
        <li routerLinkActive="active" *ngFor="let usr of accessList">
            <a [routerLink]="[usr.url]" (click)="getPage(usr.url)">
                <i class="{{usr.img}}"></i>
                <p>{{usr.name}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="[userDetail.changePasswordLink]">
                <i class="now-ui-icons users_single-02"></i>
                <p>Change Password</p>
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>
<!------Shubham 1 Style End---------->

<!--
<div class="social-m-footer">
  <li>
    <a>
      <i class="fab fa-instagram insta-hvr"></i>
    </a>
    <div class="social-links">
      <a href="https://www.facebook.com/wevois/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/wevois?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </li>
</div>
-->
<!------Shubham 2 Style Start---------->
<!-- <div class="sidebar-wrapper">
    <ul class="nav">
        <li *ngFor="let usr of accessList">
            <a (click)="getPage(usr.url)" >
                <i class="{{usr.img}}"></i>
                <p>{{usr.name}}</p>
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>  -->
<!------Shubham 2 Style End---------->

<!------Harendra Sir Style Start---------->
<!-- <div class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let usr of accessList">
          <a (click)="getPage(usr.url)" [routerLink]="[usr.url]" >
              <i class="{{usr.img}}"></i>
              <p>{{usr.name}}</p>
          </a>
      </li>
      <li>
          <a href="/logout">
              <i class="fas fa-sign-out-alt"></i>
              <p>Log Out</p>
          </a>
      </li>
  </ul>
</div>  -->
<!------Harendra Sir Style End---------->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to log out?</h5>
        </div>
        <div class="modal-body text-center">
            <button type="button" class="btn btn-primary">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div> -->


<!--Login city  Start-->
<ng-template #contentCity>
    <div class="modal-dialog modal-dialog-centered main" role="document">
        <div class="modal-content modal-content2">
            <div class="modal-body">
                <section class="login">
                    <div class="container login-container">
                        <div class="row">
                            <div class="col-md-2 login-header back blanck">
                            </div>
                            <div class="col-md-8 login-header text-center">
                                <p style="padding-top: 5px; cursor: pointer;" (click)="changeCity('test');"><span class="welcome-text" id="popUpCityName">Sikar</span></p>
                            </div>
                            <div class="col-md-2 back login-header close-icon">
                                <button type="button" class="close" (click)="closeMapModel();">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>
                        </div>

                        <div class="login-body" style="margin-top: 50px;">
                            <div class="row row2" style="display: flex; justify-content: center;">
                                <div id="behrorBox" class="login-box active-box" style="cursor: pointer; margin-right: 30px; display: none; " (click)="changeCity('behror');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Behror
                                    </p>
                                </div>
                                <div id="jaipurBox" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaipur');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Jaipur
                                    </p>
                                </div>
                                <div id="jaipurGreaterBox" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaipur-greater');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Jaipur Greater
                                    </p>
                                </div>
                                <div id="jaisalmerBox" style="display:none;" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('jaisalmer');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Jaisalmer
                                    </p>
                                </div>
                                <div id="kishangarhBox" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('kishangarh');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Kishangarh
                                    </p>
                                </div>
                                <div id="niwaiBox" class="login-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('niwai');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Niwai
                                    </p>
                                </div>
                                <div id="reengusBox" class="login-box" style="margin-bottom: 0px!important;margin-left: -30px;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('reengus');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Reengus
                                    </p>
                                </div>
                                <div id="salasarBox" class="login-box" style="cursor: pointer;  margin-right: 30px;  display: none;" (click)="changeCity('salasar');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Salasar Balaji
                                    </p>
                                </div>
                                <div id="sikarBox" class="login-box active-box" style="cursor: pointer; margin-right: 30px; display: none; " (click)="changeCity('sikar');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Sikar
                                    </p>
                                </div>
                                <div id="shahpuraBox" class="login-box Shahpura-box" style="margin-bottom: 0px!important;cursor: pointer; margin-right: 30px; display: none;" (click)="changeCity('shahpura');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Shahpura
                                    </p>
                                </div>
                                <div class="ram" id="jaipurOfficeBox" style="margin-bottom: 0px!important;cursor: pointer;margin-top: 0px;margin-right: 30spx;  display: none; " (click)="changeCity('jaipur-office');">
                                    <p>
                                        <i class="fas fa-city" style="margin-right: 5px !important;"></i> <br> Jaipur Office
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>
</ng-template>
<!--city Status End-->

<!--No internet start-->
<ng-template #contentInternetCheck>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content2">
            <div class="modal-header">
                <h5 class="modal-title">Internet Status</h5>
                <button type="button" class="close" (click)="closeMapModel();">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="divMessage" class="col-md-12" style="text-align: center; font-size: 16px;">
                        Sorry No Internet Available. Please check internet !!!!
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--No internet end-->