<div class="logo" style="display: none">
  <a [routerLink]="[userDetail.homeLink]" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/wevois-logo-white.png" style="display: none" />
    </div> </a
  ><br />
  <a
    [routerLink]="[userDetail.homeLink]"
    class="simple-text logo-noraml"
    style="display: none"
  >
    WeVOIS
  </a>
</div>

<a [routerLink]="[userDetail.homeLink]" class="homeLink"> Home </a>

<!------Shubham 1 Style Start---------->
<div class="sidebarNav">
  <div class="sidebarHeader" id="liCity" style="display: none">
    <div (click)="openCityModel(contentCity)" style="cursor: pointer">
      <img
        id="cityImage"
        src="./assets/img/sikar.svg"
        class="img-fluid"
        alt=""
        title=""
        style="width: 22px"
      />
      <p
        class="sidebarHeaderRow"
        style="
          margin-top: -27px;
          margin-left: 45px;
          color: #fff;
          text-transform: uppercase;
          font-size: 12px;
        "
      >
        <span class="sidebarText" id="cityName" style="font-size: 12px"
          >Sikar</span
        >
        <img
          src="../../../assets/icons/caret-down-solid.svg"
          alt="caret-down-solid"
          width="12px"
          style="float: right; margin-right: 15px; margin-top: 4px"
          class="icon-white"
        />
      </p>
    </div>
  </div>
  <ul class="sidebarUL nav">
    <li routerLinkActive="active" *ngFor="let usr of accessList">
      <a
        [routerLink]="[usr.url]"
        (click)="getPage(usr.url)"
        [hidden]="usr.isOuterUrl == 'yes'"
        style="
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
        "
      >
        <img
          [src]="usr.img"
          style="height: 19px; margin-left: 10px"
          class="icon-white"
        />
        <p class="sidebarText" style="margin: 0">{{ usr.name }}</p>
      </a>
      <a
        [attr.href]="usr.url"
        target="_blank"
        [hidden]="usr.isOuterUrl == 'no'"
        style="
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
        "
      >
        <img
          [src]="usr.img"
          style="height: 19px; margin-left: 10px"
          class="icon-white"
        />
        <p class="sidebarText" style="margin: 0">{{ usr.name }}</p>
      </a>
    </li>
    <li>
      <a
        [routerLink]="[userDetail.changePasswordLink]"
        style="
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
        "
      >
        <img
          src="../../../assets/icons/user-regular.svg"
          alt="user-regular"
          width="18"
          style="margin-left: 10px"
          class="icon-white"
        />
        <p class="sidebarText" style="margin: 0">Change Password</p>
      </a>
    </li>
    <li>
      <a
        href="/logout"
        style="
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
        "
      >
        <img
          src="../../../assets/icons/right-from-bracket-solid.svg"
          alt="right-from-bracket-solid"
          width="18"
          style="margin-left: 10px"
          class="icon-white"
        />
        <p class="sidebarText" style="margin: 0">Log Out</p>
      </a>
    </li>
  </ul>
</div>

<!-- <div class="sidebar-wrapper custom-sidebar-scroll">
    <ul class="nav">
        <div id="liCity" class="seprater" style="display: none;">
            <li (click)="openCityModel(contentCity)" style="cursor: pointer;">
                <img id="cityImage" src="./assets/img/sikar.svg" class="img-fluid" alt="" title="" style="width: 22px;">
                <p
                    style="margin-top: -27px; margin-left: 45px; color: #fff; text-transform: uppercase; font-size: 12px;">
                    <span id="cityName">Sikar</span>
                    <img src="../../../assets/icons/caret-down-solid.svg" alt="caret-down-solid" width="12px"
                        style="float:right;margin-right:15px;margin-top:4px;" class="icon-white"/>
                </p>
            </li>
        </div>
        <li routerLinkActive="active" *ngFor="let usr of accessList">
            <a [routerLink]="[usr.url]" (click)="getPage(usr.url)" [hidden]="usr.isOuterUrl=='yes'"
                style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
                <img [src]="usr.img" style="height:19px;margin-left: 10px;" class="icon-white"/>
                <p style="margin: 0;">{{usr.name}}</p>
            </a>
            <a [attr.href]="usr.url" target="_blank" [hidden]="usr.isOuterUrl=='no'"
                style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
                <img [src]="usr.img" style="height:19px;margin-left: 10px;" class="icon-white" />
                <p style="margin: 0;">{{usr.name}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="[userDetail.changePasswordLink]"
                style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
                <img src="../../../assets/icons/user-regular.svg" alt="user-regular" width="18"
                    style="margin-left: 10px;" class="icon-white"/>
                <p style="margin: 0;">Change Password</p>
            </a>
        </li>
        <li>
            <a href="/logout" style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
                <img src="../../../assets/icons/right-from-bracket-solid.svg" alt="right-from-bracket-solid" width="18"
                    style="margin-left: 10px;" class="icon-white"/>
                <p style="margin: 0;">Log Out</p>
            </a>
        </li>
    </ul>
</div> -->
<!------Shubham 1 Style End---------->

<!--
<div class="social-m-footer">
  <li>
    <a>
      <i class="fab fa-instagram insta-hvr"></i>
    </a>
    <div class="social-links">
      <a href="https://www.facebook.com/wevois/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/wevois?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </li>
</div>
-->
<!------Shubham 2 Style Start---------->
<!-- <div class="sidebar-wrapper">
    <ul class="nav">
        <li *ngFor="let usr of accessList">
            <a (click)="getPage(usr.url)" >
                <i class="{{usr.img}}"></i>
                <p>{{usr.name}}</p>
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>  -->
<!------Shubham 2 Style End---------->

<!------Harendra Sir Style Start---------->
<!-- <div class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let usr of accessList">
          <a (click)="getPage(usr.url)" [routerLink]="[usr.url]" >
              <i class="{{usr.img}}"></i>
              <p>{{usr.name}}</p>
          </a>
      </li>
      <li>
          <a href="/logout">
              <i class="fas fa-sign-out-alt"></i>
              <p>Log Out</p>
          </a>
      </li>
  </ul>
</div>  -->
<!------Harendra Sir Style End---------->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to log out?</h5>
        </div>
        <div class="modal-body text-center">
            <button type="button" class="btn btn-primary">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- Login city Start -->
<ng-template #contentCity>
  <div class="login-container">
    <div class="login-header">
      <p style=" cursor: pointer" (click)="changeCity('devtest')">
        <span class="welcome-text" id="popUpCityName">Sikar</span>
      </p>
      <button type="button" class="close" (click)="closeMapModel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="city-selection-group">
      <div *ngFor="let data of citySelectionList;"
        class="login-box"        
        (click)="data.city=='' ? openSecondCityModel(contentSecondCity) : changeCity(data.city)"
      >
        <div class="imgBG">
          <img [src]="data.cityLogo" alt="" />
        </div>
        <p>{{data.name}}</p>
      </div>

    </div>
    <!-- </div> -->
  </div>
</ng-template>
<!--city Status End-->

<!--Login city  Start-->
<ng-template #contentSecondCity>
    <div class="contentCityModal">
          <div class="login-container">
            <div class="login-header">
              <span
                id="secondCityHeader"
                class="welcome-text"
                (click)="changeCity('jaipur')"
                >Jaipur D2D</span
              >
              <button type="button" class="close" (click)="closeMapModel()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div
              class="city-selection-group"
              style="display: flex; justify-content: center"
            >
            <div
                *ngFor="let data of jaipurCityList;"
                class="login-box"                
                (click)="changeCity(data.city)"
              >
                <div class="imgBG">
                  <img [src]="data.cityLogo" alt="" />
                </div>
                <p>{{data.name}}</p>
              </div>
            </div>
          </div>
          </div>
</ng-template>
<!--city Status End-->

<!--No internet start-->
<div class="login-container-two">
<ng-template #contentInternetCheck>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content2">
      <div class="modal-header">
        <h5 class="modal-title">Internet Status</h5>
        <button type="button" class="close" (click)="closeMapModel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            id="divMessage"
            class="col-md-12"
            style="text-align: center; font-size: 16px"
          >
            Sorry No Internet Available. Please check internet !!!!
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
</div>
<!--No internet end-->
