<section class="halts">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center halts-header">
        Halts Summary
      </div>
    </div>
    <div class="row no-gutters" style="margin-top: 10px;">
      <div class="col-md-8" style="padding-right: 5px; padding-left: 2px;">
        <span id="spGraph" style="position: absolute; z-index: 99; right:25px; margin-top: 10px;"> <a
            href="javaScript:void(0);" (click)="showGraph();"><i class="fas fa-chart-line" style="font-size: 28px;color: #0ba118;"></i>
          </a></span>
        <span id="spTable" style="position: absolute; z-index: 99; right:25px; margin-top: 10px;">
          <a href="javaScript:void(0);" (click)="showTable();"><i class="fas fa-table" style="font-size: 28px;color: #0ba118;"></i>
          </a></span>

        <div id="divTbl" class="dth">
          <div class="table-bg">
            <div class="tableFixHead">
              <table class="table table-hover" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col" class="text-center">Halts</th>
                    <th scope="col" class="text-center">Un-approved </th>
                    <th scope="col" class="text-center">Approved </th>
                    <th scope="col" class="text-center"> Amount </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dt of weekHaltList, let i=index" [hidden]="i==7">
                    <td class="border-right">{{dt.wDate}}</td>
                    <td class="text-center border-right"><a href="javaScript:void(0);">{{dt.halt}}</a>&nbsp; <i class="{{dt.class}}"
                        title="Halt Up">{{dt.percent}}%</i></td>
                    <td class="text-center border-right"><a href="javaScript:void(0);">{{dt.unApproved}}</a>&nbsp; <i
                        class="{{dt.classUnApproved}}" title="Halt Down">{{dt.percentUnApproved}}%</i></td>
                    <td class="text-center border-right"><a href="javaScript:void(0);">{{dt.approved}}</a>&nbsp; <i
                        class="{{dt.classApproved}}" title="Halt Up">{{dt.percentApproved}}%</i></td>
                    <td class="text-center"><a href="javaScript:void(0);">{{dt.salary}}</a>&nbsp; <i
                        class="{{dt.classSalary}}" title="Halt Down">{{dt.percentSalary}}%</i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="divG" style="display: none;">
          <div style="background-color: #fff; padding-top: 20px; border-radius: 0.25rem;
          box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);">
            <div id="divGraph" style="margin-top: 15px;width: 100%!important;">
              <div id="chartContainer" style="height: 288px; width: 98%; margin-left:auto;margin-right:auto;  ">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4" style="padding-left: 5px;">
        <div class="dth">
          <h4 style="border-right: 0px solid lightgray;">{{haltDataShow.todaySalary}}/-<br />
            <p><b>Today</b> Amount</p>
          </h4>
          <h4 (click)="openMapModel(content)" style="cursor:pointer;">
            {{haltDataShow.todayHaltApproved}}/{{haltDataShow.todayHalt}}<br />
            <p><b>Today</b> Halts</p>
          </h4>
          <h4 style="border-right: 0px solid lightgray;">{{haltDataShow.weekSalary}}/-<br />
            <p><b>Week</b> Amount</p>
          </h4>
          <h4>{{haltDataShow.weekHaltApproved}}/{{haltDataShow.weekHalt}}<br />
            <p><b>Week</b> Halts</p>
          </h4>
          <h4 style="border-right: 0px solid lightgray;">{{haltDataShow.monthSalary}}/-<br />
            <p><b>Month</b> Amount</p>
          </h4>
          <h4>{{haltDataShow.monthHaltApproved}}/{{haltDataShow.monthHalt}}<br />
            <p><b>Month</b> Halts</p>
          </h4>
        </div>
      </div> -->
      <div class="col-md-4" style="padding-left: 5px; padding-right: 0px;">
        <div class="halt-summary">
          <div class="row">
            <div class="col-md-6" style="padding-right: 0px;">
              <div class="halt-details" (click)="openMapModel(content)" style="cursor:pointer;">
                <p><b>Today</b> Halts</p>
                <h3>
                  <i class="fab fa-houzz"></i>  {{haltDataShow.todayHaltApproved}}/{{haltDataShow.todayHalt}}
                </h3>
              </div>
              <div class="halt-details">
                <p><b>Week</b> Halts</p>
                <h3>
                  <i class="fab fa-houzz"></i>  {{haltDataShow.weekHaltApproved}}/{{haltDataShow.weekHalt}}
                </h3>
              </div>
              <div class="halt-details">
                <p><b>Month</b> Halts</p>
                <h3>
                  <i class="fab fa-houzz"></i>  {{haltDataShow.monthHaltApproved}}/{{haltDataShow.monthHalt}}
                </h3>
              </div>
            </div>
            <div class="col-md-6" style="padding-left: 0px;">
              <div class="halt-details">
                <p><b>Today</b> Amount</p>
                <h3>
                  <i class="fas fa-rupee-sign" style="padding-top: 12px;"></i>  {{haltDataShow.todaySalary}}/-
                </h3>
              </div>
              <div class="halt-details">
                <p><b>Week</b> Amount</p>
                <h3>
                  <i class="fas fa-rupee-sign" style="padding-top: 12px;"></i>  {{haltDataShow.weekSalary}}/-
                </h3>
              </div>
              <div class="halt-details">
                <p><b>Month</b> Amount</p>
                <h3>
                  <i class="fas fa-rupee-sign" style="padding-top: 12px;"></i>  {{haltDataShow.monthSalary}}/-
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" style="padding-right: 5px;padding-left: 17px;">
        <div class="card-bg">
          <div class="inner-text">
            <b id="sptodaySalary"> {{haltDataShow.todaySalary}}</b>/<span id="splastDaySalery">
              {{haltDataShow.lastDaySalery}}</span><br>
            Profit/Lose <b>Today</b>&nbsp; <span id="sptodayProfitLose">{{haltDataShow.todayProfitLose}}</span>/- <i
              class="fas fa-long-arrow-alt-down" title="Halt Down"
              id="sptodayPercent">{{haltDataShow.todayPercent}}%</i></div>
        </div>
      </div>
      <div class="col-md-4" style="padding-right: 10px; padding-left:5px;">
        <div class="card-bg">
          <div class="inner-text">
            <b id="spweekSalary">{{haltDataShow.weekSalary}}</b>/<span
              id="splastWeekSalary">{{haltDataShow.lastWeekSalary}}</span><br>
            Profit/Lose <b>Weak</b>&nbsp; <span id="spweekProfitLose"> {{haltDataShow.weekProfitLose}}</span>/- <i
              class="fas fa-long-arrow-alt-down" title="Halt Down" id="spweekPercent">{{haltDataShow.weekPercent}}%</i>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="padding-left:0px;">
        <div class="card-bg">
          <div class="inner-text">
            <b id="spmonthSalary">{{haltDataShow.monthSalary}}</b>/<span
              id="splastMonthSalary">{{haltDataShow.lastMonthSalary}}</span><br>
            Profit/Lose <b>Month</b>&nbsp; <span id="spmonthProfitLose"> {{haltDataShow.monthProfitLose}}</span>/- <i
              class="fas fa-long-arrow-alt-down" title="Halt Down"
              id="spmonthPercent">{{haltDataShow.monthPercent}}%</i></div>
        </div>
      </div>
    </div>
    <!--
    <div class="col-md-8" style="display: none;">
      <div class="table-bg" style="margin-left: -30px!important;"> 
        <div class="tableFixHeadDetail" style="height: 262px!important;">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col" class="text-center">{{haltDataShow.date1}}</th>
                <th scope="col" class="text-center">{{haltDataShow.date2}}</th>
                <th scope="col" class="text-center">{{haltDataShow.date3}}</th>
                <th scope="col" class="text-center">{{haltDataShow.date4}}</th>
                <th scope="col" class="text-center">{{haltDataShow.date5}}</th>
                <th scope="col" class="text-center">{{haltDataShow.date6}}</th>
                <th scope="col" class="text-center">{{haltDataShow.date7}}</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let hl of haltList">
                <td>{{hl.driverName}}</td>
                <td class="text-center"><a href="javaScript:void(0);">{{hl.day1}}</a></td>
                <td class="text-center"><a href="javaScript:void(0);">{{hl.day2}}</a></td>
                <td class="text-center"><a href="javaScript:void(0);">{{hl.day3}}</a></td>
                <td class="text-center"><a href="javaScript:void(0);">{{hl.day4}}</a></td>
                <td class="text-center"><a href="javaScript:void(0);">{{hl.day5}}</a></td>
                <td class="text-center"><a href="javaScript:void(0);">{{hl.day6}}</a></td>
                <td class="text-center"><a href="javaScript:void(0);">{{hl.day7}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>-->

    <div class="row" style="margin-top: 5px; display: none;">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12" style="margin-top: 10px;">
            <div class="dth-header">
              Performer of Day
            </div>
            <div class="dth">
              <div class="table-bg">
                <div class="tableFixHeadDetail">
                  <table class="table table-hover" style="margin-top: -8px;">
                    <thead>
                      <tr>
                        <td colspan="2"
                          style="text-transform: uppercase; text-align: center; color: #0ba118;  border-right: 1px solid #000;">
                          Best Performar</td>
                        <td colspan="2" style="text-transform: uppercase; text-align: center; color: red;">Bad Performar
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bf of dailyPerformer">
                        <td>{{bf.driverName}}</td>
                        <td class="text-center" style=" border-right: 1px solid #000;"><a
                            href="javaScript:void(0);">{{bf.halt}} </a></td>
                        <td>{{bf.driverName2}}</td>
                        <td class="text-center"><a href="javaScript:void(0);">{{bf.halt2}} </a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12" style="margin-top: 10px;">
            <div class="dth-header1">
              Performer of Week
            </div>
            <div class="dth">
              <div class="table-bg">
                <div class="tableFixHeadDetail">
                  <table class="table table-hover" style="margin-top: -8px;">
                    <thead>
                      <tr>
                        <td colspan="2"
                          style="text-transform: uppercase; text-align: center; color: #0ba118;  border-right: 1px solid #000;">
                          Best Performar</td>
                        <td colspan="2" style="text-transform: uppercase; text-align: center; color: red;">Bad Performar
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bf of weekPerformer">
                        <td>{{bf.driverName}}</td>
                        <td class="text-center" style=" border-right: 1px solid #000;"><a
                            href="javaScript:void(0);">{{bf.halt}} </a></td>
                        <td>{{bf.driverName2}}</td>
                        <td class="text-center"><a href="javaScript:void(0);">{{bf.halt2}} </a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12" style="margin-top: 10px;">
            <div class="dth-header2">
              Performer of Month
            </div>
            <div class="dth">
              <div class="table-bg">
                <div class="tableFixHeadDetail">
                  <table class="table table-hover" style="margin-top: -8px;">
                    <thead>
                      <tr>
                        <td colspan="2"
                          style="text-transform: uppercase; text-align: center; color: #0ba118;  border-right: 1px solid #000;">
                          Best Performar</td>
                        <td colspan="2" style="text-transform: uppercase; text-align: center; color: red;">Bad Performar
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <td></td>
                        <td class="text-center" style=" border-right: 1px solid #000;"><a
                            href="javaScript:void(0);"> </a></td>
                        <td></td>
                        <td class="text-center"><a href="javaScript:void(0);"> </a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<ng-template #content>
  <div style="width: 100%;text-align: right;float: left;">
    <img src="../../../assets/img/close-grey.png" class="img-close" (click)="closeMapModel();">
  </div>
  <div class="modal-body" style="float: left;margin-top:-28px; ">
    <div class="row">
      <div class="col-md-6">
        <div class="dth">
          <div class="table-bg">
            <div class="tableFixHead" style="height: 90vh!important;">
              <table class="table table-hover" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th scope="col">Ward</th>
                    <th scope="col" class="text-center">Driver </th>
                    <th scope="col" class="text-right">Halts</th>
                    <!--
                    <th scope="col" class="text-center">Approved </th>-->
                    <th scope="col" class="text-right"> Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dt of todayHaltList" (click)="getWardMap(dt.zoneNo);" style="cursor:pointer;"
                    class="{{dt.bgColor}}">
                    <td class="border-right">{{dt.zoneName}}</td>
                    <td class="text-left border-right"><a href="javaScript:void(0);">{{dt.driverName}}</a>&nbsp; </td>
                    <td class="text-right border-right"><a href="javaScript:void(0);">{{dt.halt}}</a>&nbsp; </td>
                    <!--
                    <td class="text-center"><a href="javaScript:void(0);">{{dt.approved}}</a>&nbsp; </td>-->
                    <td class="text-right border-right"><a href="javaScript:void(0);">{{dt.salary}}</a>&nbsp; </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="divMap" class="report-map">
          <div id="haltMap" style="width:100%;height:90vh;"></div>
        </div>
      </div>
    </div>

  </div>
</ng-template>