<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-7" style="padding-left: 10px;    margin-top: -8px;">
            <select class="caret-select"  (change)="changeSelection();" style="width: 210px; height:36px"[(ngModel)]="selectedEmployee">
                     <option value="0">Select Employee</option>
                    <option value={{emp.empId}} *ngFor="let emp of filterEmployeeList" ngSelected="emp.name == selectedEmployee?'selected':''">{{emp.name}} ({{emp.empCode}})</option> 
            </select>
            <select class="caret-select" id="ddlYear" (change)="changeSelection();" style="width: 100px; height:36px" [(ngModel)]="selectedYear">
                <option value={{yer.year}} *ngFor="let yer of yearList"
                    ngSelected="yer.year == selectedYear?'selected':''">{{yer.year}}</option>
            </select>
            <select class="caret-select" id="ddlZone" (change)="changeSelection();" style="width: 110px; height:36px" [(ngModel)]="selectedMonth">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <span>
                <input id="chkIncludeInactive" type="checkbox" (change)="getFilterEmployee()"
                style="margin-left: 9px;">
            <label style="font-size: 60%; padding-bottom: 1%;">&nbsp; Include In-Active Employee</label>
            </span>
        </div>
        <!-- <div class="col-md-3 " style="margin-left: -18px; font-size: 20px;letter-spacing: 2px; margin-top: -7px;">
            Monthly Attendance 
        </div> -->
        
        
       
        <div class="col-md-5 "style='margin-top:-13px' >
            <div class="d-flex justify-content-end align-items-center ">
                <div class="text-center me-3">
            <i class="fa-solid fa-file-export export-icon ps-0  text-center"   (click)="exportToExcel();"></i><br>
            <p class="mb-0" style="font-size: 9px ">Export</p>
        </div>
            <div class="text-center">
            <button (click)="getEmployeeAttandanceData();"><i
                class="fas fa-redo-alt" style="padding: 1px; "></i></button>
        <h6 style="font-size: 12px;">{{lastSyncData}}</h6>
    </div>
        </div>
           <!-- <div> -->
           
           <!-- </div> -->
           
        </div>
    </div>
</section>


<section class="halts" style="padding-left: 10px;">
    <div class="container-fluid">
        <div class="row" style="margin-top: -40px;">
            <div class="col-md-12" style="padding-left: 5px;">
                <div>
                    <div class="table-bg">
                        <div class="tableFixHead">
                            <table class="table table-hover">
                                <thead>
                                    <tr >
                                        <th scope="col" class=" thFixed" style="z-index: 11; padding-top: 10px!important; padding-bottom: 10px!important; width: 310px!important;">
                                            <div style="width: 180px!important;">Name</div>
                                        </th>
                                        <th scope="col" class="text-left thFixed2 " style="z-index: 11; padding-top: 10px!important; padding-bottom: 10px!important;">
                                            Total</th>
                                        <th scope="col" class="text-left thFixed2 " style="z-index: 11; padding-top: 10px!important; padding-bottom: 10px!important;">
                                            Leave Balance</th>

                                        <th scope="col" class="text-center">01</th>
                                        <th scope="col" class="text-center">02</th>
                                        <th scope="col" class="text-center">03</th>
                                        <th scope="col" class="text-center">04</th>
                                        <th scope="col" class="text-center">05</th>
                                        <th scope="col" class="text-center">06</th>
                                        <th scope="col" class="text-center">07</th>
                                        <th scope="col" class="text-center">08</th>
                                        <th scope="col" class="text-center">09</th>
                                        <th scope="col" class="text-center">10</th>
                                        <th scope="col" class="text-center">11</th>
                                        <th scope="col" class="text-center">12</th>
                                        <th scope="col" class="text-center">13</th>
                                        <th scope="col" class="text-center">14</th>
                                        <th scope="col" class="text-center">15</th>
                                        <th scope="col" class="text-center">16</th>
                                        <th scope="col" class="text-center">17</th>
                                        <th scope="col" class="text-center">18</th>
                                        <th scope="col" class="text-center">19</th>
                                        <th scope="col" class="text-center">20</th>
                                        <th scope="col" class="text-center">21</th>
                                        <th scope="col" class="text-center">22</th>
                                        <th scope="col" class="text-center">23</th>
                                        <th scope="col" class="text-center">24</th>
                                        <th scope="col" class="text-center">25</th>
                                        <th scope="col" class="text-center">26</th>
                                        <th scope="col" class="text-center">27</th>
                                        <th scope="col" class="text-center">28</th>
                                        <th scope="col" class="text-center"*ngIf="arraylength > 28">29</th>
                                        <th scope="col" class="text-center"*ngIf="arraylength > 29">30</th>
                                        <th scope="col" class="text-center" *ngIf="arraylength > 30">31</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dt of  reportList;let i=index">
                                        <td class=" thFixed" style=" border-right:none;">
                                            <b> {{i+1}}.</b>&nbsp; {{dt.name}}<br />
                                        </td>
                                        <td class="text-center thFixed2" style="vertical-align: top; font-weight: bold; ">{{dt.total}}</td>
                                        <td class="text-center thFixed2" style="vertical-align: top; font-weight: bold; ">{{dt.leaveBalance || 0}}</td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[0].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                           
                                            <div style="width:100%">
                                                {{dt.list[1].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[2].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[3].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[4].attendanceType}}
                                            </div>
                                           
                                        </td>
                                        <td class="tdStyle">
                                          
                                            <div style="width:100%">
                                                {{dt.list[5].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[6].attendanceType}}
                                            </div>
                                           
                                        </td>
                                        <td class="tdStyle">
                                       
                                            <div style="width:100%">
                                                {{dt.list[7].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                         
                                            <div style="width:100%">
                                                {{dt.list[8].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                           
                                            <div style="width:100%">
                                                {{dt.list[9].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                           
                                            <div style="width:100%">
                                                {{dt.list[10].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                           
                                            <div style="width:100%">
                                                {{dt.list[11].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                         
                                            <div style="width:100%">
                                                {{dt.list[12].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                        
                                            <div style="width:100%">
                                                {{dt.list[13].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[14].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[15].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                         
                                            <div style="width:100%">
                                                {{dt.list[16].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[17].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[18].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[19].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[20].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[21].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[22].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[23].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[24].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle"> 
                                            <div style="width:100%">
                                                {{dt.list[25].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[26].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[27].attendanceType}}
                                            </div>
                                            <!-- <div style="width:100%">
                                                <ng-container *ngIf="compareDates(dt.list[27].date, currentDate); else elseBlock">
                                                    {{ dt.list[27].attendanceType }}
                                                </ng-container>
                                                <ng-template #elseBlock>

                                                    --
                                                  
                                                </ng-template>
                                            </div> -->
                                        </td>
                                        <td class="tdStyle" *ngIf="arraylength > 28">
                                            <div style="width:100%">
                                                {{ dt.list[28].attendanceType}}
                                            </div>
                                        </td>
                                        <td class="tdStyle"*ngIf="arraylength > 29">
                                            <div style="width:100%">
                                                
                                                {{ dt.list[29].attendanceType }}
                                            </div>
                                        </td>
                                        <td class="tdStyle" *ngIf="arraylength > 30">
                                            <div style="width:100%">
                                                {{ dt.list[30].attendanceType }}
                                            </div>
                                        </td> 
                                        
                                    </tr>
                                    <!-- <tr *ngFor="let dt of  reportList;let i=index">

                                        <td class=" thFixed" style=" border-right:none;">
                                            <b> {{i+1}}.</b>&nbsp; {{dt.name}}<br />
                                        </td>
                                        <td class="text-center thFixed2" style="vertical-align: top; font-weight: bold; ">{{dt.total}}</td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[0].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                           
                                            <div style="width:100%">
                                                {{dt.list[1].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[2].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[3].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:5%">
                                                {{dt.list[4].fullAttendance}}
                                            </div>
                                           
                                        </td>
                                        <td class="tdStyle">
                                          
                                            <div style="width:100%">
                                                {{dt.list[5].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[6].fullAttendance}}
                                            </div>
                                           
                                        </td>
                                        <td class="tdStyle">
                                       
                                            <div style="width:100%">
                                                {{dt.list[7].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                         
                                            <div style="width:100%">
                                                {{dt.list[8].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                           
                                            <div style="width:100%">
                                                {{dt.list[9].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                           
                                            <div style="width:100%">
                                                {{dt.list[10].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                           
                                            <div style="width:100%">
                                                {{dt.list[11].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                         
                                            <div style="width:100%">
                                                {{dt.list[12].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                        
                                            <div style="width:100%">
                                                {{dt.list[13].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[14].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[15].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                         
                                            <div style="width:100%">
                                                {{dt.list[16].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[17].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[18].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[19].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[20].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[21].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[22].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[23].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[24].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle"> 
                                            <div style="width:100%">
                                                {{dt.list[25].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[26].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{dt.list[27].fullAttendance}}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{ dt.list.length > 28 ? dt.list[28].fullAttendance : '--' }}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                
                                                {{ dt.list.length > 29 ? dt.list[29].fullAttendance : '--' }}
                                            </div>
                                        </td>
                                        <td class="tdStyle">
                                            <div style="width:100%">
                                                {{ dt.list.length > 30 ? dt.list[30].fullAttendance : '--' }}
                                            </div>
                                        </td> 
                                        
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!---------Add Plan Accordion Start-------->
<!-- <a role="button" class="plan-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    PLANS <i class="fas fa-angle-down" style="padding-left: 5px;"></i>
</a> -->
<!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="border-radius: 5px;">
    <div class="panel panel-default"  >
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" style="max-height:90vh; overflow: scroll;">
            <div class="panel-body"  >
                <table class="table" style="margin-bottom: 0px;">
                    <tr *ngFor="let plan of planList">
                        <td>{{plan.planName}}</td>
                        <td><span style="color:green">{{plan.dustbinPicked}}</span></td>
                        <td style="width: 90px!important;">{{plan.date}}</td>
                        <td style="width: 30px!important;"><span style="color:blue">{{plan.dustbinAssigned}}</span>/{{plan.maxDustbin}}</td>
                        <td style="width: 90px!important;">
                            <i class="fas fa-map-marked-alt" style="cursor: pointer;" [hidden]="plan.dustbinAssigned==0" (click)="openModel(contentDustbinPlanSequence,'openMapModel',plan,'','','');"></i>&nbsp;&nbsp;
                            <i class="far fa-edit" (click)="openModel(contentPlan,'updatePlan',plan,'','','');" title="Edit Plan" style="cursor:pointer !important; font-size: 10px;color: royalblue;"></i>&nbsp;&nbsp;
                            <i class="far fa-trash-alt" (click)="openModel(contentPlanConfirm,'deletePlanConfirmation',plan,'','','');" title="Remove Plan" [hidden]="plan.isAssigned!='false'" style="cursor:pointer !important; font-size: 10px;color: red;"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->
<!---------Add Plan Accordion End-------->

<!--Plan Form Start-->
<!-- <ng-template #contentPlan>
    <div class="modal-dialog modal-dialog-centered" role="document" data-backdrop="false" style="margin-top: 27px!important;padding-right: 2px;">
        <div class="modal-content" style="border-top-left-radius: 12px!important; border-top-right-radius: 12px!important;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Your Plan</h5>
                <button type="button" class="close" (click)="closeModel();" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="key" type="hidden" value="0" />
                <input id="prePlanDate" type="hidden" value="">
                <div id="divNewPlan">
                    <div id="divChkPrePlan" class="wrap-input-effects" required>
                        <input type="checkbox" id="chkPreviousPlans" (change)="openPreviousPlan();" /> Copy plans from previous date
                    </div>
                    <label>Plan Name</label>
                    <div class="wrap-input-effects" required>
                        <input id="txtPlanName" type="text" class="input-green" placeholder="Plan Name" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                    </div>
                    <label>Date</label>
                    <div class="wrap-input-effects" required>
                        <input id="txtPlanDate" class="date-input input-green" type="date" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-calendar-day" aria-hidden="true"></i>
                        </span>
                    </div>
                    <label>Max. Dustbin Capacity</label>
                    <div class="wrap-input-effects" required>
                        <input id="txtDustbinCapacity" class="input-green" type="number" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </span>
                    </div>

                    <input type="button" class="btn btn-success" value="Submit" (click)="addUpdatePlan();" style="width: 100%; height: 45px; margin-bottom: 10px;  padding-top: 4px;" />
                </div>
                <div id="divPreviousPlan" style="display: none;">
                    <div class="wrap-input-effects" style="padding-bottom: 5px;">
                        <label style="float: right; cursor: pointer; font-weight: bold;" (click)="backToNewPlan();">Create New </label>

                    </div>
                    <label>Previous Plan Date</label>
                    <div class="wrap-input-effects" required>
                        <input id="txtPreviousPlanDate" class="date-input input-green" type="date" (change)="getPreviousPlans();" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-calendar-day" aria-hidden="true"></i>
                        </span>
                    </div>
                    <label>Previous Plan List</label> <label id="chkAllPlans" style="float: right; display: none;"> <input type="checkbox" id="chkAll" (change)="selectPlan('All')"/> Select All Plans</label>
                    <div class="wrap-input-effects" required style="height:220px; overflow-y: scroll; border: 1px solid lightgrey;">
                        <ul id="ulPreviousPlans" class="list-group">
                            <li *ngFor="let data of previousPlanList; let i=index" class="list-group-item bg-light" style="list-style: none;  padding: 5px 7px;  font-size: 14px; cursor: pointer; border: 1px solid lightgray;">
                                <input id="chk{{data.planId}}" (change)="selectPlan(i);" type="checkbox" /> {{data.planName}}
                            </li>
                        </ul>
                    </div>
                    <label style="font-weight: bold;">Apply coppied plan</label>
                    <div style="width:48%">
                        <label>From</label>
                        <div class="wrap-input-effects">
                            <input id="txtPrePlanDateFrom" class="date-input input-green" type="date" />
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                                <i class="fas fa-calendar-day" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div style="width:48%; float: right; margin-top: -74px;">
                        <label>To</label>
                        <div class="wrap-input-effects">
                            <input id="txtPrePlanDateTo" class="date-input input-green" type="date" />
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                                <i class="fas fa-calendar-day" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>



                    <input type="button" class="btn btn-success" value="Submit" (click)="validateSelectedPlans();" style="width: 100%; height: 45px; margin-bottom: 10px;  padding-top: 4px;" />
                </div>

            </div>
        </div>
    </div>

</ng-template> -->
<!--Plan Form End-->


<!--Plan Dustbin Form Start-->
<!-- <ng-template #contentDustbinPlan>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Dustbin in Plan</h5>
                <button type="button" class="close" (click)="closeModel();" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="dustbinId" type="hidden" value="0" />
                <img src="../../../assets/img/calender-day.png"> &nbsp;
                <span id="planDate" style="font-weight: bold; font-size: 12px;"></span> <br>
                <label style="margin-top: 18px;">Select Plan</label>
                <div class="wrap-input-effects" required>
                    <select class="input-green" id="ddlPlan" (change)="getPlanDetail();">
                        <option value="0">Select Plan</option>
                        <option value="{{plan.key}}" *ngFor="let plan of dustbinPlanList">{{plan.planName}}
                        </option>
                    </select>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                </div>
                <div style="float: left; width: 100%;   margin-top: 10px; padding-bottom: 10px;">
                    <div style="float: left; width: 33.33%; text-align: center; font-size: 12px;margin-top: 5px;">
                        <input type="checkbox" id="chkHigh"><br /> Is High Priority
                    </div>
                    <div class="text-center" style="width: 33.33%;float: left;font-size: 12px;  margin-top: 5px;">
                        <img src="../../../assets/img/dustbin-report-blue.png" style="padding-right: 6px;"> <span id="maxCapacity" style="font-weight: bold;"> 0</span> <br>Max Dustbin Capacity
                    </div>
                    <div class="text-center" style="width: 33.34%;float: left;font-size: 12px;  margin-top: 5px;">
                        <img src="../../../assets/img/dustbin-report-check.png" style="padding-right: 6px;"> <span id="assignedDustbin" style="font-weight: bold;"> 0 </span> <br> Assigned Dustbin
                    </div>

                </div>

                <input type="button" class="btn btn-success" value="Save" (click)="saveDustbinPlan();" style="width: 100%; height: 45px; padding-top: 4px;" />

            </div>
        </div>
    </div>
</ng-template> -->
<!--Plan Dustbin Form End-->


<!--Plan Dustbin Detail Start-->
<!-- <ng-template #contentDustbinPlanDetail>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" (click)="closeModel();" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="d-plans" style="height: 455px;overflow-y: scroll;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="border-right: 1px solid #dee2e6;">Sno.</th>
                                <th style="border-right: 1px solid #dee2e6;" class="text-center">Zone</th>
                                <th style="border-right: 1px solid #dee2e6;" class="text-center">Address</th>
                                <th style="border-right: 1px solid #dee2e6;" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let planDustbin of dustbinPlanDetailList; let i=index" style="border-top: 1px solid #dee2e6;">
                                <td style="width: 40px; border-left: 1px solid #dee2e6;text-align: center;">{{i+1}}</td>
                                <td>{{planDustbin.zone}}</td>
                                <td>{{planDustbin.address}}</td>
                                <td style="width: 40px;text-align: center;">
                                    <i class="far fa-trash-alt" (click)="deletePlanDustbin(planDustbin.dustbin)" title="Remove Dustbin" style="cursor:pointer !important; font-size: 10px;color: red;"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->
<!--Plan Dustbin Detail End-->

<!--Plan Confirmation Start-->
<!-- <ng-template #contentPlanConfirm>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure to delete?</h5>
            </div>
            <div class="modal-body">
                <input id="deletePlanId" type="hidden" value="0" />
                <input id="deletePlanDate" type="hidden" value="0" />
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <button class="btn btn-success " (click)="deleteConfirmPlan();">
                            Confirm</button>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <button class="btn btn-danger " (click)="closeModel();"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->
<!--Plan Confirmation End-->

<!--Dustbin Sequence Start-->
<!-- <ng-template #contentDustbinPlanSequence>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Manage Sequences</h5>
                <button type="button" class="close" (click)="closeModel();" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divDustbin" style="display: none; position: absolute;z-index: 9999; background-color: #fff; margin-top: 15%; margin-left: 40%; padding: 20px; border: 1px solid lightgray;">
                    <h5 class="modal-title" style="text-align: center; padding-bottom: 20px;">Are you sure to delete?
                    </h5>
                    <div class="row" style="border-top: 1px solid lightgray; padding-top: 10px;">
                        <div class="col-md-6" style="text-align: center;margin-top: 5px;">
                            <button class="btn btn-success " (click)="deleteDustbin();">
                                Confirm</button>
                        </div>
                        <div class="col-md-6" style="text-align: center;margin-top: 5px;">
                            <button class="btn btn-danger " (click)="cancelDustbinDelete();" style="text-transform: uppercase;"> Cancel</button>
                        </div>
                    </div>
                </div>
                <input id="deleteDustbinId" type="hidden" value="0" />
                <input id="mapPlanId" type="hidden" value="0" />
                <input id="mapDate" type="hidden" value="0" />
                <div class="row">
                    <div class="col-md-3" style="margin-top: -15px; padding-right: 5px; padding-left: 10px;">
                        <div class="row">

                            <div class="col-md-9">
                                <button id="btnSave" class="btn btn-success " (click)="updateDustbinSequence();">
                                    Update Sequence </button>
                            </div>
                            <div class="col-md-1" style="margin-top: -3px;">
                                <i class="far fa-arrow-alt-circle-up arrow" (click)="setSequenceIndex('up');"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -3px;">
                                <i class="far fa-arrow-alt-circle-down arrow" (click)="setSequenceIndex('down');"></i>
                            </div>

                        </div>
                        <div id="divSequence" class="seq-scroll" style="margin-top: 2px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="border-right: 1px solid #dee2e6;">Sno.</th>
                                        <th style="border-right:1px solid #dee2e5;">Zone</th>
                                        <th style="border-right: 1px solid #dee2e6;" class="text-left">Address</th>
                                        <th style="border-right: 1px solid #dee2e6;" class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="tr{{i}}" *ngFor="let dt of dustbinMapList; let i=index" class="selected-dustbin" (click)="getSelctedDustbin(i);" style="border-top: 1px solid #dee2e6;">
                                        <td style="width: 20px; border-left: 1px solid #dee2e6;">{{i+1}}</td>
                                        <td style="width: 20px; border-left: 1px solid #dee2e6;">{{dt.zone}}</td>
                                        <td style="border-right: 1px solid #dee2e6;">{{dt.address}}<span style="color:red;"> {{dt.isHighPriority}}</span></td>
                                        <td style="width: 40px;text-align: center;">
                                            <i class="far fa-trash-alt" (click)="deletePlanDustbin(dt.dustbin)" title="Remove Dustbin" style="cursor:pointer !important; font-size: 10px;color: red;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-md-9 halt-map" style="margin-top: -5px; padding-left: 5px; padding-right: 10px;">
                        <div style="padding: 5px; border: 1px solid lightgray; border-radius: 5px;">
                            <div id="haltMap" style="width:100%; "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->
<!--Dustbin Sequence End-->
