<section class="header ">
    <div class="row no-gutters ">

        <div class="col-12 heading text-center">
            <a id="homeLink" href="#" style="color: #fff;">
                <span style="float: right; padding-right: 20px; font-weight: bold;">Back to Home</span></a>
            <b class="header-text"> MULTIPLE WARD MONITORING</b>
        </div>
    </div>
</section>

<div class="divContent">
    <div id="divWait" class="loading" style="display: none;"><div class="showMessage" ><p style="padding: 20px; background: #fff; color: #000; width: 60%;"> Latest data is being loaded from our server. 
       <br/> Thanks for your patience & support.</p></div></div>
    <div class="row">
        <div class="col-md-4 divMain">
            <div class="divInner">
                <div class="divheading"> Ward 1 </div>
                <div #gmapWard1 id="divMap" class="divMap"></div>

            </div>
        </div>
        <div class="col-md-4 divMain">
            <div class="divInner">
                <div class="divheading"> Ward 2 </div>
                <div #gmapWard2 id="divMap1" class="divMap"></div>

            </div>
        </div>
        <div class="col-md-4 divMain">
            <div class="divInner">
                <div class="divheading"> Ward 3 </div>
                <div #gmapWard3 id="divMap2" class="divMap"></div>

            </div>
        </div>
        <div class="col-md-4 divMain">
            <div class="divInner">
                <div class="divheading"> Ward 4 </div>
                <div #gmapWard4 id="divMap3" class="divMap"></div>
            </div>
        </div>
        <div class="col-md-4 divMain">
            <div class="divInner">
                <div class="divheading"> Market 1 </div>
                <div #gmapMarketRoute1 id="divMap4" class="divMap"></div>
            </div>
        </div>
        <div class="col-md-4 divMain">
            <div class="divInner">
                <div class="divheading"> Market 2 </div>
                <div #gmapMarketRoute2 id="divMap5" class="divMap"></div>
            </div>
        </div>
    </div>

</div>