.header {
    height: 64px;
    width: 100%;
    background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%);
    color: #fff;
}

.heading {
    padding-top: 12px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.loaderClass {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: lightgray;
    opacity: 0.5;
}

.imgLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-button {
    padding: 10px!important;
    background-color: #fff;
    border-radius: 4px;
    color: #333333;
    border: 1px solid lightgray;
    cursor: cell;
}

.user-button .icon-bg {
    background-color: #19a337;
    color: #fff;
    padding: 10px;
    margin-left: -10px;
    border: 1px solid #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4x;
}

.user-button .text-bg {
    margin-left: 10px;
}

.user-button:hover {
    border: 1px solid #19a337;
}

.user-button i {
    color: #fff;
}

.user-button:not(:disabled):not(.disabled):active {
    background-color: #ffffff;
    color: #000;
}

.user-anc {
    padding: 10px!important;
    background-color: #fff;
    border-radius: 4px;
    color: #333333;
    border: 1px solid lightgray;
}

.user-anc .icon-bg {
    background-color: #19a337;
    color: #fff;
    padding: 10px;
    margin-left: -10px;
    border: 1px solid #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4x;
}

.user-anc .text-bg {
    margin-left: 10px;
}

.user-anc:hover {
    border: 2px solid #0ba118;
}

.user-anc i {
    color: #fff;
}

.user-anc:not(:disabled):not(.disabled):active {
    background-color: #ffffff;
    color: #000;
}


/**************************User Button Start***************************/

.add-user {
    position: absolute;
    // left: 50%;
    // transform: translateY(-50%);
    bottom: 40px;
}

.add-user .btn-success {
    border-radius: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    background-color: #0ba118!important;
}

.add-user .btn-success:hover {
    background-color: #1fc52d!important;
}


/**************************Table Start***************************/

.tableFixHead {
    overflow-y: scroll;
    height: 85vh;
    position: relative;
    border-radius: 5px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    // width: 200px;
    z-index: 10;
}

table {
    border-collapse: collapse;
    margin-bottom: 6rem!important;
    // border: 1px solid lightgray;
    // width: 100%;
}

thead th {
    // padding: 10px 7px !important;
    font-size: 14px;
    color: rgb(56, 56, 56);
    font-weight: bold;
    background-color: #fff;
}

table td {
    padding: 10px 14px !important;
    font-size: 12px;
    min-height: 20px!important;
}


/**************************Table End***************************/


/******************************Custom Scrollbar Start*********************************/

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    -webkit-box-shadow: transparent;
}

:hover::-webkit-scrollbar {
    width: 8px;
}


/* Track */

:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


/* Handle */

:hover::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #20a120;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/******************************Custom Scrollbar End*********************************/