<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<div id="divMainLoader" class="loaderClassMain">
    <span class="spanLoader" id="spLoader">
        <img src="../../../assets/img/loading.gif" width="50"><br /><span
            style="color:#fff; font-weight: normal;font-size: 18px;"> We are collecting duty on/off images
            data<br /></span><span style="color:#0ba118; font-size: 24px;"> Please wait...</span></span>
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-4" style="padding-left: 10px;margin-top: -8px;">
            <div class="col-md-12 col-sm-12 searh-pad">
                <button class="btn-hvr" (click)="setDate('previous');"><span style="color: #fff;">
                        << </span></button>
                <input id="txtDate" name="selectedDate" [(ngModel)]="selectedDate"
                    class="report-controls custom-date-input pd-t mrg-5" type="date" (change)="setDate('current')"
                    style="height: 45px; width: 150px; margin-right: 8px;" />
                <button class="btn-hvr" (click)="setDate('next');"><span style="color: #fff;">>></span></button>

            </div>
        </div>
        <div class="col-md-4 text-center"
            style="margin-left: -30px; font-size: 20px;letter-spacing: 2px; margin-top: -7px;">
            Ward Duty On/Off Images
        </div>
        <div class="col-md-4 text-right" style="position: absolute;right: 30px;">

        </div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-12 card-main">
            <div id="divLoader" class="loaderClass">
                <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
            </div>
            <div class="card card-main-iner">
                <div class="card-body card-body2">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div id="divList" class="table-wrapper table-one" style="white-space: nowrap;">
                                    <table class="table table-one-iner">
                                        <thead>
                                            <th class="table-head1">S.No.</th>
                                            <th class="table-head2" style="width:100px">Zone</th>
                                            <th class="table-head3">Duty On/Off Images</th>
                                        </thead>
                                        <tbody>
                                            <tr class="table-row" *ngFor="let dt of zoneDutyOnList; let i=index">
                                                <td class="table-data-1">{{i+1}}</td>
                                                <td class="table-data-2" style="width:100px">
                                                    {{dt.zoneName}}
                                                </td>
                                                <td class="table-data-3">
                                                    <div style="width: 100%; display: flex;flex-wrap: wrap; gap: 10px;">
                                                        <div *ngFor="let dtImage of dt.dutyOnImages;"
                                                            style="width:465px; text-align: left; padding: 10px 10px; border: 1px solid lightgray; margin-right: 10px; ">
                                                            <div *ngIf="!dtImage.isOtherDuty"
                                                                style="display:flex; justify-content:space-between; align-items:flex-start;">
                                                                <div style="display:flex; gap:12px; align-items:flex-start;">
                                                                    <div style="width:102px; height:160px;" [hidden]="dtImage.imageUrl==''">
                                                                        <a href="#" (click)="openImagePopup(dtImage.imageUrl, $event)" style="color:#000; width:100px">
                                                                            <img [src]="dtImage.imageUrl" style="width:110px;height:150px;"
                                                                                (error)="hideBrokenDutyImage($event)" />
                                                                        </a>
                                                                    </div>
                                                                    <div style="width:102px; height:160px;" [hidden]="dtImage.imageDutyOnMeterUrl==''">
                                                                        <a href="#" (click)="openImagePopup(dtImage.imageDutyOnMeterUrl, $event)" style="color:#000">
                                                                            <img [src]="dtImage.imageDutyOnMeterUrl"
                                                                                (error)="hideBrokenDutyImage($event)"
                                                                                style="width:110px; height:150px;" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div style="display:flex; gap:12px; align-items:flex-start;">
                                                                    <div style="width:102px; height:160px;" [hidden]="dtImage.imageDutyOffUrl==''">
                                                                        <a href="#" (click)="openImagePopup(dtImage.imageDutyOffUrl, $event)" style="color:#000">
                                                                            <img [src]="dtImage.imageDutyOffUrl"
                                                                                (error)="hideBrokenDutyImage($event)"
                                                                                style="width:110px; height:150px;" />
                                                                        </a>
                                                                    </div>
                                                                    <div style="width:102px; height:160px;" [hidden]="dtImage.imageDutyOutMeterUrl==''">
                                                                        <a href="#" (click)="openImagePopup(dtImage.imageDutyOutMeterUrl, $event)" style="color:#000">
                                                                            <img [src]="dtImage.imageDutyOutMeterUrl"
                                                                                (error)="hideBrokenDutyImage($event)"
                                                                                style="width:110px; height:150px;" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="dtImage.isOtherDuty"
                                                                style="display:flex; justify-content:flex-start; gap:12px; flex-wrap:wrap;">
                                                                <div style="width:102px; height:160px;" [hidden]="dtImage.imageUrl==''">
                                                                    <a href="#" (click)="openImagePopup(dtImage.imageUrl, $event)" style="color:#000; width:100px">
                                                                        <img [src]="dtImage.imageUrl" style="width:110px;height:150px;"
                                                                            (error)="hideBrokenDutyImage($event)" />
                                                                    </a>
                                                                </div>
                                                                <div style="width:102px; height:160px;" [hidden]="dtImage.imageDutyOffUrl==''">
                                                                    <a href="#" (click)="openImagePopup(dtImage.imageDutyOffUrl, $event)" style="color:#000">
                                                                        <img [src]="dtImage.imageDutyOffUrl"
                                                                            (error)="hideBrokenDutyImage($event)"
                                                                            style="width:110px; height:150px;" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div style="text-align: left; float:left; width: 100%;">
                                                                <button class="compare-btn" style="float: right;" [hidden]="dtImage.isOtherDuty"
                                                                    (click)="openSlider(dtImage)">
                                                                    👁 
                                                                </button><br/>
                                                                <button class="compare-btn" style="float: right;" [hidden]="!dtImage.isOtherDuty"
                                                                    (click)="openOtherDutySlider(dtImage)">
                                                                    👁
                                                                </button><br/>
                                                                <b>{{dtImage.isOtherDuty ? 'Name' : 'Driver'}} : </b> {{dtImage.driver}}<br />
                                                                <span [hidden]="dtImage.helper=='---' || dtImage.isOtherDuty"><b>Helper : </b> {{dtImage.helper}}<br /></span>
                                                                <span [hidden]="dtImage.secondHelper=='---' || dtImage.isOtherDuty">
                                                                    <b>Second Helper : </b>
                                                                    {{dtImage.secondHelper}}<br /></span>
                                                                <span [hidden]="dtImage.thirdHelper=='---' || dtImage.isOtherDuty">
                                                                    <b>Third Helper : </b>
                                                                    {{dtImage.thirdHelper}}<br /></span>
                                                                <span [hidden]="dtImage.fourthHelper=='---' || dtImage.isOtherDuty">
                                                                    <b>Fourth Helper : </b>
                                                                    {{dtImage.fourthHelper}}<br /></span>
                                                                <span [hidden]="dtImage.fifthHelper=='---' || dtImage.isOtherDuty">
                                                                    <b>Fifth Helper : </b>
                                                                    {{dtImage.fifthHelper}}<br /></span>
                                                                <span [hidden]="dtImage.sixthHelper=='---' || dtImage.isOtherDuty">
                                                                    <b>Sixth Helper : </b>
                                                                    {{dtImage.sixthHelper}}<br /></span>
                                                                <span [hidden]="dtImage.isOtherDuty"><b>Vehicle : </b> {{dtImage.vehicle}}</span>
                                                                <div
                                                                    style="display: flex; justify-content: space-between;">
                                                                    <span>
                                                                        <b>In Time : </b> {{dtImage.time}}
                                                                    </span>
                                                                    <span *ngIf="dtImage.actualDutyOnTime"> <b
                                                                            style="color: green">Actual Time : </b> {{
                                                                        dtImage.actualDutyOnTime }}</span>
                                                                </div>
                                                                <div [hidden]="dtImage.timeDutyOff==''"
                                                                    style="display: flex; justify-content: space-between;">
                                                                    <span>
                                                                        <b>Off Time : </b> {{dtImage.timeDutyOff}}
                                                                    </span>

                                                                    <span *ngIf="dtImage.actualDutyOffTime">
                                                                        <b style="color: green">Actual Time :
                                                                        </b>
                                                                        {{
                                                                        dtImage.actualDutyOffTime }}
                                                                    </span>
                                                                </div>
                                                                <span *ngIf="dtImage.workPercentageRemark"><b>Remark :
                                                                    </b> {{dtImage.workPercentageRemark}}<br /></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="image-popup-overlay" *ngIf="isImagePopupOpen"
    [ngClass]="{'with-slider': isSliderOpen || isOtherDutySliderOpen}" (click)="closeImagePopup()">
    <div class="image-popup-box" (click)="$event.stopPropagation()">
        <button class="image-popup-close" (click)="closeImagePopup()">✕</button>
        <div class="image-popup-loader" *ngIf="isPopupImageLoading">
            <img src="../../../assets/img/loading.gif" alt="Loading">
        </div>
        <img [src]="selectedPopupImageUrl" (load)="onPopupImageLoad()" (error)="onPopupImageError()" alt="Preview Image">
    </div>
</div>


<!-- OTHER DUTY SLIDER WINDOW -->
<div class="slider-window other-duty-slider" [class.open]="isOtherDutySliderOpen">
    <div class="slider-header">
        <span>Photo Comparision</span>
        <button class="close-btn" (click)="closeOtherDutySlider()">✕</button>
    </div>
    <div class="slider-body">
        <div class="single-row" style="justify-content: center;">
            <div class="person-card compare-card">
                <b>Profile Photo</b>
                <img [src]="selectedOtherDutyDetail.profileImageURL" (error)="setDefaultImage($event)" alt="Profile Image">
                <p>{{selectedOtherDutyDetail.name}}</p>
            </div>
        </div>
    </div>
</div>


<!-- SLIDER WINDOW -->
<div class="slider-window" [class.open]="isSliderOpen">
    <div class="slider-header">
        <span>Driver & Helper Photo Comparison</span>
        <button class="close-btn" (click)="closeSlider()">✕</button>
    </div>
    <div class="slider-body">
        <div class="single-row">
            <!-- Driver -->
            <div class="person-card">
                <b>Driver</b>
                <img [src]="selectedDetail.driverImageURL" (error)="setDefaultImage($event)" alt="Driver Image">
                <p>{{selectedDetail.driver}}</p>
            </div>
            <!-- Helper -->
            <div class="person-card">
                <b>Helper</b>
                <img [src]="selectedDetail.helperImageURL" (error)="setDefaultImage($event)" alt="Helper Image">
                <p>{{selectedDetail.helper}}</p>
            </div>

        </div>
        <div class="single-row">
            <!-- Driver -->
            <div class="person-card" [hidden]="selectedDetail.secondHelper=='---'">
                <b>Second Helper</b>
                <img [src]="selectedDetail.secondHelperImageURL" (error)="setDefaultImage($event)" alt="Driver Image">
                <p>{{selectedDetail.secondHelper}}</p>
            </div>
            <!-- Helper -->
            <div class="person-card" [hidden]="selectedDetail.thirdHelper=='---'">
                <b>Third Helper</b>
                <img [src]="selectedDetail.thirdHelperImageURL" (error)="setDefaultImage($event)" alt="Helper Image">
                <p>{{selectedDetail.thirdHelper}}</p>
            </div>

        </div>
        <div class="single-row">
            <!-- Driver -->
            <div class="person-card" [hidden]="selectedDetail.fourthHelper=='---'">
                <b>Fourth Helper</b>
                <img [src]="selectedDetail.fourthHelperImageURL" (error)="setDefaultImage($event)" alt="Driver Image">
                <p>{{selectedDetail.fourthHelper}}</p>
            </div>
            <!-- Helper -->
            <div class="person-card" [hidden]="selectedDetail.fifthHelper=='---'">
                <b>Fifth Helper</b>
                <img [src]="selectedDetail.fifthHelperImageURL" (error)="setDefaultImage($event)" alt="Helper Image">
                <p>{{selectedDetail.fifthHelper}}</p>
            </div>

        </div><div class="single-row" [hidden]="selectedDetail.sixthHelper=='---'">
            <!-- Driver -->
            <div class="person-card">
                <b>Sixth Helper</b>
                <img [src]="selectedDetail.sixthHelperImageURL" (error)="setDefaultImage($event)" alt="Driver Image">
                <p>{{selectedDetail.sixthHelper}}</p>
            </div>
        </div>
    </div>

</div>
