<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<div id="divMainLoader" class="loaderClassMain">
    <span class="spanLoader" id="spLoader">
        <img src="../../../assets/img/loading.gif" width="50"><br /><span
            style="color:#fff; font-weight: normal;font-size: 18px;"> We are collecting duty on/off images
            data<br /></span><span style="color:#0ba118; font-size: 24px;"> Please wait...</span></span>
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-4" style="padding-left: 10px;margin-top: -8px;">
            <div class="col-md-12 col-sm-12 searh-pad">
                <button class="btn-hvr" (click)="setDate('previous');"><span style="color: #fff;">
                        << </span></button>
                <input id="txtDate" name="selectedDate" [(ngModel)]="selectedDate"
                    class="report-controls custom-date-input pd-t mrg-5" type="date" (change)="setDate('current')"
                    style="height: 45px; width: 150px; margin-right: 8px;" />
                <button class="btn-hvr" (click)="setDate('next');"><span style="color: #fff;">>></span></button>

            </div>
        </div>
        <div class="col-md-4 text-center"
            style="margin-left: -30px; font-size: 20px;letter-spacing: 2px; margin-top: -7px;">
            Ward Duty On/Off Images
        </div>
        <div class="col-md-4 text-right" style="position: absolute;right: 30px;">

        </div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-12 card-main">
            <div id="divLoader" class="loaderClass">
                <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
            </div>
            <div class="card card-main-iner">
                <div class="card-body card-body2">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div id="divList" class="table-wrapper table-one" style="white-space: nowrap;">
                                    <table class="table table-one-iner">
                                        <thead>
                                            <th class="table-head1">S.No.</th>
                                            <th class="table-head2" style="width:100px">Zone</th>
                                            <th class="table-head3">Duty On/Off Images</th>
                                        </thead>
                                        <tbody>
                                            <tr class="table-row" *ngFor="let dt of zoneDutyOnList; let i=index">
                                                <td class="table-data-1">{{i+1}}</td>
                                                <td class="table-data-2" style="width:100px">
                                                    {{dt.zoneName}}
                                                </td>
                                                <td class="table-data-3">
                                                    <div style="width: 100%; display: flex;">
                                                        <div *ngFor="let dtImage of dt.dutyOnImages;"
                                                            style="width:260px; text-align: left; padding: 10px 10px; border: 1px solid lightgray; margin-right: 10px; ">

                                                            <div style="width:110px; float: left; height:160px;">
                                                                <a href="{{dtImage.imageUrl}}" target="_blank"
                                                                    style="color:#000; width:100px">
                                                                    <img [src]="dtImage.imageUrl"
                                                                        style="width:110px;height:150px;"
                                                                        [hidden]="dtImage.imageUrl==''" /></a>
                                                            </div>
                                                            <div style="width:110px; float: right;height:160px;">
                                                                <a href="{{dtImage.imageDutyOffUrl}}" target="_blank"
                                                                    style="color:#000"
                                                                    [hidden]="dtImage.imageDutyOffUrl==''">
                                                                    <img [src]="dtImage.imageDutyOffUrl"
                                                                        style="width:110px; height:150px; margin-right:10px;" /></a>
                                                            </div>
                                                            <div style="text-align: left; float:left; width: 100%">
                                                                <b>Driver : </b> {{dtImage.driver}}<br />
                                                                <b>Helper : </b> {{dtImage.helper}}<br />
                                                                <span [hidden]="dtImage.secondHelper=='---'">
                                                                    <b>Second Helper : </b>
                                                                    {{dtImage.secondHelper}}<br /></span>
                                                                <span [hidden]="dtImage.thirdHelper=='---'">
                                                                    <b>Third Helper : </b>
                                                                    {{dtImage.thirdHelper}}<br /></span>
                                                                <span [hidden]="dtImage.fourthHelper=='---'">
                                                                    <b>Fourth Helper : </b>
                                                                    {{dtImage.fourthHelper}}<br /></span>
                                                                <span [hidden]="dtImage.fifthHelper=='---'">
                                                                    <b>Fifth Helper : </b>
                                                                    {{dtImage.fifthHelper}}<br /></span>
                                                                <span [hidden]="dtImage.sixthHelper=='---'">
                                                                    <b>Sixth Helper : </b>
                                                                    {{dtImage.sixthHelper}}<br /></span>
                                                                <b>Vehicle : </b> {{dtImage.vehicle}}
                                                                <div
                                                                    style="display: flex; justify-content: space-between;">
                                                                    <span>
                                                                        <b>In Time : </b> {{dtImage.time}}
                                                                    </span>
                                                                    <span *ngIf="dtImage.actualDutyOnTime"> <b
                                                                            style="color: green">Actual Time : </b> {{
                                                                        dtImage.actualDutyOnTime }}</span>
                                                                </div>
                                                                <div [hidden]="dtImage.timeDutyOff==''"
                                                                    style="display: flex; justify-content: space-between;">
                                                                    <span>
                                                                        <b>Off Time : </b> {{dtImage.timeDutyOff}}
                                                                    </span>

                                                                    <span *ngIf="dtImage.actualDutyOffTime">
                                                                        <b style="color: green">Actual Time :
                                                                        </b>
                                                                        {{
                                                                        dtImage.actualDutyOffTime }}
                                                                    </span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>