<div id="divLoaderUpdate" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-4 no-gutters-iner">
            <select class="caret-select" id="ddlZone" (change)="changeZoneSelection($event.target.value)" [(ngModel)]="selectedZone">
        <option *ngFor="let zone of zoneList" value={{zone.zoneNo}}
          ngSelected="zone.zoneNo == selectedZone?'selected':''">
          {{zone.zoneName}}
        </option>
      </select>
        </div>
        <div id="houseCount" class="col-md-8 text-right total-house background-black">
            <div class="display" id="popup2">
                <div class="fix-home">
                    <div class="float-first">
                        <i class="fas fa-redo-alt" style="font-size: 28px; cursor: pointer;" (click)="updateJSONData();"></i> <br>
                        <h6>{{verifiedDetail.lastUpdate}}</h6>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 p-0">
            <div class="display1">
                <i class="bi bi-chevron-down" onclick="show()"></i>
            </div>
        </div>
    </div>
</section>

<div #gmap class="gmap" id="divMap"></div>

<div class="driver-helper-box">
    <div class="row">
        <div class="col-md-12">

            <div class="main-box">
                <div class="designation">
                    <h5> <img src="../assets/img/green-home.png" style="height:21px; width: 21px;"> </h5>
                </div>
                <div class="all-details">
                    <h6>
                        <p>Card in verified and houses with <br/>same ward and same line</p>
                    </h6>
                </div>
            </div>
            <div class="main-box">
                <div class="designation">
                    <h5> <img src="../assets/img/yellow-home.png" style="height:21px; width: 21px;"> </h5>
                </div>
                <div class="all-details">
                    <h6>
                        <p>Card in verified and houses with <br/>same ward and different line</p>
                    </h6>
                </div>
            </div>
            <div class="main-box">
                <div class="designation warehouse-img-box">
                    <h5> <img src="../assets/img/purple-home.png" style="height:21px; width: 21px;"> </h5>
                </div>
                <div class="all-details">
                    <h6>
                        <p>Card in houses but not in verified in ward</p>
                    </h6>
                </div>
            </div>

            <div class="main-box">
                <div class="designation">
                    <h5> <img src="../assets/img/red-home.png" class="institute-svg-img" style="height:21px; width: 21px;"> </h5>
                </div>
                <div class="all-details">
                    <h6>
                        <p>Card in verified but not in house in ward </p>
                    </h6>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="display" id="popup">
    <div class="house-card-box">
        <div class="house-card-box-iner" id="divDetails">
            <div class="row row-box">
                <div class="col-md-12 row-box-iner">
                    <div class="border-bottom">
                        <button (click)="getNextPrevious('pre');" class="btn-hvr arrow-btn">
            << </button>
                        <input class="arrow-input" id="txtLineNo" type="text" (keyup)="getCurrentLineDetail($event);" autocomplete="off" value="1" />
                        <button (click)="getNextPrevious('next');" class="btn-hvr arrow-btn2">
                >>
              </button>
                    </div>
                </div>
                <div class="col-md-12 total-house fix-home-outer">
                    <div class="fix-home">
                        <div class="float-l fix-home-iner">
                            <img src="../assets/img/green-home.png" style="margin-top: 10px; margin-bottom: 10px; width: 20px;"> <span class="house home-icon-span">
                                {{verifiedDetail.greenCount}}</span><br>
                        </div>
                        <div id="divLineScannedCount" class="float-l house-damage-icon-div">
                            <img src="../assets/img/yellow-home.png" style="margin-top: 10px; margin-bottom: 10px; width: 20px;"> <span class="house house-damage-icon-span">
                                {{verifiedDetail.yellowCount}}</span><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 total-house fix-home-outer">
                    <div class="fix-home">
                        <div id="divLineRevisitCount" class="float-l house-damage-icon-div">
                            <img src="../assets/img/purple-home.png" style="margin-top: 15px; margin-bottom: 10px; width: 20px;"> <span class="house house-damage-icon-span">
                                {{verifiedDetail.purpleCount}}</span><br>
                        </div>
                        <div id="divLineOldCardCount" class="float-l house-damage-icon-div">
                            <img src="../assets/img/red-home.png" style="margin-top: 15px; margin-bottom: 10px; width: 20px;"> <span class="house house-damage-icon-span">
                                {{verifiedDetail.redCount}}</span><br>
                        </div>
                        <div style="padding-top: 20px;" class="float-l">
                            <input id="chkShowAll" type="checkbox" (change)="showAllMarkers();"> Show All
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="house-card-box" style="top:270px!important; ">
        <div class="house-card-box-iner">
            <div class="row row-box">
                <div class="col-md-12 row-box-iner" style="padding-top: 20px;text-align: left!important;">
                    <div class="border-bottom">
                       &nbsp;&nbsp; <input type="checkbox" id="chkVerifiedMarkers" (change)="showVerifiedMarkersOnMap();" /> Show New Markers
                        
                    </div>
                </div>
            </div>
            <div class="row row-box">
                <div class="col-md-12 row-box-iner" style="text-align: left!important;">
                    &nbsp;&nbsp;<span style="cursor: pointer;" (click)="showMarkerDetails(contentLineMarkers)" >
                        <i class="far fa-eye eye-icon" ></i> View Markers Images
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Line Markers Start-->
<ng-template #contentLineMarkers>
    <div class="header-12" >

        <div class="pop-up-header">
            <h5 style="font-size: 18px;">Zone {{selectedZone}}</h5>
            <div class="img-close-outer">
                <img src="../../../assets/img/close-grey.png" class="img-close" (click)="closeModel();">

            </div>
        </div>

        <!-- <hr style="margin-top: -15px;"> -->
    </div>

    <div class="modal-body content-scroll-outer">
        <div id="divStatus" class="content-scroll">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-md-2 " *ngFor="let dt of houseMarkerCardList">
                    <div class="">
                        <div class="dt-img-outer">
                            <a href="{{dt.imageUrl}}" target="_blank">
                                <img class="dt-img" [src]="dt.imageUrl" />
                            </a>
                        </div>
                        <div class="main-tag">
                            <div class="f-left">
                                <div style="width:100%!important ;">
                                    <h3 class="f-left-heading">{{dt.entityType}}<br/>Line No : {{dt.lineNo}}</h3>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%;">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Line Markers End-->