<section class="header">
    <div class="row no-gutters">
        <div class="col-md-4" style="padding-left: 31px; margin-top: -4px;">
            <button type="button" class="user-button" style="cursor: cell;"
                (click)="openModel(contentEmployee,0,'add');">
                <span class="text-bg"><span class="icon"><i class="fas fa-plus"></i></span> &nbsp;
                    NEW</span></button>

        </div>
        <div class="col-md-4" style="text-align:center; margin-top: -2px; font-size: 20px; letter-spacing: 1px;">
            Employee Marking List
        </div>
        <div class="col-md-4"></div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-6" style="padding-left: 0px;padding-right:0px;">
            <div class="card" style="margin-top:-10px;  ">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="table-wrapper">
                                    <table class="table ">
                                        <thead>
                                            <th style="border-right:1px solid #dee2e6; width:10%;">S.No.</th>
                                            <th style="border-right:1px solid #dee2e6; width:40%;">Name</th>
                                            <th style="border-right:1px solid #dee2e6; width:30%;">Ward No</th>
                                            <th style="border-right:1px solid #dee2e6; width:20%;">Action</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of userList; let i=index" style="cursor: pointer;"
                                                (click)="getMarkerDetail(data.empId, data.wardNo);">
                                                <td style="border-right:1px solid #dee2e6">{{i+1}}</td>
                                                <td style="border-right:1px solid #dee2e6">
                                                    {{data.name}}</td>
                                                <td style="border-right:1px solid #dee2e6">
                                                    {{data.wardNo}}</td>
                                                <td class="text-right" style="padding-right: 20px;">
                                                    <span style="cursor: pointer;" (click)="openModel(contentWard,data.empId,'ward');">Assign
                                                        Ward</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-edit"
                                                        (click)="openModel(contentEmployee,data.empId,'update');"
                                                        title="Edit Entry"
                                                        style="cursor:pointer !important; font-size: 14px;color: royalblue;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="far fa-trash-alt"
                                                        (click)="openModel(contentConfirmation,data.userId,'delete')"
                                                        title="Remove Entry"
                                                        style="cursor:pointer !important; font-size: 14px;color: red; display: none;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="divMessage" class="col-md-12 pr-1 text-center"
                                style="padding-top: 20vh; display: none;">
                                <div class="form-group">
                                    <h5>No data available</h5>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px;padding-right:0px;">
            <div class="card" style="margin-top:-10px; padding-left: 20px;  ">
                <div class="card-header">
                    <h5> Detail</h5>
                </div>
                <div class="card-body" style="padding-left: 20px;">
                    <div class="row">
                        <div class="clo-md-6">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <b>Total Marker : {{markerData.totalMarking}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Current Ward Marking : {{markerData.totalWardMarking}}</b>
                                        <div class="table-wrapper">
                                            <table class="table ">
                                                <thead>
                                                    <th style="border-right:1px solid #dee2e6; width:40%;">Date</th>
                                                    <th style="border-right:1px solid #dee2e6; width:40%;">Markers</th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of markerList; let i=index">
                                                        <td style="border-right:1px solid #dee2e6">
                                                            {{data.date}}</td>
                                                        <td style="border-right:1px solid #dee2e6">
                                                            {{data.markers}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center"
                                        style="padding-top: 20vh; display: none;">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--ward assign  Start-->
<ng-template #contentWard>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign Ward</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="empID" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <select id="ddlWard" class="input-green">
                        <option value={{zone.zoneNo}} *ngFor="let zone of zoneList">
                            {{zone.zoneName}}</option>
                    </select>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-tasks" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="button" class="btn btn-success submit-btn" style="width: 100%;" value="SUBMIT"
                    (click)="saveWard();" />
            </div>
        </div>
    </div>
</ng-template>
<!--ward assign End-->

<!--employee  Start-->
<ng-template #contentEmployee>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Employee</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="key" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtName" class="input-green" placeholder="Name" />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-tasks" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtPhone" class="input-green" placeholder="Mobile No." />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-tasks" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtPassword" class="input-green" placeholder="Password" />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-tasks" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="checkbox" id="chkAcive"> Is Active

                </div>
                <input type="button" class="btn btn-success submit-btn" style="width: 100%;" value="SUBMIT"
                    (click)="saveEmployee();" />
            </div>
        </div>
    </div>
</ng-template>
<!--employee End-->