@import '../../../assets/scss/variable';
@import '../../../assets/scss/fonts';


// .header {
//     height: 57px;
//     width: 100%;
//     background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%);
//     color: #fff;
//     font-size: 16px;
//     font-weight: bold;
//     text-transform: uppercase;
//     padding-top: 15px;
// }


.main-page {
    background-color: #f3f3f9;
    padding: 10px 16px;
}

.page-body {
    display: flex;
    width: 100%;
    gap: 10px;
}

/*** header css starts here ****/
.header {
    width: 100%;
    background: $white;
    display: flex;
    padding: 16px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 6px;
}

.header-left {
    font-size: 18px;
    font-family: $fontGraphikSemibold;
    color: $darkBlack;
    width: 480px;
}

.header-right {
    display: flex;
    width: calc(100% - 480px);
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}
.user-button span{
      font-size: 18px;
    font-family: $fontGraphikSemibold;
}

/*** Breadcrumb CSS Starts Here ***/
.breadcrumb {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.ul-breadcrumb {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: $fontGraphik;
}

.breadcrumb .li-breadcrumb {
    color: $black70;
}

.breadcrumb .li-breadcrumb::after {
    content: '/';
    margin-left: 8px;
    color: $black70;
}

.breadcrumb .li-breadcrumb:last-child::after {
    content: '';
    margin: 0;
}

.breadcrumb .link-breadcrumb {
    text-decoration: none;
    color: $black70;

    &:hover {
        color: $themeColor
    }
}


/*** Table CSS Starts here ***/

.table-ward {
    background: $white;
    height: calc(100vh - 110px);
    border-radius: 6px;
    overflow: auto;
}

.table-maine {
    background-color: $white;
    border-radius: 6px;
    // width: 50%;
}

.table thead th {
    position: sticky;
    top: 0px;
    background-color: $whitefa;
    padding: 12px 16px;
    font-size: 13px;
    color: $darkBlack;
    font-family: $fontGraphikMedium;
    font-weight: normal;
    border: 1px solid $borderColor;
    z-index: 2;
}

.table tbody tr td {
    padding: 12px 16px;
    font-size: 13px;
    color: $lightBlack;
    font-family: $fontGraphik;
    border: 1px solid $borderColor;
    font-weight: normal;
}

.page-body-inner {
    width: calc(100% / 2 - 5px);
}

.card-working {
    background-color: $white;
    border-radius: 6px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.workdetails-Box {
    padding: 10px 16px;
    border-right: 1px solid $borderColor;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: calc(100% / 4);
    font-size: 12px;
    font-family: $fontGraphik;
    color: $black70;
}

.working-count {
    color: $darkBlack;
    font-family: $fontGraphikBold;
    font-size: 18px;
}

.tbl-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
padding: 0px 10px;
}

.table-workDetails-main {
    background-color: $white;
    border-radius: 6px;
    position: relative;

}

.tbl-WorkDetailsHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    align-items: center;
}

.table-wardDetails-scroll {
    width: calc(100% / 2);
    height: calc(100vh - 240px);
    overflow: auto;
}

.marker-name {
    font-size: 13px;
    font-family: $fontGraphikMedium;
    color: $darkBlack;
}

.marker-last {
    font-size: 13px;
    font-family: $fontGraphikMedium;
    color: $darkBlack;
    text-align: end;
}

.marker-last p {
    font-size: 11px;
    font-family: $fontGraphik;
    color: $black70;
    margin:0px;
}




// modal css//

.custom-modal-body {
    padding: 30px !important;
}
.modal-title {
    font-size: 18px;
    color: $darkBlack;
    font-family: $fontGraphikSemibold;
    word-break: break-word;
}
.input-green{
    font-size: 13px !important; 
    font-family: $fontGraphik !important;
    color: $darkBlack !important;
    border-radius: 4px !important;
}

.btn-sumit{
  background-color: $themeColor;
  color: $white;
  font-size: 14px;
  font-family: $fontGraphikSemibold;
  padding: 0px 15px;
  border-radius: 4px;
  width: 100%;
  height: 42px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    background-color: $themeColorDark;
  }
}

.deleteImg {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
}
.title-assignment {
    font-size: 14px;
    color: $darkBlack;
    font-family: $fontGraphik;
}
.Delete-device {
    flex-direction: column !important;
    display: flex;
    align-items: center;
}
.btn-success {
    background-color: $themeColor;
    transition: 0.3s;

    &:hover {
        background-color: $themeColorDark;
    }
}
.check-tatile{
    font-size: 13px;
    color: $black70;
    font-family: $fontGraphikMedium;
    margin-left: 10px;
}


@media (max-width: 991.98px) {
    .page-body{
        display: block;
    }
    .page-body-inner{
        width: 100%;
    }
    .table-ward{
        margin-bottom: 10px;
    }
}













.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 0px !important;
}

.caret-select {
    margin-top: -5px !important;
    margin-right: 10px !important;
    border-radius: 5px;
    padding: 10px;
    width: 97%;
    border: 1px solid lightgray !important;
    font-size: 12px;
}

.caret-select-vehicle {
    margin-top: 0px !important;
    margin-left: 0px !important;
    border-radius: 5px;
    padding: 10px;
    width: 97%;
    border: 1px solid lightgray !important;
    font-size: 12px;
}

.user-button {
    padding: 11px 10px 10px 10px !important;
    // background-color: rgb(38, 167, 6);
    background-color: $white;
    font-family: $fontGraphikMedium;
    border-radius: 4px;
    color: $themeColor;
    border: 1px solid $themeColor;
    cursor: cell;
    margin-top: 0px;
    height: 33px !important;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.user-button:hover {
    background-color: $themeColor;
    color: $white;
}

// .user-button .icon {
//     background: #fff;
//     padding: 9px 10px 9px 10px !important;
//     transition: 0.5s;
//     cursor: cell;
//     border-top-left-radius: 4px;
//     border-bottom-left-radius: 4px;
// }

select:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

.icon i {
    color: #26a706;
}

.card .card-header:not([data-background-color]) {
    background-color: #f1f1f1;
}

.card-header {
    background: #fff !important;
    padding: 15px 0px 15px 15px !important;
    box-shadow: 0px 4px 4px #0e0e0e1a;
}

//   .card-body{
//     padding: 0px;
//     height: 81.7vh;
//     overflow: hidden;
//     overflow-y: scroll;
//  }
.data {
    padding-top: 7px;
    float: right;
    font-size: 16px;
    // font-weight: bold;
    font-family: cursive;
    color: #2c2c2c;
    margin-right: 10px;
}

.indication {
    padding-top: 6px;
    float: right;
}

.data i {
    color: #0ba118;
    font-size: 15px;
}

table td {
    font-size: 12px;
    padding: 12px 12px;
}

table th {
    font-size: 14px;
    color: #0ba118;
}

.table-wrapper th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1 !important;
    color: #000;
    z-index: 11;
}

tbody {
    overflow-y: scroll;
    // height: 80vh;
}

.fa-sync-alt {
    font-size: 12px;
    color: black;
}

.main-panel .main-content {
    padding: 0 15px 15px;
    min-height: calc(100vh - 123px);
    margin-top: -30px;
}

.scrollbar-on.main-panel {
    max-height: unset !important;
    height: unset !important;
}

.fa-caret-left {
    font-size: 28px;
    color: #2c2c2c;
    float: right;
}

.active {
    background-color: #cdfacf;
}

.fa-expand-showgraph {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    top: 15px;
    padding: 0px;
    font-size: 14px;
    color: #0ba118;
    border: none;
    height: 39px;
    width: 44px;
    background: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.vehicle-list {
    position: absolute;
    z-index: 999999;
    background-color: #fff;
    width: 153px;
    display: none;
    height: auto;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 320px;
}

.vehicle-list ul {
    list-style: none;
}

.vehicle-list li {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 10px;
    margin-left: -40px;
    font-size: 11px;
}

.vehicle-list li:hover {
    background-color: rgb(240, 239, 239);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    -webkit-box-shadow: transparent;
}

:hover::-webkit-scrollbar {
    width: 8px;
}


/* Track */

:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


/* Handle */

:hover::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #20a120;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/* input css*/

.wrap-input-effects {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-green {
    font-size: 12px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #fff;
    height: 40px;
    border-radius: 2px;
    padding: 0 12px 0 45px;
    border: 1px solid lightgray;
}

.input-green::before {
    font-size: 12px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #fff;
    height: 40px;
    border-radius: 2px;
    padding: 0 25px 0 25px;
    border: 1px solid lightgray;
}

.input-green:focus {
    outline: none;
}

.input-green:focus+.focus-input+.symbol-input {
    color: #0ba118;
    padding-left: 12px;
    border: 1px solid #0ba118;
    border-radius: 4px;

    //  border-radius: 15px;
    img {
        filter: brightness(0) saturate(100%) invert(47%) sepia(95%) saturate(362%) hue-rotate(81deg) brightness(96%) contrast(89%);
    }
}

.focus-input {
    display: block;
    position: absolute;
    //  border-radius: 25px; 
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    outline: none !important;
    border: none;
    box-shadow: 0px 0px 0px 0px;
}

.symbol-input {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    //border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 18px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    img {
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
}

textarea {
    /*margin-top: 15px;*/
    width: 100%;
    padding: 8px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

textarea {
    font-size: 12px;
    color: #707070;
}

textarea:focus-visible {
    outline: 1px solid #0ba118;
    border-radius: 0px;
}

.focus-input-time {
    display: block;
    position: absolute;
    //  border-radius: 25px; 
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 200px;
    height: 100%;
    outline: none !important;
    border: none;
    box-shadow: 0px 0px 0px 0px;
}

.symbol-input-time {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    //border-radius: 25px;
    top: 8px;
    left: 210px;
    width: 100%;
    height: 100%;
    padding-left: 18px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.submit-btn {
    background: #0ba118 !important;
}

.custom-header {
    height: 45px;
}

.custom-header h5 {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-top: -6px;
    text-transform: uppercase;
    line-height: 15px;
}

.heading-table {
    font-size: 14px;
    color: #333;
    margin-top: -10px;
    text-transform: capitalize;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
}

.table-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dashed #e6e6e6;
}

.table-heading h3 {
    line-height: 32px;
    font-size: 12px;
    font-weight: normal;
    color: #707070;
    margin-bottom: 0px;
    margin-top: 14px;
}

.table-heading .tbl-points {
    font-weight: bold;
    border-radius: 10px;
    background: #0ba11714;
    color: #0ba118;
    padding: 7px 20px;
    font-size: 24px;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-10 {
    margin-right: -10px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.table-one {
    height: 82vh;
    overflow: hidden;
    overflow-y: scroll;
}

.table-scroll {
    padding: 0px;
    height: 69vh;
    overflow: hidden;
    overflow-y: scroll;
}

table tr:hover {
    background: #f3f3f3;
}

.active-tr {
    background: #0ba118;
    color: #fff;
}

.active-tr i {
    color: #fff !important;
}

.no-gutters-iner {
    padding-left: 31px;
    margin-top: -4px;
}

.no-gutters-btn {
    cursor: cell;
}

.Surveyor-box {
    text-align: center;
    margin-top: -2px;
    font-size: 20px;
    letter-spacing: 1px;
}

.card-main {
    padding-left: 0px;
    padding-right: 7px;
}

.card-main-iner {
    margin-top: -6px;
}

.card-body2 {
    height: 85vh !important;
    padding: 0px 10px 0px 0px;
    overflow: hidden;
}

.table-one-iner {
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    margin-bottom: 0px !important;
}

.table-head1 {
    border-right: 1px solid #dee2e6;
    width: 8%;
}

.table-head2 {
    border-right: 1px solid #dee2e6;
    width: 30%;
}

.table-head3 {
    border-right: 1px solid #dee2e6;
    width: 30%;
}

.table-head4 {
    border-right: 1px solid #dee2e6;
    width: 15%;
}

.table-head5 {
    border-right: 1px solid #dee2e6;
    width: 17%;
    padding-right: 20px;
}

.table-row {
    cursor: pointer;
}

.table-data-1 {
    border-right: 1px solid #dee2e6;
}

.table-data-2 {
    border-right: 1px solid #dee2e6
}

.table-data-3 {
    border-right: 1px solid #dee2e6
}

.table-data-4 {
    border-right: 1px solid #dee2e6
}

.marked-icon {
    cursor: pointer !important;
    font-size: 14px;
    color: #0ba118;
    margin-right: 8px;
}

.circle-icon {
    cursor: pointer !important;
    font-size: 14px;
    color: red;
    margin-right: 8px;
}

.edit-icon {
    cursor: pointer !important;
    font-size: 14px;
    color: royalblue;
}

.current-heading {
    border-right: none !important;
}

.inactive {
    color: red !important;
}

.form-group-outer {
    padding-top: 20vh;
    display: none;
}

.cards-main {
    padding-left: 7px;
    padding-right: 0px;
}

.custom-header-outer {
    margin-top: -6px;
    height: 85vh !important;
    overflow: hidden;
}

.card-body-2 {
    padding: 15px 11px 15px 0px;
}

.table-outer {
    padding-left: 35px;
}

.table-scroll-2 {
    padding: 0px 0px 0px 0px;
}

.table-scroll-iner {
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding-bottom: 0px !important
}

.table-heading-1 {
    border-right: 1px solid #dee2e6;
    width: 110px;
}

.table-heading-2 {
    padding-right: 20px;
    border-right: 1px solid #dee2e6;
}

.date-details {
    border-right: 1px solid #dee2e6
}

.markers-details {
    border-right: 1px solid #dee2e6;
    padding-right: 20px;
}

.div-message {
    padding-top: 20vh;
    display: none;
}

.main-div {
    padding-right: 35px;
}

.table-main {
    padding: 0px 0px 00px 0px;
}

.table-main-iner {
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding-bottom: 0px !important
}

.ward-heading {
    border-right: 1px solid #dee2e6;
    width: 110px;
}

.markers-heading {
    padding-right: 20px;
    border-right: 1px solid #dee2e6;
}

.ward-data {
    border-right: 1px solid #dee2e6
}

.markers-data {
    border-right: 1px solid #dee2e6;
    padding-right: 20px;
}

.form-group-main {
    padding-top: 20vh;
    display: none;
}

.modal-heading {
    font-size: 14px;
    font-weight: bold;
}

.remove-input {
    vertical-align: middle;
}

.click-input {
    width: 100%;
}

.active-input {
    vertical-align: middle;
}

.saveEmployee-input {
    width: 100%;
    height: 45px;
}

@media only screen and (min-width:270px) and (max-width:576px) {
    .Surveyor-box {
        display: none;
    }

    .cards-main {
        padding-left: 0;
        padding-right: 7px;
    }

    .form-group {
        display: none;
    }

    .table-scroll {
        height: unset !important;
    }

    .main-div {
        padding-left: 35px;
        padding-right: 0
    }

    .table-one {
        overflow-x: scroll !important;
    }

    .custom-header-outer {
        height: unset !important;
    }

    .cards-main {
        margin-top: 25px !important;
    }

    .table-heading-main {
        width: 50% !important;
    }

    .main-panel {
        background: none !important;
    }
}

@media only screen and (min-width:765px) and (max-width:825px) {
    .table-one {
        overflow-x: scroll !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

// SVG icon color
.icon-green {
    filter: brightness(0) saturate(100%) invert(47%) sepia(95%) saturate(362%) hue-rotate(81deg) brightness(96%) contrast(89%);
}