<section class="header">
    <div class="row no-gutters">
        <div class="col-md-2" style="padding-left: 31px; margin-top: -4px;">
            <button type="button" class="user-button" style="cursor: cell;"
                (click)="openModel(contentEmployee,0,'add');">
                <span class="text-bg"><span class="icon"><i class="fas fa-plus"></i></span> &nbsp;
                    NEW</span></button>

        </div>
        <div class="col-md-8" style="text-align:center; margin-top: -2px; font-size: 20px; letter-spacing: 1px;">
            Manage Surveyor
            [For Marking]
        </div>
        <div class="col-md-2"></div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-6" style="padding-left: 0px;padding-right:7px;">
            <div class="card" style="margin-top:-6px;  ">
                <div class="card-body" style="height:88vh!important;padding: 0px 10px 0px 0px; overflow: hidden;">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="table-wrapper table-one">
                                    <table class="table"
                                        style="border-bottom:1px solid #dee2e6;border-right: 1px solid #dee2e6;border-left:1px solid #dee2e6;margin-bottom: 0px!important">
                                        <thead>
                                            <th style="border-right:1px solid #dee2e6; width:8%;">S.No.</th>
                                            <th style="border-right:1px solid #dee2e6; width:30%;">Name</th>
                                            <th style="border-right:1px solid #dee2e6; width:30%;">Login ID/Password
                                            </th>
                                            <th class="text-right" style="border-right:1px solid #dee2e6; width:15%;">
                                                Assigned</th>
                                            <th class="text-right"
                                                style="border-right:1px solid #dee2e6; width:17%;padding-right: 20px;">
                                                Action</th>
                                        </thead>
                                        <tbody>
                                            <tr id="tr{{i}}" *ngFor="let data of userList; let i=index"
                                                style="cursor: pointer;" class="{{data.trClass}}"
                                                (click)="getMarkerDetail(data.empId, data.wardNo,i);">
                                                <td style="border-right:1px solid #dee2e6">{{i+1}}</td>
                                                <td style="border-right:1px solid #dee2e6">
                                                    {{data.name}}</td>
                                                <td style="border-right:1px solid #dee2e6">
                                                    {{data.empId}} / {{data.password}}</td>
                                                <td class="text-right" style="border-right:1px solid #dee2e6">
                                                    {{data.wardNo}}</td>
                                                <td class="text-center">
                                                    <span [hidden]="data.isActive==false">
                                                        <i class="fas fa-map-marked-alt"
                                                            (click)="openModel(contentWard,data.empId,'ward');"
                                                            title="Assign Ward"
                                                            style="cursor:pointer !important; font-size: 14px;color: #0ba118;margin-right:8px;"></i>
                                                        <i class="far fa-times-circle"
                                                            (click)="openModel(contentConfirmation,data.empId,'delete')"
                                                            title="Remove Assignment"
                                                            style="cursor:pointer !important; font-size: 14px;color: red;margin-right:8px;"></i>
                                                        <i class="far fa-edit"
                                                            (click)="openModel(contentEmployee,data.empId,'update');"
                                                            title="Edit Entry"
                                                            style="cursor:pointer !important; font-size: 14px;color: royalblue;"></i>
                                                    </span>
                                                    <span [hidden]="data.isActive==true" style="color: red;">Inactive</span>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="divMessage" class="col-md-12 pr-1 text-center"
                                style="padding-top: 20vh; display: none;">
                                <div class="form-group">
                                    <h5>No data available</h5>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 7px;padding-right:0px;">
            <div class="card" style="margin-top:-6px;height: 88vh!important;overflow: hidden;">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5> <b>{{markerData.name}} </b></h5>
                        </div>
                    </div>

                </div>
                <div class="card-body" style="padding: 15px 11px 15px 0px;">
                    <div class="row ml-0 mr-10">
                        <div class="col-md-3 pl-0 pr-0 mb-15  text-center">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{markerData.totalMarking}}</span><br />
                                    Total Marker
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-3 pl-0 pr-0 mb-15  text-center">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{markerData.totalDays}}</span><br />
                                    Working Days
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-3 pl-0 pr-0 mb-15  text-center">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{markerData.average}}</span><br />
                                    Avg. Per Day
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-3 pl-0 pr-0 mb-15  text-center">
                            <div class="table-heading" style="border-right:none!important;">
                                <h3>
                                    <span class="tbl-points"> {{markerData.totalWardMarking}}</span> <br />
                                    Current Ward Marking
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1" style="padding-left:35px;">
                                        <div class="table-wrapper table-scroll" style="padding: 0px 0px 0px 0px;">
                                            <table class="table"
                                                style="border-bottom:1px solid #dee2e6;border-left:1px solid #dee2e6;padding-bottom: 0px!important">
                                                <thead>
                                                    <th style="border-right:1px solid #dee2e6; width:110px;">Date</th>
                                                    <th class="text-right"
                                                        style="padding-right:20px; border-right:1px solid #dee2e6;">
                                                        Markers</th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of markerList; let i=index">
                                                        <td style="border-right:1px solid #dee2e6">
                                                            {{data.date}}</td>
                                                        <td class="text-right"
                                                            style="border-right:1px solid #dee2e6;padding-right:20px; ">
                                                            {{data.markers}}</td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center"
                                        style="padding-top: 20vh; display: none;">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-6" style="padding-right:35px;">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="table-wrapper table-scroll" style="padding: 0px 0px 00px 0px;">
                                            <table class="table"
                                                style="border-bottom:1px solid #dee2e6;border-left:1px solid #dee2e6;padding-bottom: 0px!important">
                                                <thead>
                                                    <th style="border-right:1px solid #dee2e6; width:110px;">Ward No.
                                                    </th>
                                                    <th class="text-right"
                                                        style="padding-right:20px; border-right:1px solid #dee2e6;">
                                                        Markers</th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of markerWardList; let i=index">
                                                        <td style="border-right:1px solid #dee2e6">
                                                            {{data.wardNo}}</td>
                                                        <td class="text-right"
                                                            style="border-right:1px solid #dee2e6;padding-right:20px; ">
                                                            {{data.markers}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center"
                                        style="padding-top: 20vh; display: none;">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Delete Confirmation Start-->
<ng-template #contentConfirmation>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 14px; font-weight: bold;">Are you
                    sure you want to remove assignment ?</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteId" value="0" />
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success w-100 submit-btn" (click)="removeAssignment()">
                            Confirm</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger w-100 cancel-btn" (click)="closeModel()">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Delete Confirmation End-->


<!--ward assign  Start-->
<ng-template #contentWard>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign Ward</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="empID" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <select id="ddlWard" class="input-green">
                        <option value={{zone.zoneNo}} *ngFor="let zone of zoneList">
                            {{zone.zoneName}}</option>
                    </select>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required style="display: none;">
                    <input type="checkbox" id="chkRemove" style="vertical-align: middle;"> Remove assigned ward
                </div>
                <input type="button" class="btn btn-success submit-btn" style="width: 100%;" value="SUBMIT"
                    (click)="saveWard();" />
            </div>
        </div>
    </div>
</ng-template>
<!--ward assign End-->

<!--employee  Start-->
<ng-template #contentEmployee>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Employee</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="key" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtName" class="input-green" placeholder="Name" />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-user-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtPhone" class="input-green" placeholder="Mobile No." />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtPassword" class="input-green" placeholder="Password" />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="checkbox" id="chkAcive" style="vertical-align: middle;"> Is Active

                </div>
                <input type="button" class="btn w-100 btn-success submit-btn" style="width: 100%;" value="SUBMIT"
                    (click)="saveEmployee();" style="height: 45px;" />
            </div>
        </div>
    </div>
</ng-template>
<!--employee End-->