<div class="main-page">
    <header class="header">
        <div class="header-left">
            Manage Surveyor [For Marking]
            <!-- Breadcrumb starts 
            <nav class="breadcrumb">
                <ul class="ul-breadcrumb">
                    <li class="li-breadcrumb">
                        <a class="link-breadcrumb" [routerLink]="['/', cityId, 'home']">Home</a>
                    </li>
                    <li class="li-breadcrumb">
                        <a class="link-breadcrumb" href="#">Survey Management</a>
                    </li>
                    <li class="li-breadcrumb">
                        <a class="link-breadcrumb" href="#">Marking Management</a>
                    </li>
                    <li class="li-breadcrumb">
                        <a class="link-breadcrumb" href="#">Manage Surveyor</a>
                    </li>
                </ul>
            </nav>-->

            <!-- Breadcrumb ends -->
        </div>
        <div class="header-right">
            <button type="button" class="user-button no-gutters-btn" (click)="openModel(contentEmployee,0,'add');">
                <span>+</span>New</button>
        </div>
    </header>
    <div class="page-body">
        <div class="page-body-inner">
            <div class="table-maine">
                <div class="table-body">
                    <div class="table-group">
                        <form>
                            <div class="table-ward">
                                <table class="table">
                                    <thead>
                                        <th style="width: 5%;">S.No.</th>
                                        <th>Name</th>
                                        <th>Login ID/Password
                                        </th>
                                        <th class="text-end">
                                            Assigned</th>
                                        <th class="text-center">
                                            Action</th>
                                    </thead>
                                    <tbody>
                                        <tr class="table-row" id="tr{{i}}" *ngFor="let data of userList; let i=index"
                                            class="{{data.trClass}}"
                                            (click)="getMarkerDetail(data.empId, data.wardNo,i);"
                                            style="cursor: pointer;">
                                            <td>{{i+1}}</td>
                                            <td>
                                                {{data.name}}</td>
                                            <td>
                                                {{cityEmpCode}}{{data.empId}} / {{data.password}}</td>
                                            <td class="text-end">
                                                {{data.wardNo}}</td>
                                            <td class="text-center">
                                                <span [hidden]="data.isActive==false"
                                                    style="gap: 10px; display: flex; justify-content: center;align-items: center;">
                                                    <img src="../../../assets/icons/map-location-dot-solid.svg"
                                                        alt="Map" (click)="openModel(contentWard,data.empId,'ward');"
                                                        title="Assign Ward" class="icon-green"
                                                        style="margin-right: 4px; vertical-align: middle;">
                                                    <img src="../../../assets/icons/circle-xmark-regular.svg"
                                                        alt="Circle"
                                                        (click)="openModel(contentConfirmation,data.empId,'delete')"
                                                        title="Remove Assignment"
                                                        style="margin-right: 4px; vertical-align: middle;">
                                                    <img src="../../../assets/icons/pen-to-square-regular.svg"
                                                        alt="Edit"
                                                        (click)="openModel(contentEmployee,data.empId,'update');"
                                                        title="Edit Entry"
                                                        style="margin-right: 4px; vertical-align: middle;">
                                                </span>
                                                <span class="inactive" [hidden]="data.isActive==true">Inactive</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body-inner">
            <div class="card-working">
                <div class="workdetails-Box">
                    <div class="working-count">{{markerData.totalMarking}}</div>
                    Total Marker
                </div>
                <div class="workdetails-Box">
                    <div class="working-count">{{markerData.totalDays}}</div>
                    Working Days
                </div>
                <div class="workdetails-Box">
                    <div class="working-count">{{markerData.average}}</div>
                    Avg. Per Day
                </div>
                <div class="workdetails-Box">
                    <div class="working-count">{{markerData.totalWardMarking}}</div>
                    Current Ward Markers
                </div>
            </div>
            <div class="table-workDetails-main">
                <div class="tbl-WorkDetailsHeader">
                    <div class="marker-name">{{markerData.name}}</div>
                    <div class="marker-last">
                        {{this.markerData.lastScan}}
                        <p>Last Scan Time</p>
                    </div>
                </div>
                <div class="tbl-flex">
                    <div class="table-wardDetails-scroll">
                        <table class="table">
                            <thead>
                                <th>Date</th>
                                <th class="text-right"> Markers</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of markerList; let i=index">
                                    <td>
                                        {{data.date}}</td>
                                    <td class="text-right"> {{data.markers}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-wardDetails-scroll">
                        <table class="table">
                            <thead>
                                <th>Ward No.
                                </th>
                                <th class="text-right ">
                                    Markers</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of markerWardList; let i=index">
                                    <td>
                                        {{data.wardNo}}</td>
                                    <td class="text-right ">
                                        {{data.markers}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Delete Confirmation Start-->
    <ng-template #contentConfirmation>
        <!-- <div class="modal fade"> -->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Remove Assignment</h5>
                    <button type="button" class="btn-close" (click)="closeModel();"></button>
                </div>
                <div class="custom-modal-body">
                    <div class="Delete-device">
                        <img class="deleteImg" src="../../assets/img/deleteImg.png">
                        <p class="title-assignment">
                            Are you sure you want to remove assignment ?
                        </p>
                    </div>
                    <input type="hidden" id="deleteId" value="0" />

                    <div class="col-md-12 mt-3">
                        <div class="btn-footer-group">
                            <button class="btn-success  btn-footer" (click)="removeAssignment()">
                                Confirm
                            </button>
                            <button class="btn-cancel btn-footer" (click)="closeModel()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </ng-template>
    <!--Delete Confirmation End-->

    <!--ward assign  Start-->

    <ng-template #contentWard>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assign Ward</h5>
                    <button type="button" class="btn-close" (click)="closeModel();"></button>
                </div>
                <div class="custom-modal-body">
                    <input id="empID" type="hidden" value="0" />
                    <div class="wrap-input-effects" required>
                        <select id="ddlWard" class="input-green">
                            <option value={{zone.zoneNo}} *ngFor="let zone of zoneList">
                                {{zone.zoneName}}</option>
                        </select>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <img src="../../../assets/icons/map-location-dot-solid.svg" alt="Map" aria-hidden="true">
                        </span>
                    </div>
                    <div class="wrap-input-effects" required style="display: none;">
                        <input class="remove-input" type="checkbox" id="chkRemove"> Remove assigned ward
                    </div>
                    <button class="btn-sumit mt-4 mb-0" (click)="saveWard();">
                        SUBMIT
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
    <!--ward assign End-->

    <!--employee  Start-->
    <!-- <div class="modal fade" id="contentEmployee" tabindex="-1" aria-hidden="true"
        (shown.bs.modal)="openModel(contentEmployee,0,'add');">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Employee</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
                </div>
                <div class="custom-modal-body">
                    <input id="key" type="hidden" value="0" />
                    <div class="wrap-input-effects" required>
                        <input type="text" id="txtName" class="input-green" placeholder="Name" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <img src="../../../assets/icons/user-solid.svg" alt="User" aria-hidden="true" />
                        </span>
                    </div>
                    <div class="wrap-input-effects" required>
                        <input type="text" id="txtPhone" class="input-green" placeholder="Mobile No." />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <img src="../../../assets/icons/mobile-screen-button-solid.svg" alt="Mobile"
                                aria-hidden="true" />
                        </span>
                    </div>
                    <div class="wrap-input-effects" required>
                        <input type="text" id="txtPassword" class="input-green" placeholder="Password" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <img src="../../../assets/icons/key-solid.svg" alt="Key" aria-hidden="true" />
                        </span>
                    </div>
                    <div class="wrap-input-effects" required>
                        <input class="active-input" type="checkbox" id="chkAcive" checked> <span class="check-tatile">Is Active</span>
                    </div>
                    <button class="btn-sumit mt-4 mb-0" (click)="saveEmployee();">
                        SUBMIT
                    </button>
                </div>
            </div>
        </div>
    </div> -->


    <ng-template #contentEmployee>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Employee</h5>
                    <button type="button" class="btn-close" (click)="closeModel();"></button>
                </div>
                <div class="custom-modal-body">
                    <input id="key" type="hidden" value="0" />
                    <div class="wrap-input-effects" required>
                        <input type="text" id="txtName" class="input-green" placeholder="Name" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <img src="../../../assets/icons/user-solid.svg" alt="User" aria-hidden="true" />
                        </span>
                    </div>
                    <div class="wrap-input-effects" required>
                        <input type="text" id="txtPhone" class="input-green" placeholder="Mobile No." />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <img src="../../../assets/icons/mobile-screen-button-solid.svg" alt="Mobile"
                                aria-hidden="true" />
                        </span>
                    </div>
                    <div class="wrap-input-effects" required>
                        <input type="text" id="txtPassword" class="input-green" placeholder="Password" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <img src="../../../assets/icons/key-solid.svg" alt="Key" aria-hidden="true" />
                        </span>
                    </div>
                    <div class="wrap-input-effects" required>
                        <input class="active-input" type="checkbox" id="chkAcive" checked> <span class="check-tatile">Is
                            Active</span>
                    </div>
                    <button class="btn-sumit mt-3 mb-0" (click)="saveEmployee();">
                        SUBMIT
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
    <!--employee End-->
</div>