<div id="divLoader" class="loaderClass">

    <span class="imgLoader">
        <img src="../../../assets/img/loading.gif" width="70"><br /><br />
        We are preparing system for <span><b>"{{userDetail.cityName}}"</b></span> <br> <span class="wait">Please
            wait...</span></span>
</div>
<section class="d-page">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12 center">
                <div class="absolute">
                    <div class="half-circle">
                        <div class="welcome-text">
                            <h3>WELCOME TO <br>
                                <span class="highlight-text"> WeVOIS</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row more-pages-header">
            <div class="col-md-12">
                Welcome <span class="imp-text"> {{userDetail.name}}</span>
                <a id="devendraLink" style="color:white; float:right ; display: none; font-size: 10px;" href="https://main-wevois.firebaseapp.com/ajmer/4/1/1/daily-work-reports"  target="_blank">Daily work report</a>
            </div>
        </div>
<div class="blur-bg" aria-hidden="true">
</div>
        <div class="height-mob menuScroll">
            <div class="row mob-responsive" style="display: flex; justify-content: center;">
                <div class="col-md-12 monitoring-card" >
                     <div class="monitoring-card-row">
                                   <div routerLinkActive="active" *ngFor="let usr of accessList ">
                    <div class="monitoring-card-item" [routerLink]="[usr.url]" [hidden]="usr.isOuterUrl=='yes'">
                        <div class="vertical">
                             <div class="imgbg">
                            <img [src]="usr.img" class="icon-green" style="font-weight: bold;height: 30px;" />
                            </div>
                              <div class="infoRight">
                            <h3>{{usr.name}}</h3>
                            </div>
                        </div>
                    </div>
                     
                    <a class="monitoring-card-item" [attr.href]="usr.url" target="_blank" [hidden]="usr.isOuterUrl=='no'"
                        style="text-decoration:none;">
                        <div class="vertical">
                                   <div class="imgbg">
                            <img [src]="usr.img" class="icon-green" style="font-weight: bold;height:30px;" /> 
                            </div>
                                     <div class="infoRight">
                            <h3>{{usr.name}}</h3>
                            </div>
                        </div>
                    </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center home-footer">
                Copyright by <b
                    style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">WeVOIS</b>
                &nbsp; <a href="https://www.facebook.com/wevois/" target="_blank">
                    <!-- <i class="fab fa-facebook-f"></i> -->
                    <img src="../../assets/icons/facebook-f-brands-solid.svg" alt="facebook-f-brands-solid"
                        class="icon-facebook" width="10" />
                </a> &nbsp; <a href="https://twitter.com/wevois?lang=en" target="_blank">
                    <!-- <i class="fab fa-twitter"></i> -->
                    <img src="../../assets/icons/twitter-brands-solid.svg" alt="twitter-brands-solid"
                        class="icon-twitter" width="14" />
                </a> &nbsp; <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank">
                    <!-- <i class="fab fa-linkedin-in"></i> -->
                    <img src="../../assets/icons/linkedin-in-brands-solid.svg" alt="linkedin-in-brands-solid"
                        class="icon-linkdin" width="14" />
                </a> &nbsp; <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank">
                    <!-- <i class="fab fa-instagram" style="color: green;"></i> -->
                    <img src="../../assets/icons/instagram-brands-solid.svg" alt="instagram-brands-solid"
                        class="icon-instagram" width="14" />
                </a>
            </div>
        </div>

    </div>
</section>