.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {background:url(../../assets/img/background.gif) no-repeat ; background-size:cover; min-height:650px;}
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.wrap-login100 {

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.login100-pic {
    width: 316px;        border-right: solid 1px green;
    padding: 0px;
    box-sizing: border-box;    padding-top: 20px;
}
.login100-form {
    width: 300px;
    margin: 20px;
    padding: 0px;
    box-sizing: border-box;
}
.login100-form-title {


    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 20px;
}


.wrap-effects-form { width: 500px;background: #fff;border-radius: 10px;overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -moz-box;
 display: -ms-flexbox; display: flex; flex-wrap: wrap;justify-content: space-between; padding: 177p 130px 33px 95px;}
 
.wrap-input-effects { position: relative; width: 100%; z-index: 1; margin-bottom: 10px;}

.input-green { font-size: 13px; line-height: 1.5; color: #666666;display: block; width: 100%; background: #e6e6e6; height: 50px;
 border-radius: 10px; padding: 0 30px 0 68px; border:none;}
 
.input-green:focus{ outline: none;}

.input-green:focus + .focus-input + .symbol-input { color: #57b846;padding-left: 28px;}

.focus-input { display: block; position: absolute; border-radius: 25px; bottom: 0; left: 0; z-index: -1; width: 100%; height: 100%;	outline: none !important;
border: none; box-shadow: 0px 0px 0px 0px;}

.symbol-input {font-size: 15px; display: -webkit-box;display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; align-items: center;
 position: absolute; border-radius: 25px;bottom: 0;left: 0;width: 100%; height: 100%; padding-left: 35px; pointer-events: none;color: #666666;
 -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;}
  


.login-btn { width: 100%; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex;flex-wrap: wrap;
 justify-content: center; padding-top: 20px;}

button{font-family: Montserrat-Bold; font-size: 14px;  color: #fff; text-transform: uppercase; border:none!important; width: 100%;
 height: 50px; border-radius: 10px; background-color: #379f30!important;  padding: 0 25px; cursor: pointer;}
.hvr-shutter-in-horizontal:before{background:#57b846!important; color:#000!important;}


.footer{padding: 0px!important;}
.input-greens { font-size: 15px; line-height: 1.5; color: #666666;display: block; width: 100%; background: #e6e6e6; height: 50px;
    border-top-left-radius: 10px; border-bottom-left-radius: 10px; padding: 0 30px 0 68px; border:none;}
  
    .input-greens:focus{ outline: none;}
  
    .input-greens:focus + .focus-input + .symbol-input { color: #57b846;padding-left: 28px;}
    
    .icon{border-top-right-radius: 10px; border-bottom-right-radius: 10px; background:#e6e6e6; margin-bottom: 10px; padding-top: 14px;}
           .container-login100 a:hover{color:red;}








/** Extra Small devices (landscape phones, 375px upto) **/
@media (max-width: 576px) {
.hide-on-mobile {display: none;}
    .login100-pic {
        width: 500px;
        border-right: none;
        
        padding: 0px;
        box-sizing: border-box;

    }
    .wrap-login100{
        width: 90%;
    }
}
/** Extra Small devices (landscape phones, 375px upto) **/
@media (min-width: 540px) and (max-width:541px) {
    .hide-on-mobile {display: none;}
        .login100-pic {
            width: 500px;
            border-right: none;
            
            padding: 0px;
            box-sizing: border-box;
    
        }
        .wrap-login100{
            width: 65%;
        }
    }
