<div id="divLoaderMain" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-4 no-gutters-iner">

        </div>
        <div class="col-md-4 Ward-Marking-heading">
            Ward Marking Summary
        </div>
        <div class="col-md-4 text-right total-house fix-home-outer">
            <div class="fix-home">

                <div class="float-first fix-home-iner">
                    <i class="fas fa-vr-cardboard"></i> <span class="house"><span class="fix-home-span">
                            {{markerData.totalAlreadyCard}}</span></span><br>
                    <h6>Already Installed</h6>
                </div>
                <div class="float-third">
                    <i class="fas fa-house-damage"></i> <span class="house"> {{markerData.totalMarkers}}</span><br>
                    <h6>Total Marker</h6>
                </div>
                <div class="float-first fix-home-iner">
                    <i class="fa-solid fa-file-export" style="font-size: 20px; cursor: pointer; color: #1fda2f;" (click)="getAllZoneHouseTypeList();"></i><br>
                    <h6>Export Entity Types</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-6 card-outer">
            <div class="card card-body-outer">
                <div class="card-body card-body2">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="table-wrapper table-one">
                                    <table class="table table-one-iner">
                                        <thead>
                                            <th class="ward-table-heading">Ward</th>
                                            <th class="text-right Markers-table-heading">
                                                Markers</th>
                                            <th class="text-right Already-table-heading">
                                                Already Installed</th>
                                            <th class="text-right Approved-table-heading">
                                                Approved Lines</th>
                                            <th class="text-left Status-table-heading">
                                                Status</th>
                                        </thead>
                                        <tbody>
                                            <tr class="table-row" id="tr{{i}}" *ngFor="let data of wardProgressList; let i=index" (click)="getMarkingDetail(data.wardNo,i);" [hidden]="data.wardNo==0" style="cursor:pointer ;">
                                                <td class="table-data">
                                                    {{data.wardNo}}</td>
                                                <td class="text-right table-data">
                                                    {{data.markers}}</td>
                                                <td class="text-right table-data">
                                                    {{data.alreadyInstalled}}</td>

                                                <td class="text-right table-data">
                                                    {{data.approvedLines}} / {{data.wardLines}}</td>
                                                <td class="text-left {{data.cssClass}} table-data">
                                                    {{data.status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="divMessage" class="col-md-12 pr-1 text-center no-available">
                                <div class="form-group">
                                    <h5>No data available</h5>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 loaderClass-outer">
            <div id="divLoader" class="loaderClass">
                <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
            </div>
            <div class="card custom-header-outer">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-2 text-center responsive">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{markerData.totalLines}}</span> <br> Lines
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-3 text-center responsive">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{markerData.wardApprovedLines}}</span> <br> Approved Lines
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-3 text-center responsive">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{markerData.wardMarkers}}</span> <br> Markers
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-2 text-center responsive">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{markerData.wardInstalled}}</span> <br> Already Installed
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-2 text-center responsive">
                            <div class="table-heading" style="cursor: pointer;" (click)="getZoneHouseTypeList(contentHouseType);">
                                <h3>
                                    <span class="tbl-points"> <i class="fa-solid fa-table-list"></i></span> <br> Entity Types
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body3">
                    <div class="row">

                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="table-wrapper table-scroll table-outer">
                                            <table class="table table-outer-iner">
                                                <thead>
                                                    <th class="table-data-line2">Line</th>
                                                    <th class="text-right table-data-Markers2">Markers</th>
                                                    <th class="text-right table-data-Already2">Already Installed
                                                    </th>
                                                    <th class="text-center table-data-Approved2">Approved
                                                    </th>

                                                    <th class="text-center table-data-hesh">#</th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of lineMarkerList; let i=index">
                                                        <td class="table-data2">
                                                            {{data.lineNo}}</td>
                                                        <td class="text-right table-data2">
                                                            {{data.markers}}</td>
                                                        <td class="text-right table-data2">
                                                            {{data.alreadyCard}}</td>
                                                        <td class="text-center table-data2">
                                                            <span [hidden]="data.markers==0">
                                                                <i class="fas fa-check check-icon"
                                                                    [hidden]="data.isApproved==false"></i>
                                                                <i class="fas fa-times times-icon"
                                                                    [hidden]="data.isApproved==true"></i>
                                                            </span>
                                                        </td>
                                                        <td class="text-center table-data2">

                                                            <i class="far fa-eye eye-icon" [hidden]="data.markers==0" (click)="showLineDetail(contentLineMarkers,data.wardNo,data.lineNo);"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="divmessage" id="divMessage" class="col-md-12 pr-1 text-center">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Line Markers Start-->
<ng-template #contentLineMarkers>
    <div class="img-close-outer">
        <img src="../../../assets/img/close-grey.png" class="img-close" (click)="closeModel();">
    </div>
    <div class="modal-body content-scroll-outer">
        <div id="divHouseType" style="display: none; position: absolute;z-index: 9999; width: 300px;background-color: #fff; margin-top: 15%; margin-left: 40%; padding: 20px; border: 1px solid lightgray;">
            <input type="hidden" id="houseWardNo" value="0">
            <input type="hidden" id="houseLineNo" value="0">
            <input type="hidden" id="houseIndex" value="0">
            <h5 class="modal-title" style="text-align: center; padding-bottom: 20px;">Change House Type</h5>
            <div class="row" style="border-top: 1px solid lightgray; padding-top: 10px;">
                <div class="col-md-12">
                    <select id="ddlHouseType" class="caret-select-vehicle">
                        <option *ngFor="let dt of houseTypeList" value={{dt.id}}>
                            {{dt.houseType}}
                        </option>
                    </select>

                </div>
                <div class="col-md-6" style="text-align: center;margin-top: 5px;">
                    <button class="btn btn-success " (click)="updateHouseType();">
                        Save</button>
                </div>
                <div class="col-md-6" style="text-align: center;margin-top: 5px;">
                    <button class="btn btn-danger " (click)="cancelHouseType();" style="text-transform: uppercase;">
                        Cancel</button>
                </div>
            </div>
        </div>
        <div id="divStatus" class="content-scroll">
            <div class="row">
                <div class="col-md-2" *ngFor="let dt of markerDetailList">
                    <div class="dt-img-outer">
                        <a href="{{dt.imageUrl}}" target="_blank">
                            <img class="dt-img" [src]="dt.imageUrl" />
                        </a>
                    </div>
                    <div class="main-tag">
                        <div class="f-left">
                            <div style="width:100%!important ;">
                                <h3 class="f-left-heading"> {{dt.type}} <i class="fa-solid fa-pen-to-square" style="cursor: pointer;" (click)="setHouseType(dt.wardNo,dt.lineNo,dt.index);"></i></h3>
                            </div><br />
                            <span [hidden]="dt.status==''">
                                <h3> Status : {{dt.status}}&nbsp; </h3>
                            </span>
                        </div>
                    </div>
                    <div style="text-align: left; margin-bottom: 20px;">
                        <span style="cursor: pointer;" [hidden]="dt.isApprove!='0'" (click)="approveMarkerStatus(dt.wardNo,dt.lineNo,dt.index);">
                            <i class="fa-solid fa-a" style="color:green; font-size: 16px; "></i>pprove
                        </span> <span style="cursor: pointer;" [hidden]="dt.status!=''" (click)="saveMarkerStatus(dt.wardNo,dt.lineNo,dt.index);">
                            &nbsp; &nbsp; <i class="fa-solid fa-r" style="color:blue; font-size: 16px;"></i>eject
                        </span> <span style="cursor: pointer;" [hidden]="dt.status!=''" (click)="removeMarker(dt.wardNo,dt.lineNo,dt.index,dt.alreadyInstalled);">
                            &nbsp; &nbsp;<i class="fa-solid fa-d" style="color:red; font-size: 16px;"></i>elete
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Line Markers End-->


<!--House Type  Start-->
<ng-template #contentHouseType>
    <div class="modal-header">
        <h5 class="modal-title text-center" (click)="exportHouseTypeList('0');" style="color: green; cursor: pointer;">
            <i class="fa-solid fa-file-export"></i>&nbsp;<span style="color: #000; font-size: 12px;">Export Entity
                Type</span> </h5>
        <button type="button" class="close" (click)="closeModel();" style="border: none;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body content-scroll-outer" style="padding-top: 20px; margin-left: -15px; margin-right: -15px;">
        <div id="divHouseStatus" class="content-scroll">
            <div class="row">
                <div class="table-wrapper table-one">
                    <table class="table table-one-iner">
                        <thead>
                            <th class="ward-table-heading" style="width:75%">Entity Type</th>
                            <th class="text-right Markers-table-heading" style="width:25%">
                                Counts</th>
                        </thead>
                        <tbody>
                            <tr class="table-row" id="tr{{i}}" *ngFor="let data of zoneHouseTypeList; let i=index">
                                <td class="table-data" style="width:75%">
                                    {{data.houseType}}</td>
                                <td class="text-right table-data" style="width:25%">
                                    {{data.counts}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</ng-template>
<!--House Type End-->