<div class="container-fluid">
        <div class="row">
                <div class="col-md-12 top-header">
                        <b>settings</b>
                </div>
        </div>

</div>

<section class="padding">
        <div class="container-fluid p-0">
                <div class="row">
                        <div class="col-md-12 bg-color">
                                <nav class="main1">
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-home" type="button" role="tab"
                                                        aria-controls="nav-home" aria-selected="true">Navigator
                                                        Setting</button>
                                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-profile" type="button" role="tab"
                                                        aria-controls="nav-profile" aria-selected="false"></button>
                                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-contact" type="button" role="tab"
                                                        aria-controls="nav-contact" aria-selected="false"></button>
                                                <button class="nav-link" id="nav-help-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-help" type="button" role="tab"
                                                        aria-controls="nav-help" aria-selected="false"></button>
                                        </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active save" id="nav-home" role="tabpanel"
                                                aria-labelledby="nav-home-tab">
                                                <form>
                                                        <div class="form">
                                                                <div class="row">
                                                                        <div class="col-md-12">
                                                                                <label>First Start Point Range (in
                                                                                        meters)</label>
                                                                                <div class="wrap-input-effects"
                                                                                        required>
                                                                                        <input id="txtFirstStartPointRange"
                                                                                                class="caret-select"
                                                                                                type="number" />
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                                <label>Line End Point Range (in
                                                                                        meters)</label>
                                                                                <div class="wrap-input-effects"
                                                                                        required>
                                                                                        <input id="txtLineEndPointRange"
                                                                                                class="caret-select"
                                                                                                type="number" />
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div class="row form-group2">
                                                                        <div class="col-md-12 pr-1">
                                                                                <div class="form-group">
                                                                                        <button id="btnSave"
                                                                                                class="btn btn-success btn-xs"
                                                                                                (click)="saveCommonNavigatorSetting();">SAVE</button>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </form>

                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                aria-labelledby="nav-profile-tab">
                                                <form action="" class="form">

                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <a href="#">save</a>




                                                </form>
                                        </div>
                                        <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                aria-labelledby="nav-contact-tab">
                                                <form action="" class="form">

                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <a href="#">save</a>




                                                </form>
                                        </div>
                                        <div class="tab-pane fade" id="nav-help" role="tabpanel"
                                                aria-labelledby="nav-help-tab">
                                                <form action="" class="form">

                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <a href="#">save</a>




                                                </form>
                                        </div>
                                </div>
                        </div>



                </div>
        </div>
</section>