<div class="container-fluid">
        <div class="row">
                <div class="col-md-12 top-header">
                        <b>settings</b>
                </div>
        </div>

</div>

<section class="padding">
        <div class="container-fluid p-0">
                <div class="row">
                        <div class="col-md-12 bg-color">
                                <nav class="main1">
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <button class="nav-link active" id="tabNavigator" data-bs-toggle="tab"
                                                        data-bs-target="#Navigator" type="button" role="tab"
                                                        aria-controls="Navigator" aria-selected="true"
                                                        (click)="setActiveTab('Navigator');">Navigator
                                                </button>
                                                <button class="nav-link" id="tabReader" data-bs-toggle="tab"
                                                        data-bs-target="#Reader" type="button" role="tab"
                                                        aria-controls="Reader" aria-selected="false"
                                                        (click)="setActiveTab('Reader');">Reader</button>
                                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-contact" type="button" role="tab"
                                                        aria-controls="nav-contact" aria-selected="false"></button>
                                                <button class="nav-link" id="nav-help-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-help" type="button" role="tab"
                                                        aria-controls="nav-help" aria-selected="false"></button>
                                        </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active save" id="Navigator" role="tabpanel"
                                                aria-labelledby="tabNavigator">
                                                <form>
                                                        <div class="form">
                                                                <div class="row">
                                                                        <div class="col-md-3">
                                                                                <div class="row">
                                                                                        <div class="col-md-12">
                                                                                                <label>First Start Point
                                                                                                        Range (in
                                                                                                        meters)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtFirstStartPointRange"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Line End Point
                                                                                                        Range (in
                                                                                                        meters)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtLineEndPointRange"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Current Location
                                                                                                        Capture Interval
                                                                                                        (in
                                                                                                        second)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtCurrentLocationCaptureInterval"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Max Distance Can
                                                                                                        Cover (in
                                                                                                        meters)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtMaxDistanceCanCover"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Traversal Path
                                                                                                        Duration (in
                                                                                                        second)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtTraversalPathDuration"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Capturing Gap (in
                                                                                                        second)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtCapturingGap"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                                <div class="row">
                                                                                        <div class="col-md-12">
                                                                                                <label>Internet Check
                                                                                                        Interval
                                                                                                        (in
                                                                                                        second)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtInternetCheckInterval"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Internet Check
                                                                                                        Voice Message
                                                                                                </label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtInternetCheckVoiceMessage"
                                                                                                                class="caret-select"
                                                                                                                type="text" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Screen Off Voice
                                                                                                        Message </label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtScreenOffVoiceMessage"
                                                                                                                class="caret-select"
                                                                                                                type="text" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Start Line Note
                                                                                                </label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtStartLineNote"
                                                                                                                class="caret-select"
                                                                                                                type="text" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Line Heading
                                                                                                </label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtLineHeading"
                                                                                                                class="caret-select"
                                                                                                                type="text" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Skip Warning Message
                                                                                                </label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtSkipWarningMessage"
                                                                                                                class="caret-select"
                                                                                                                type="text" />
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-3">

                                                                                <div class="col-md-12">
                                                                                        <label>Halt Voice Message
                                                                                        </label>
                                                                                        <div class="wrap-input-effects"
                                                                                                required>
                                                                                                <input id="txtHaltVoiceMessage"
                                                                                                        class="caret-select"
                                                                                                        type="text" />
                                                                                        </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                        <label>Halt Voice Message Interval (in minutes)
                                                                                        </label>
                                                                                        <div class="wrap-input-effects"
                                                                                                required>
                                                                                                <input id="txtHaltVoiceMessageInterval"
                                                                                                        class="caret-select"
                                                                                                        type="text" />
                                                                                        </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                        <label>halt Voice Message Minimum Time (in minutes)
                                                                                        </label>
                                                                                        <div class="wrap-input-effects"
                                                                                                required>
                                                                                                <input id="txtHaltVoiceMessageMinimumTime"
                                                                                                        class="caret-select"
                                                                                                        type="text" />
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-3">

                                                                        </div>

                                                                </div>


                                                                <div class="row form-group2">
                                                                        <div class="col-md-12 pr-1">
                                                                                <div class="form-group">
                                                                                        <button id="btnSave"
                                                                                                class="btn btn-success btn-xs"
                                                                                                (click)="saveCommonNavigatorSetting();">SAVE</button>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </form>

                                        </div>
                                        <div class="tab-pane fade" id="Reader" role="tabpanel"
                                                aria-labelledby="tabReader">
                                                <form>
                                                        <div class="form">
                                                                <div class="row">
                                                                        <div class="col-md-3">
                                                                                <div class="row">
                                                                                        <div class="col-md-12">
                                                                                                <label>Card Scan Wait
                                                                                                        Time (in
                                                                                                        second)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtCardScanWaitTime"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Card Scan Time
                                                                                                        Gap (in
                                                                                                        second)</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtCardScanTimeGap"
                                                                                                                class="caret-select"
                                                                                                                type="number" />
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                                <label>Card Scan
                                                                                                        Note</label>
                                                                                                <div class="wrap-input-effects"
                                                                                                        required>
                                                                                                        <input id="txtCardScanNote"
                                                                                                                class="caret-select"
                                                                                                                type="text" />
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-3">

                                                                        </div>
                                                                        <div class="col-md-3">

                                                                        </div>
                                                                        <div class="col-md-3">

                                                                        </div>
                                                                </div>

                                                                <div class="row form-group2">
                                                                        <div class="col-md-12 pr-1">
                                                                                <div class="form-group">
                                                                                        <button class="btn btn-success btn-xs"
                                                                                                (click)="saveCommonReaderSetting();">SAVE</button>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </form>
                                        </div>
                                        <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                aria-labelledby="nav-contact-tab">
                                                <form action="" class="form">

                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <a href="#">save</a>




                                                </form>
                                        </div>
                                        <div class="tab-pane fade" id="nav-help" role="tabpanel"
                                                aria-labelledby="nav-help-tab">
                                                <form action="" class="form">

                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <label>Name</label>
                                                        <input type="text">
                                                        <label class="margin">Name</label>
                                                        <input type="text">
                                                        <a href="#">save</a>




                                                </form>
                                        </div>
                                </div>
                        </div>



                </div>
        </div>
</section>