<button (click)="setData();" style="margin-left: 20px; margin-top: 10px; display:none;">set data</button>



<button (click)="setWardTotalLength();" style="margin-left: 20px; margin-top: 10px;">Update Ward Total Length</button>

<button (click)="setSurveyorId();" style="margin-left: 20px; margin-top: 10px; display:none;">Update SurveyID</button>

<button (click)="getWastebinData();" style="margin-left: 20px; margin-top: 10px; ">Get WasteBin Data</button>
<br />
<br />
<div style="padding-left: 20px;">
    <table>
        <tr>
            <td>Year</td>
            <td><input id="txtYear" type="text" value="2021"></td>
        </tr>
        <tr>
            <td>ward No</td>
            <td><input id="txtWardNo" type="text"></td>
        </tr>
        <tr>
            <td>ward Total Length</td>
            <td><input id="txtWardTotalLength" type="text"></td>
        </tr>
        <tr>
            <td>month</td>
            <td><input id="txtMonth" type="text"></td>
        </tr>
        <tr>
            <td>date</td>
            <td><input id="txtDate" type="text" placeholder="yyyy-mm-dd"></td>
        </tr>
    </table>
</div>


<button (click)="setWasteCollectionInfoData();" style="margin-left: 20px; margin-top: 10px;">Update WasteCollectionInfo
    Sumary</button>

<button (click)="setSummary();" style="margin-left: 20px; margin-top: 10px;">Update Sumary</button>
<button (click)="getJulyData();" style="margin-left: 20px; margin-top: 10px;">Get July data</button>


<button (click)="updateWardDustbin();" style="margin-left: 20px; margin-top: 10px;">Update ward dustbin</button>

<button (click)="updateCardWardMapping();" style="margin-left: 20px; margin-top: 10px;">Update card ward
    mapping</button>



<button (click)="downloadSikarDustbin();" style="margin-left: 20px; margin-top: 10px;">Download Sikar Dustbin</button>




<button (click)="updateGarbageData();" style="margin-left: 20px; margin-top: 10px;">Update Garbage Data</button>

<br />
<br />
<br />
<input id="fileUpload" type="file" name="file" class="file-upload-field" value="">
<br />
<br />
<button (click)="uploadDustbinData();" style="margin-left: 20px; margin-top: 10px;">Update Dustbin Detail</button>



<br />
<br />
<button (click)="checkMarkerCount();" style="margin-left: 20px; margin-top: 10px;">Check Marker Count</button>



<br />
<br />
<button (click)="exportCardNo();" style="margin-left: 20px; margin-top: 10px;">Export Card No</button>

<br />
<br />
<button (click)="updateMarkingData();" style="margin-left: 20px; margin-top: 10px;">Update Marking Data</button>

<br />
<br />
<div style="padding-left: 20px;">
    <table>
        <tr>
            <td>ward No</td>
            <td><input id="txtZoneNo" type="text"></td>
        </tr>
        <tr>
            <td>Line No</td>
            <td><input id="txtLineNo" type="text"></td>
        </tr>
        <tr>
            <td>New Line No</td>
            <td><input id="txtNewLineNo" type="text"></td>
        </tr>
    </table>
</div>
<br />
<button (click)="moveMarker();" style="margin-left: 20px; margin-top: 10px;">Move marker to new line</button>
<br />
<br />
<br />


<button (click)="addHouse();" style="margin-left: 20px; margin-top: 10px;">Add Surveyed Data</button>



<br />
<br />


<button (click)="addHouseToMarker();" style="margin-left: 20px; margin-top: 10px;">Add House to marker Data</button>

<br />
<br />


<button (click)="checkFileUpdateDate();" style="margin-left: 20px; margin-top: 10px;">Check file update date</button>