<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<!----Desktop Navbar Start----->
<section class="header">
    <div class="row no-gutters">

        <div class="col-md-12 col-lg-12 col-xl-12 main-headers">
            Account Detail
        </div>

    </div>
</section>
<!----Desktop Navbar End----->
<div class="main-content">
    <div class="row main-row">
        <div class="col-md-12 col-lg-12 col-xl-12 pl-0 pr-6 pad-mob-b-10 pad-pr-0" style="padding-right:10px;">
            <div class="card" style="margin-top:-6px;  height: 90vh!important">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div id="divList" class="table-wrapper table-one">
                                    <table class="table table-line">
                                        <thead>
                                            <th class="br-1 td-1" style="border:none!important;">Emp Code</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                Name</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                DOJ</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                Account No.</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                IFSC</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                PAN Number</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                Modify Detail</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr id="tr{{i}}" *ngFor="let data of accountList; let i=index">
                                                <td class="td-1" style="width:12%; border-right:1px solid #dee2e6">
                                                    {{data.empCode}}
                                                </td>
                                                <td class="text-left br-1">
                                                    {{data.name}}</td>
                                                <td class="text-left br-1">
                                                    {{data.doj}}</td>
                                                <td class="text-left br-1">
                                                    {{data.accountNo}} </td>
                                                <td class="text-left br-1">
                                                    {{data.ifsc}}</td>
                                                <td class="text-left br-1">
                                                    {{data.panNo}}
                                                </td>
                                                <td class="text-left br-1">
                                                    <span [hidden]="data.modifyBy=='' || data.modifyBy==null">
                                                   By {{data.modifyBy}}<br/> on {{data.modifyDate}}</span>
                                                </td>
                                                <td class="text-left br-1">
                                                    <i class="far fa-edit"
                                                        (click)="openModel(contentEmployee,data.empId);"
                                                        title="Edit Entry"
                                                        style="cursor:pointer !important; font-size: 14px;color: royalblue;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center"
                                        style="padding-top: 20vh; display: none;">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<!--employee  Start-->
<ng-template #contentEmployee>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Account Detail</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="key" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtAccountNo" class="input-green" placeholder="Account No." />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-user-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-effects" required>
                    <input type="text" id="txtIFSC" class="input-green" placeholder="IFSC" />
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-bars" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="button" class="btn w-100 btn-success submit-btn" style="width: 100%;" value="SUBMIT"
                    (click)="saveAccountDetail();" style="height: 45px;" />
            </div>
        </div>
    </div>
</ng-template>
<!--employee End-->