<div id="divLoaderUpdate" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>

<section class="header">
    <div class="row no-gutters">
        <div class="col-md-12 ward-header-outer">
            <h1 class="ward-header">Set NearBy Ward </h1>
        </div>


    </div>
    <div class="row w-100">
        <div class="col-12 p-0">
            <div class="display1">
                <i class="bi bi-chevron-down" onclick="show()"></i>
            </div>
        </div>
    </div>
</section>

<div #gmap class="gmap" id="divMap"></div>
<div class="display" id="popup">
    <div class="house-card-box">
        <div class="house-card-box-iner" id="divDetails">
            <div class="row row-box">
                <div class="col-md-4 no-gutters-iner">
                    <select class="caret-select" id="ddlZone" [(ngModel)]="selectedZone" (change)="changeZoneSelection($event.target.value)" style="border: 1px solid black;">
                <option *ngFor="let zone of zoneList" value={{zone.zoneNo}}
                  ngSelected="zone.zoneNo == selectedZone?'selected':''">
                  {{zone.zoneName}}
                </option>
              </select>
                </div>
            </div> 
               
                    <div class="table-wrapper table-one" >
                        <table class="table table-main" >
                            <thead>
                                <th class="table-heading" style="text-align: center;">Near By Wards</th>
                               
                            </thead>
                            <tbody>
                                <tr  class="table-row"  *ngFor="let data of nearByWards; let i=index">     
                                    <td class="table-data"><span>{{data}}</span> <span style="float:right;font-size: 20px;cursor: pointer;" ><i class="bi bi-x deleteWardBtn" style="color: red;" (click)=" deleteNearByWard(data)" ></i></span></td>
                                    
                                </tr>
                                <!-- <tr class="table-row" style="cursor: pointer;">
                                    <td class="table-data">fg</td>
                                </tr> -->
                                
                            </tbody>
                        </table>
                    </div>
                   
            
            
                <div class="col-md-12" style="text-align: right; float: right;">
                    <button class="btn btn-success" id="saveBtn" style="width: 100px;" (click)="saveData()">
                        Save</button>
                </div>
               
            
            </div>

        </div>
    </div>
