<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-12 col-lg-12 col-xl-12 main-headers no-gutters-iner">
            Employees
        </div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-5 card-outer">
            <div class="card custom-header-outer">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-3 text-left roles-input">
                            <select class="filter-select filter-input" id="ddlDesignation" (change)="filterData()">
                                <option value="all">
                                    All Roles
                                </option>
                                <option *ngFor="let dt of designationList" value={{dt.designation}}>
                                    {{dt.designation}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-3 text-left employ-input">

                            <select class="filter-select filter-input" id="ddlUser" (change)="filterData()">
                                <option value="all">
                                    All Employee
                                </option>
                                <option selected value="active">
                                    Active
                                </option>
                                <option value="inactive">
                                    In-active
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3 text-left code-input">

                            <input id="txtName" class="filter-select text-input" type="text" (keyup)="filterData();" placeholder="Search by name, code">
                        </div>
                        <div class="col-md-3 text-center text-input-iner active-input">
                            {{employeeCountSummary.active}}<br/><span class="text-input-iner-span">Active</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div id="divList" class="table-wrapper table-one">
                                    <table class="table table-line">
                                        <thead>
                                            <th class="text-left br-1 border-none">
                                                Name</th>
                                            <th class="text-left br-1 border-none">
                                                Role</th>
                                            <th class="text-left br-1 border-none">
                                                Action
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr id="tr{{i}}" *ngFor="let data of employeeList; let i=index">
                                                <td class="text-left br-1">
                                                    {{data.name}} <b>[{{data.empCode}}]</b>
                                                </td>
                                                <td class="text-left br-1">
                                                    {{data.designation}}
                                                    <i class="far fa-edit edit-icon" (click)="openModel(contentDesignation,data.empId,'designation');" title="Edit Entry"></i>
                                                </td>
                                                <td class="text-left br-1">
                                                    <span [hidden]="data.status!=1" class="green-span" (click)="openModel(contentConfirmation,data.empId,'active')">Active</span>
                                                    <span [hidden]="data.status==1" class="red-span" (click)="openModel(contentConfirmation,data.empId,'in-active')">In-active</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 card-outer2">
            <div class="card card-body-outer">
                <div id="content" #content class="card-body content-main">
                    <div class="row">

                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">

                                    </div>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center form-group-outer">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #contentDesignation>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Designation</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body empID-outer">
                <input id="empID" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <select id="ddlDesignationUpdate" class="input-green">
                        <option *ngFor="let dt of designationList" value={{dt.designation}}>
                            {{dt.designation}}
                        </option>
                    </select>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="button" class="btn btn-success submit-btn" value="SUBMIT" (click)="updateDesignation();" />
                <input type="button" class="btn btn-cancel cancel-btn" value="CANCEL" (click)="closeModel();" />
            </div>
        </div>
    </div>
</ng-template>

<ng-template #contentConfirmation>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmTitle"></h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body empIDActive-outer">
                <input id="empIDActive" type="hidden" value="0" />
                <input id="empStatus" type="hidden" value="0" />
                <input type="button" class="btn btn-success submit-btn" value="CONFIRM" (click)="updateEmployeeStatus();" />
                <input type="button" class="btn btn-cancel cancel-btn" value="CANCEL" (click)="closeModel();" />
            </div>
        </div>
    </div>
</ng-template>