.header{
height:62px ; width: 100%; 
background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%);
color:#fff;
}

.custom-date-input{   
height: 43px;
}
.caret-select{margin-top: 10px!important; margin-left:10px!important;
border-radius: 5px;
padding:10px; border:none!important;  width: 97%;}

.btn-hvr{
cursor: pointer;
width: 50px;
height: 43px;
background: #888!important;
border-radius: 5px;
}
.btn-hvr:hover{
background: #979797!important;
}
input:focus-visible{
outline: none!important;
}
button:focus{
outline: none!important;
}
.inactive{
  background-color: #fcb2c2;
//background-color: #ededed;
}

.active{
background-color: rgb(255, 255, 255);
}

.completed{
background-color:#9ff39f;
}

.stopedWork{
background-color: red;
color: #fff;
width: 20px;
height: 20px;
float: left;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}




/**************************Table Start***************************/
.table-bg{
background-color: #fff;
border-radius: 0.25rem;
box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}
.table-header{
height: 40px;
text-align: center;
// border-bottom: 5px solid #dcdcdc;
background-color: #fff;;
padding: 15px;
padding-top:8px;
color: #444444;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 600;
border-radius: 0.25rem 0.25rem 0rem 0rem ;
box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
border: 1px solid #e2e2e2;
}
.tableFixHead {
overflow-y: scroll;
height:86vh;
}
tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075)!important;
}
.tableFixHead thead th {
position: sticky;
top: 0;
background-color: #f1f1f1;
z-index: 333;
}
table {
border-collapse: collapse;
width: 100%;
}
thead th{
padding: 10px 12px!important;
font-size:14px;
color: rgb(56, 56, 56);
font-weight: bold;
}
table td{
padding: 10px 15px !important;
font-size:12px;
}
.tdBorder{
border-right: 1px solid #dee2e6!important;
}
.tableFixHead a{
color: #000;
}
.tableFixHead .fa-long-arrow-alt-down{
color: red;
}
.tableFixHead .fa-long-arrow-alt-up{
color: #0ba118;
}
.red-halt{
background-color: red;
color: #fff!important;
padding: 5px 10px;
border-radius: 20px;
}
.tableFixHead::-webkit-scrollbar{
display: none; 
}

.tableFixHeadDetail {
overflow-y: auto;
height: 226px;
margin-top: 10px;
}
.tableFixHeadDetail thead th {
position: sticky;
top: 0;
background-color: #fff;
}
.tableFixHeadDetail a{
color: #000;
}
.tableFixHeadDetail .fa-long-arrow-alt-down{
color: #0ba118;
}
.tableFixHeadDetail .fa-long-arrow-alt-up{
color: red;
}
.tableFixHeadDetail::-webkit-scrollbar{
display: none; 
}
/**************************Table End***************************/












.no-gutters-iner{
  padding-left: 18px;
}
.arrow-btn{
  padding-right: 10px;
}
.arrow-input{
  width: 170px; 
  border-radius: 5px; 
  padding: 0px 10px;
  margin-right: 3px;
}
.arrow-span{
  color: #fff;
}
.arrow-btn2{
  padding-left: 10px;
}
.arrow-span2{
  color: #fff;
}
.select{
  width: 150px;
}
.table-bg-outer{
  padding-left: 5px;
}
.row2{
  margin-top: -40px;
}
.halts2{
  padding-left: 10px;
}
.table-main{
  margin-bottom: 0px;
}
.td-iner{
  width:100%; 
  text-align: center!important;
}

@media only screen and (min-width:270px) and (max-width:576px){
  .header{
    height: 100px !important;
  }
  .caret-select{
    margin-left: 0px !important;
  }
  .arrow-input{
    width: 144px !important;
  } 
}






