<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-2 header1">
        </div>
        <div class="col-md-8 header2">

        </div>
        <div class="col-md-2 header3"></div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div id="divEntry" class="col-md-6 left" style="display: none;">

            <div class="card card2">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5> <b>Vehicle Breakdown Entry </b></h5>
                        </div>
                    </div>

                </div>
                <div class="card-body card-body2">

                    <form>
                        <div class="form">
                            <div class="row">
                                <div class="col-md-6  pr-1 padding-remove">
                                    <label>Date</label>
                                    <div class="wrap-input-effects" required>
                                        <input type="date" id="txtDate" class="input-green" (change)="checkDate($event.target.value)" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Vehicle</label>
                                    <div class="wrap-input-effects" required>
                                        <select id="ddlVehicle" class="input-green">
                                            <option value="0">Select Vehicle</option>
                                            <option value={{dt.vehicle}} *ngFor="let dt of vehicleList">{{dt.vehicle}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  pr-1 padding-remove">
                                    <label>Description</label>
                                    <div class="wrap-input-effects" required>
                                        <textarea id="txtDescription" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  pr-1 padding-remove">
                                    <input type="checkbox" id="chkCanRun">&nbsp;&nbsp;
                                    <label>Can run in ward</label>
                                </div>
                            </div>

                            <div class="row form-group2">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-xs" (click)="saveBreakdown();">SAVE</button>
                                        <button class="btn btn-cancel btn-xs" style="background-color:red; margin-left: 20px;" (click)="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div id="divResolution" class="col-md-6 Update2" style="display: none;">
            <div class="card card2">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5> <b>Vehicle Resolved Entry </b></h5>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body2">
                    <form>
                        <div class="form">
                            <div class="row">
                                <div class="col-md-6  pr-1 padding-remove">
                                    <label>Date</label>
                                    <div class="wrap-input-effects" required>
                                        <input type="date" id="txtResolvedDate" class="input-green" (change)="checkDate($event.target.value)" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Vehicle</label>
                                    <div class="wrap-input-effects" required>
                                        <select id="ddlResolvedVehicle" class="input-green" disabled>
                                            <option value="0">Select Vehicle</option>
                                            <option value={{dt.vehicle}} *ngFor="let dt of vehicleList">{{dt.vehicle}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label>Mechanic Name</label>
                                <div class="col-md-6  pr-1 padding-remove" *ngFor="let dt of mechanicList">
                                    <div class="wrap-input-effects" required>
                                        <input type="checkbox" id="chk{{dt.empId}}">&nbsp;&nbsp;
                                        <label>{{dt.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  pr-1 padding-remove">
                                    <label>Description</label>
                                    <div class="wrap-input-effects" required>
                                        <textarea id="txtResolvedDescription" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  pr-1 padding-remove">
                                    <label>Working Hrs</label>
                                    <div class="wrap-input-effects" required>
                                        <input type="text" id="txtWorkingHrs" class="input-green" />
                                    </div>
                                </div>
                                <div class="col-md-6  pr-1 padding-remove" style="padding-top: 47px;">
                                    <input type="checkbox" id="chkResolvedCanRun">&nbsp;&nbsp;
                                    <label>Can run in ward</label>
                                </div>
                            </div>

                            <div class="row form-group2">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-xs" (click)="saveResolvedBreakdown();">SAVE</button>
                                        <button class="btn btn-cancel btn-xs" style="background-color:red; margin-left: 20px;" (click)="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>