<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-12 no-gutters-iner">
            Surveyor Assignment
        </div>
        <div style="z-index: 99; float:right; position: absolute;">
            <span class="pos-right" style="float:right; font-size: 7px; line-height: 15px; padding-right:50px; text-align: right;">
                <span class="update-time" style="font-size: 18px; font-weight: bold;">{{houseData.lastUpdate}} </span><br/>last Update
            <br />
            </span>
            <button class="refresh" (click)="updateSurveyorSummary();"><i class="fas fa-redo-alt"></i></button>
        </div>
    </div>
</section>
<div class="main-content">
    <div class="row">
        <div class="col-md-6 card-main">
            <div class="card card-body-outer">
                <div class="card-body card-iner">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="table-wrapper table-one">
                                    <table class="table table-main">
                                        <thead>
                                            <th class="table-heading-sno">S.No.</th>
                                            <th class="table-heading-Name">Name</th>
                                            <th class="table-heading-Login">Login ID</th>
                                            <th class="table-heading-Assigned">
                                                Assigned</th>
                                            <th class="table-heading-Line">
                                                Line No.</th>
                                            <th class="table-heading-Show" class="text-right">
                                                <input id="chkAll" type="checkbox" (change)="showAll();" /> Show All
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr class="table-row" id="tr{{i}}" *ngFor="let data of assignedList; let i=index" (click)="getServeyorDetail(data.userId,i);">
                                                <td class="table-data">{{i+1}}</td>
                                                <td class="table-data">
                                                    {{data.name}}</td>
                                                <td class="table-data">
                                                    {{data.loginId}}</td>
                                                <td class="table-data">
                                                    {{data.wardNo}}</td>
                                                <td class="table-data">
                                                    {{data.lines}}</td>
                                                <td class="text-right">
                                                    <div class="showAllData">
                                                        <span [hidden]="data.isLogin=='no' || data.isActive==false">
                                                   
                                                <i class="fa-solid fa-user-lock" style="color:rgb(19, 236, 19)" (click)="updateLoginStatus(data.userId)" 
                                                title="yes">

                                                </i>
                                                </span>

                                                        <span [hidden]="data.isLogin=='yes' || data.isActive==false">
                                                   <i class="fa-solid fa-user-lock" style="color:red" (click)="updateLoginStatus(data.userId)"
                                                   title="no">

                                                   </i>
                                                </span>

                                                        <span class="Inactive-span" [hidden]="data.isActive==true">Inactive</span>
                                                        <span [hidden]="data.isActive==false">
                                                        <i class="fas fa-map-marked-alt marked-icon"
                                                            (click)="openModel(contentAssign,data.userId,'update');"
                                                            title="Edit Assignment"
                                                            ></i>
                                                        <i class="far fa-times-circle circle-icon"
                                                            (click)="openModel(contentConfirmation,data.userId,'delete')"
                                                            title="Remove Entry"
                                                            ></i>
                                                    </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="divMessage" class="col-md-12 pr-1 text-center divMessage">
                                <div class="form-group">
                                    <h5>No data available</h5>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 custom-header-main">

            <div class="card custom-header-outer">
                <div class="card-header custom-header">
                    <div class="row">
                        <div class="col text-center extra-class">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{houseData.totalDays}}</span> <br> Working Day
                                </h3>
                            </div>
                        </div>
                        <div class="col text-center extra-class">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{houseData.average}}</span> <br> Avg. Per Day
                                </h3>
                            </div>
                        </div>
                        <div class="col text-center extra-class">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{houseData.totalSurveyed}}</span> <br> Cards
                                </h3>
                            </div>
                        </div>
                        <div class="col text-center extra-class">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{houseData.totalHouses}}</span> <br> Houses
                                </h3>
                            </div>
                        </div>

                        <div class="col text-center extra-class" style="display:none;">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{houseData.totalRevisit}}</span> <br> Revisit
                                </h3>
                            </div>
                        </div>
                        <div class="col text-center extra-class" style="display:none;">
                            <div class="table-heading">
                                <h3>
                                    <span class="tbl-points"> {{houseData.totalRFID}}</span> <br> RFID not matched
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body card-body2">
                    <div class="row">

                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="table-wrapper table-scroll table-main2">
                                            <table class="table table2">
                                                <thead>
                                                    <th class="date-tableheading">Date</th>
                                                    <th class="border-right Surveyed-tableheading">Cards
                                                    </th>
                                                    <th class="border-right Surveyed-tableheading">Houses
                                                    </th>
                                                    <th class="border-right Revisit-tableheading" style="display:none;">Revisit</th>
                                                    <th class="border-right Revisit-tableheading">Complex(s)</th>
                                                    <th class="border-right RFID-tableheading" style="display: none;">RFID not matched
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of lineMarkerList; let i=index">
                                                        <td class="table-data2">
                                                            {{data.date}}</td>
                                                        <td class="border-right table-data2">
                                                            <span [hidden]="data.surveyed!=null">-</span> {{data.surveyed}}
                                                        </td>
                                                        <td class="border-right table-data2">
                                                            <span [hidden]="data.houses!=undefind">-</span> {{data.houses}}
                                                        </td>
                                                        <td class="border-right table-data2" style="display:none;">
                                                            <span [hidden]="data.revisit!=null">-</span> {{data.revisit}}
                                                        </td>
                                                        <td class="text-right table-data2">
                                                            <span [hidden]="data.complex!=0">-</span><span [hidden]="data.complex==0"> {{data.complex}} ({{data.houseHold}})</span>
                                                        </td>
                                                        <td class="border-right table-data2" style="display: none;">
                                                            <span [hidden]="data.rfid!=null">-</span> {{data.rfid}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center divMessage">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete Confirmation Start-->
<ng-template #contentConfirmation>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-header-title" id="exampleModalLongTitle">Are you sure you want to remove assignment ?</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteId" value="0" />
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success w-100 submit-btn" (click)="confirmDelete()">
                            Confirm</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger w-100 cancel-btn" (click)="closeModel()">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--Delete Confirmation End-->

<!--Assign  Start-->
<ng-template #contentAssign>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign Ward Lines</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="key" type="hidden" value="0" />
                <div class="wrap-input-effects" required>
                    <select id="ddlWard" class="input-green" (change)="getLines($event.target.value);">
                        <option value={{zone.zoneNo}} *ngFor="let zone of zoneList">
                            {{zone.zoneName}}</option>
                    </select>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-12"><label>Select Lines</label></div>
                    <div class="col-md-12">
                        <div class="checkbox-scroll">
                            <div class="row">
                                <div class="col-md-2 checkbox-div" *ngFor="let line of lineList">
                                    <input class="lineNo-checkbox" type="checkbox" id="chk{{line.lineNo}}" /> {{line.lineNo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-success submit-btn saveAssignment-btn" value="SUBMIT" (click)="saveAssignment();" />
            </div>
        </div>
    </div>
</ng-template>
<!--Assign End-->