<section class="header">
  <div class="row no-gutters">
    <div class="col-md-9">
      <button class="btn btn-primary " (click)="setDate('','previous');">
        << 
      </button>
      <input id="txtDate" class="date-input" type="date" (change)="setDate($event.target.value,'current')">
      <button class="btn btn-primary" (click)="setDate('','next');" style="margin-left: 0px!important;"> 
        >>
      </button>
      <select class="caret-select" id="ddlZone" (change)="changeZoneSelection($event.target.value)"
        [(ngModel)]="selectedZone">
        <option value="0" >
          -- Select Zone --
        </option>
        <option *ngFor="let zone of zoneList" value={{zone.zoneNo}}
          ngSelected="zone.zoneNo == selectedZone?'selected':''">
          {{zone.zoneName}}
        </option>
      </select>&nbsp;&nbsp;
      <input id="isHouse" type="checkbox" (change)="onHouseSubmit();" /><span id="showHouseLabel"> Show Houses</span>
    </div>
    
    <div id="houseCount" class="col-md-3 text-right total-house" style=" display: none;">
      
      <div class="fix-home">
        <div class="float-first" style="margin-left: 10px; margin-top: 12px;">
          <i class="fas fa-vr-cardboard" style="cursor: pointer;" (click)="showCardDetail(contentCardNotScaned);"></i> <span class="house"><span style="color: #1fda2f;">
              {{progressData.cardNotScaned}}</span></span><br>
          <h6>Card Not Scaned</h6>
        </div>
        <div class="float-second" style="margin-left: 10px; margin-top: 0px;">
          <i class="fas fa-home" ></i> <span class="house"> {{progressData.houses}}</span><br>
          <h6>Total House</h6>
        </div>
        <div class="float-third">
          <i class="fas fa-house-damage" style="cursor: pointer;" (click)="showAllMarkers();"></i> <span class="house"> {{progressData.scanedHouses}}</span><br>
          <h6>Scanned House</h6>
        </div>
      </div>
    </div>

  </div>
</section>

<div #gmap style="width:100%;height:600px;margin-top: -50px; position:absolute;" id="divMap"></div>

<!-- <div class="driver-helper-box">
  <div class="driver">
    <div class="row">
      <div class="col-4 align-self-center">
        <img [src]="progressData.driverImageUrl" class="img-fluid img-circle">
      </div>
      <div class="col-8 pl-0 align-self-center">
        <h6>{{progressData.driverName}} <br />(Driver)<br>
          <p class="mobile">{{progressData.driverMobile}}</p>
        </h6>
      </div>
    </div>
  </div>
  <div class="col-12 seprater"></div>
  <div class="driver">
    <div class="row">
      <div class="col-4 align-self-center">
        <img [src]="progressData.helperImageUrl" class="img-fluid img-circle">
      </div>
      <div class="col-8 pl-0 align-self-center">
        <h6>{{progressData.helperName}} <br />(Helper)<br>
          <p class="mobile">{{progressData.helperMobile}}</p>
        </h6>
      </div>
    </div>
  </div>  
  <div class="col-12 seprater"></div>
  <div class="driver">
    <div class="row">
      <div class="col-12 pl-0 align-self-center">
        <h6  style="margin-left: 30px;min-height: 30px;"><span style="font-weight: bold; font-size: 14px;">{{progressData.parshadName}} </span>(Parshad)
          <p class="mobile" style="margin-bottom: 0px!important;">{{progressData.parshadMobile}}</p>
        </h6>
      </div>
    </div>
  </div>
</div> -->

<div class="driver-helper-box">
  <div class="row">
    <div class="col-md-12">
      <div class="main-box">
        <div class="designation">
        <h5> D </h5>
      </div>
      <div class="all-details">
        <h6>{{progressData.driverName}} <br> 
        <p>{{progressData.driverMobile}}</p> </h6>
      </div>
      </div>
      <div class="main-box">
        <div class="designation">
        <h5> H </h5>
      </div>
      <div class="all-details">
        <h6>{{progressData.helperName}} <br> 
        <p>{{progressData.helperMobile}}</p> </h6>
      </div>
      </div>
      <div class="main-box">
        <div class="designation">
        <h5> <img src="../assets/img/sweet-home.png" width="30"> </h5>
      </div>
      <div class="all-details">
        <h6>{{progressData.parshadName}} (पार्षद)<br> 
        <p>{{progressData.parshadMobile}}</p> </h6>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="line-details-box">
  <div class="lines"> 
    <h3>{{progressData.wardLength}}<span style="font-size: 10px;font-weight: normal;"> km</span> 
      <p>Total Ward Length</p>
    </h3>
  </div>
  <div class="lines2">
    <h3>{{progressData.coveredLength}}<span style="font-size: 10px;font-weight: normal;"> km</span> 
      <p>Current Ward Length</p>
    </h3>
  </div>
  <div id="divInternal">
  <div class="lines" style="border-top: 1px dotted lightgray;">
    <h3>{{progressData.totalLines}}
      <p>Total Lines</p>
    </h3>
  </div>
  <div class="lines2" style="border-top: 1px dotted lightgray;">
    <h3>{{progressData.skippedLines}} 
      <p>Skipped Lines</p>
    </h3>
  </div>
  <div class="lines" style="border-top: 1px dotted lightgray;">
    <h3>{{progressData.completedLines}} 
      <p>Completed Lines</p>
    </h3>
  </div>
  <div class="lines2" style="border-top: 1px dotted lightgray; ">
    <h3>{{progressData.currentLine}} 
      <p>Current Lines</p>
    </h3>
  </div>
</div>
</div>


<div id="houseDetail" class="line-details-box-house">
  <div class="lines" style="border-bottom: 1px dotted lightgray;">
    <img src="../assets/img/blue-home.png">
    <h3> 
      <p>Phase 1</p>
    </h3>
  </div>
  <div class="lines2" style="border-bottom: 1px dotted lightgray; ">
    <img src="../assets/img/purple-home.png" width="17">
    <h3> 
      <p>Phase 1 (Approved)</p>
    </h3>
  </div>
  <div class="lines" style="border-bottom: 1px dotted lightgray;">
    <img src="../assets/img/red-home.png">
    <h3> 
      <p>Phase 2 </p>
    </h3>
  </div>
  <div class="lines2" style="border-bottom: 1px dotted lightgray;">
    <img src="../assets/img/yellow-home.png" width="17">
    <h3> 
      <p>Phase 2 (Approved)</p>
    </h3>
  </div>
  <div class="lines">
    <img src="../assets/img/green-home.png">
    <h3> 
      <p>Scanned</p>
    </h3>
  </div>
  <div class="lines2">
    <img src="../assets/img/sweet-home.png" width="30">
    <h3> 
      <p>Parshad House</p>
    </h3>
  </div>
</div>

 <!--Vehicle Status Start-->
 <ng-template #contentCardNotScaned>
  <div style="width: 100%;text-align: right;float: left;">

    <img src="../../../assets/img/close-grey.png" class="img-close" (click)="closeModel();">

  </div>
  <div class="modal-body" style="margin-top:-20px; ">
    <div id="divStatus" class="content-scroll">
    <div class="row">
      <div class="col-md-2" *ngFor="let dt of cardNotScanedList">
        <div style="width:100%">
          <a href="{{dt.imageUrl}}" target="_blank">
            <img [src]="dt.imageUrl" style="height:100%; width: 100%;" />
          </a>
        </div>
        <div class="main-tag">
          <div class="f-left">
            <p>Scan Time <span class="f-right"> :</span></p>   
            <h3>  {{dt.time}} </h3>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</ng-template>
<!--Vehicle Status End-->