<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-4" style="padding-left: 10px;">
            <select class="caret-select" id="ddlYear" (change)="changeYearSelection($event.target.value)" style="width: 150px;" [(ngModel)]="selectedYear">
                <option value="0">Year</option>
                <option value={{yer.year}} *ngFor="let yer of yearList"
                    ngSelected="yer.year == selectedYear?'selected':''">{{yer.year}}</option>
            </select>
            <select class="caret-select" id="ddlMonth" (change)="changeMonthSelection($event.target.value)" style="width: 150px;">
                <option value="0">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="col-md-4" style="margin-top: 10px; text-align: center;">Salary Calculation</div>
        <div class="col-md-4" style="margin-top: 0px;">
            <span style="float: right; color:#fff; text-align: center; font-size: 10px; padding-right: 20px">
            <i class="fa-solid fa-file-export" style="cursor:pointer; color:green;  font-size: 24px; " (click)="exportToExcel();"></i><br/>
            Export to Excel
           </span>
        </div>
    </div>
</section>
<section class="halts" style="padding-left: 10px;">
    <div class="container-fluid">
        <div class="row" style="margin-top: -40px;">
            <div class="col-md-12" style="padding-left: 5px;">
                <div>
                    <div class="table-bg">
                        <div id="tblDownload" class="tableFixHead">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class=" thFixed" style="z-index: 11; padding-top: 10px!important; padding-bottom: 10px!important;">
                                            Name</th>
                                        <th scope="col" class="text-left thFixed1" style="z-index: 11; padding-top: 10px!important; padding-bottom: 10px!important;">
                                            Salary</th>
                                        <th scope="col" class="text-center">01</th>
                                        <th scope="col" class="text-center">02</th>
                                        <th scope="col" class="text-center">03</th>
                                        <th scope="col" class="text-center">04</th>
                                        <th scope="col" class="text-center">05</th>
                                        <th scope="col" class="text-center">06</th>
                                        <th scope="col" class="text-center">07</th>
                                        <th scope="col" class="text-center">08</th>
                                        <th scope="col" class="text-center">09</th>
                                        <th scope="col" class="text-center">10</th>
                                        <th scope="col" class="text-center">11</th>
                                        <th scope="col" class="text-center">12</th>
                                        <th scope="col" class="text-center">13</th>
                                        <th scope="col" class="text-center">14</th>
                                        <th scope="col" class="text-center">15</th>
                                        <th scope="col" class="text-center">16</th>
                                        <th scope="col" class="text-center">17</th>
                                        <th scope="col" class="text-center">18</th>
                                        <th scope="col" class="text-center">19</th>
                                        <th scope="col" class="text-center">20</th>
                                        <th scope="col" class="text-center">21</th>
                                        <th scope="col" class="text-center">22</th>
                                        <th scope="col" class="text-center">23</th>
                                        <th scope="col" class="text-center">24</th>
                                        <th scope="col" class="text-center">25</th>
                                        <th scope="col" class="text-center">26</th>
                                        <th scope="col" class="text-center">27</th>
                                        <th scope="col" class="text-center">28</th>
                                        <th scope="col" class="text-center">29</th>
                                        <th scope="col" class="text-center">30</th>
                                        <th scope="col" class="text-center">31</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dt of salaryList">
                                        <td class=" thFixed" style="vertical-align: top;">
                                            <div class="rowWidthWard">{{dt.name}}<b> ({{dt.empCode}})</b><br/> ({{dt.designation}})
                                            </div>
                                        </td>
                                        <td class="text-left thFixed1" style="vertical-align: top; font-weight: bold;">
                                            <div class="rowWidthTime">{{dt.salary}}
                                            </div>
                                        </td>
                                        <td class=" text-right" style="vertical-align: top;">
                                            <div class="rowWidth">
                                                <div style="width:100%" *ngFor="let days of dt.day1">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}

                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary1}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day2 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}<br>
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary2}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day3 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}<br>
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary3}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day4 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}<br>
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary4}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day5 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}<br>
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary5}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day6 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}<br>
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary6}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day7 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}<br>
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary7}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day8 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}<br>
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary8}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day9 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}<br>
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary9}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day10 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary10}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day11 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary11}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day12 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary12}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day13 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary13}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day14 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary14}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day15 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary15}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day16 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary16}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day17 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary17}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day18 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary18}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day19 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary19}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day20 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary20}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day21 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary21}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day22 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary22}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day23 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary23}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day24 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary24}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day25 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary25}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day26 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary26}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day27 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary27}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day28 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary28}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day29 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary29}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day30 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary30}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right " style="vertical-align: top; ">
                                            <div class="rowWidth ">
                                                <div style="width:100% " *ngFor="let days of dt.day31 ">
                                                    {{days.ward}} ({{days.percentage}}%) | {{days.wages}}
                                                </div>
                                                <div style="width:100%; text-align: right; font-weight: bold; ">
                                                    {{dt.totalDaySalary31}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>