<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<!------------Desktop Navbar Start------------->
<section class="header">
    <div class="row no-gutters">
        <div class="main-headers hide-on-ipad"
            style="position: absolute; z-index: 999; margin-left: 45%; margin-top: 15px;">
            Create Route
        </div>
        <div class="col-md-12 col-xl-12 ipad-pl-25">
            <select class="caret-select ipad-ipt-2" id="ddlVehicle"
                (change)="changeVehicleSelection($event.target.value)">
                <option value="0">
                    --Select Vehicle--
                </option>
                <option value="RJ14GJ0404">
                    RJ14GJ0404
                </option>
                <option value="RJ14GJ0367">
                    RJ14GJ0367
                </option>
                <option value="RJ14GH9814">
                    RJ14GH9814
                </option>
                <option value="RJ14GH9806">
                    RJ14GH9806
                </option>
                <option value="MH49AT5584">
                    MH49AT5584
                </option>
            </select>
        </div>
    </div>
</section>
<!------------Desktop Navbar End------------->

<div #gmap style="width:100%;height:600px;margin-top: -50px; position:absolute;" id="divMap"></div>

<div id="divDriverDetail" class="driver-helper-box hide-on-mob">
    <div id="myBox">
        <div class="accordion">
            <div class="card">
                <div aria-labelledby="headingOne">
                    <div class="dth">
                        <div class="table-bg">
                            <div class="tableFixHead">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col"><b>Sno</b></th>
                                            <th class="text-left" scope="col" style="text-align: left!important;">
                                                <b>Wards</b>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dt of wardBoundaryList, let i=index">
                                            <td style="vertical-align: top; width: 50px;">{{i+1}}</td>
                                            <td class="text-left">{{dt.ward}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top: -10px;margin-bottom: 10px;    padding-right: 5px;">
        <div class="d-ib">
            Selected Ward
         <b><label id="lblWardNo">0</label></b> 
        </div>
        <br/>
        <div class="d-ib">
          <button class="VTS-button" (click)="saveWardRoute();" style="margin-left: 10px!important;">Save Ward Route</button>
          <button class="show-all-button" (click)="showAllRoute();" style="margin-left: 10px!important;">Show All</button>
        </div>
      </div>
</div>