<section class="header ">
  <div class="row no-gutters ">
    <div class="col-12 heading text-center">
      <div class="header-text"> Portal Access for <b>{{userDetail.name}}</b> ({{userDetail.userType}}) </div>
      
    </div>
  </div>
</section>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-top: -30px;">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="tableFixHead">
                  <table class="table" style="border-bottom: 1px solid lightgray; margin-bottom: 0rem!important;">
                    <thead>
                      <th>S.No.</th>
                      <th>Name</th>
                      <th style="text-align: right; padding-right: 215px;">
                        <div style="position: absolute; top:3px; right:4px;">
                          <i class="fas fa-city" style="margin-top: 13px;"></i>
                          <select id="ddlCity" (change)="changeCity();" style="font-size: 15px;
                          font-weight: bold;
                          line-height: 1.5;
                          color: #000000;
                          display: block;
                          background: none;
                          height: 40px;
                          border-radius: 2px;
                          padding: 0 10px 0 10px;
                          border: none;
                          float: right;">
                            <option value="sikar">Sikar</option>
                            <option value="reengus">Reengus</option>
                            <option value="jaipur">Jaipur</option>
                            <option value="demo">Demo</option>
                          </select>
                        </div>
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let usr of accessList">
                        <td class="border-left border-right" style="width:5%; vertical-align: top;">{{usr.sno}}</td>
                        <td style="width:20%; vertical-align: top;"><input type="checkbox" id="chk{{usr.pageID}}"
                            [checked]="usr.ischeck" (change)="setAccess(usr.pageID,'first')">
                          {{usr.name}}</td>
                        <td style="width:75%">
                          <table class="table border-bottom"
                            style="margin-top: -13px;margin-bottom: -13px;margin-left: 15px;">
                            <tbody>
                              <tr *ngFor="let usrSecond of usr.secondLevel">
                                <td class="border-left" style="width:25%; vertical-align: top;"><input type="checkbox"
                                    id="chk{{usrSecond.pageID}}" [checked]="usrSecond.ischeck"
                                    (change)="setAccess(usrSecond.pageID,'second')">
                                  {{usrSecond.name}}</td>
                                <td style="width:75%;">
                                  <table class="table border-bottom"
                                    style="margin-top: -13px;margin-bottom: -13px;margin-left: 15px;">
                                    <tbody>
                                      <tr *ngFor="let usrThird of usrSecond.thirdLevel">
                                        <td class="border-left"><input type="checkbox" id="chk{{usrThird.pageID}}"
                                            [checked]="usrThird.ischeck">
                                          {{usrThird.name}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-12 pr-1" style="margin-top: 20px;">
                <div class="form-group">
                  <button class="btn btn-success btn-xs" (click)="saveData();"
                    style="background-color: #19a337!important; margin-right: 13px; text-transform: uppercase;">Save</button>
                  <button class="btn btn-danger btn-xs" (click)="cancelEntry();"
                    style="cursor: pointer!important;text-transform: uppercase;">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>