<section class="header">
  <div class="row no-gutters">
    <div class="col-md-3">
      <select class="caret-select" id="ddlZone" (change)="changeZoneSelection($event.target.value)"
        [(ngModel)]="selectedZone">
        <option value="0">
          --Select Zone--
        </option>
        <option *ngFor="let zone of zoneList" value={{zone.zoneNo}}
          ngSelected="zone.zoneNo == selectedZone?'selected':''">
          {{zone.zoneName}}
        </option>
      </select>
    </div>
    <div class="col-md-3" style="padding-top: 0px; padding-left: 10px;">
      <h1 class="ward-header"> Marker Approval </h1>
    </div>

    <div class="col-md-6 text-right total-house" id="houseCount">

      <div class="fix-home">
        <div class="float-fourth" style="margin-left: 10px; margin-top: 12px;">
          <i class="far fa-clock"></i><span class="house"><span style="color: #fff;">
            {{markerData.lastScanTime}}</span></span><br>
          <h6>Last Updated Card</h6>
        </div>
        <div class="float-first" style="margin-left: 10px; margin-top: 12px;">
          <i class="fas fa-vr-cardboard"></i> <span class="house"><span style="color: #1fda2f;">
              {{markerData.alreadyCardCount}}</span></span><br>
          <h6>Already Card Count</h6>
        </div>
        <div class="float-second" style="margin-left: 10px; margin-top: 12px;">
          <i class="fas fa-check-circle"></i> <span class="house"><span style="color: #1fda2f;">
              {{markerData.approvedLines}}</span> / {{markerData.totalLines}}</span><br>
          <h6>Approved Lines</h6>
        </div>
        <div class="float-third">
          <i class="fas fa-house-damage"></i> <span class="house"> {{markerData.totalMarkers}}</span><br>
          <h6>Total Marker</h6>
        </div>
      </div>

    </div>

  </div>
</section>

<div #gmap style="width:100%;height:600px;margin-top: -50px; position:absolute;" id="divMap"></div>
<div class="house-card-box">
  <div id="divDetails" style="padding-bottom: 5px; background: #fff; border-radius: 5px;">
    <div class="row" style="padding-top: 10px; text-align: center;">
      <div class="col-md-12" style="margin-top: -10px;margin-bottom: 10px;">
        <button (click)="getNextPrevious('pre');" class="btn-hvr"
          style="background-color: #888;font-size: 12px; width:40px;  margin-right: 8px; padding: 10px 8px; color: #fff; border-radius: 5px; cursor: pointer; margin-left: 9px!important;">
          << </button>
            <input id="txtLineNo" type="text" (keyup)="getCurrentLineNo($event);" autocomplete="off"
              style="width: 105px;border: 1px solid lightgray;border-radius: 5px; padding: 8px; text-align: center; font-weight: bold;"
              value="1" />
            <button (click)="getNextPrevious('next');" class="btn-hvr"
              style="background-color: #888;font-size: 12px; padding: 10px 8px; color: #fff;width:40px;  margin-left: 8px!important;margin-right: 10px!important; border-radius: 5px; cursor: pointer;">
              >>
            </button>
            <button (click)="getLineDetail();" class="show-btn" title="Show"
              style="background-color: #888; padding: 10px; display: none; font-size: 12px;color: #fff; border-radius: 5px; cursor: pointer;width: 60px;margin-left: 0px!important">
              Show </button>
      </div>
      <div class="col-md-12 text-left ml-10">
        <span style="padding-top: 10px;font-size: 11px">
          <input type="checkbox" id="chkAll" (change)="showAllMarkers();" style="vertical-align: middle;"> Show All
          Markers</span> | <span style="padding-top: 10px;font-size: 11px; cursor: pointer;"
          (click)="showLineDetail(contentLineMarkers);">
          <i class="fas fa-eye"></i> View Detail</span>
      </div>

      <div class="col-md-6 markers" style="border-right: 1px solid lightgray;padding-left: 30px;">
        <h5> {{markerData.totalLineMarkers}} </h5>
        <p>Markers</p>
      </div>
      <div class="col-md-6 markers" style="padding-right:30px;">
        <h5> {{markerData.alreadyCardLineCount}} </h5>
        <p>Already Card</p>
      </div>


      <div class="col-md-6" style="padding-top: 10px; display: none;">
        <div class="row">
          <div class="col-md-12" style="padding-left: 15px;font-size: 12px;">
            <input id="rdoConfirm" type="radio" name="gender">&nbsp; Confirm
          </div>
          <div class="col-md-12" style="padding-top: 2px;padding-left: 3px;font-size: 12px;">
            <input id="rdoReject" type="radio" name="gender">&nbsp; Reject
          </div>
          <div class="col-md-12" style="padding-top: 10px; display: none;">
            <textarea id="txtReamrk" placeholder="Remark" style="width: 100%;"></textarea>
          </div>
        </div>
      </div>

      <div class="col-md-12 pl-5 pr-46">
        <button id="btnSave" class="btn btn-success w-100" (click)="saveData();"
          style="width:100px; background:#0ba118!important;">Approve Line</button>
      </div>
    </div>
  </div>


  <div class="image-box">
    <div id="divLoader" class="loaderClass">
      <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
    </div>
    <div class="row">
      <div class="col-md-12 house-type">
        <h3> {{markerData.houseType}}
          <br />
          {{markerData.alreadyCard}}
        </h3>
      </div>
      <div class="col-md-12">
        <div class="main-box">
          <a href="{{markerData.markerImgURL}}" target="_blank">
            <img id="markingImg" [src]="markerData.markerImgURL" style="height:165px; width: 274px;" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="driver-helper-box">
    <div class="row">
      <div class="col-md-12">

        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-house.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>आवासीय व आवासीय परिसर</p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-shop.svg" style="margin-top: -5px;"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>व्यसायिक दूकान, प्रतिष्ठान, खान-पान <br /> के स्थान,व्यावसायिक परिसर </p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation" style="margin-top: -5px;">
            <h5> <img src="../assets/img/marking-warehouse.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>लघु एवं कुटीर उद्योग, गोदाम, कोल्ड<br /> स्टोरेज </p>
            </h6>
          </div>
        </div>

        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-institute.svg" style="margin-top: -8px;"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>व्यसायिक कार्यालय, बैंक, कोचिंग आदि </p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-hotel.svg" style="height: 38px; margin-top: -4px;"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>गेस्ट हाउस, छात्रावास/हॉस्टल, होटल व <br /> रेस्ट्रोरेंट</p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-mela.svg" style="margin-top: -8px;"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>शादी हॉल/उत्सव व मेला</p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-thela.svg" style="height: 32px;margin-top: -5px;"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>फल /सब्ज़ी ठेला, व्यसायिक ठेला व थड़ी</p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-hospital.svg" style="margin-top: -9px;height: 50px;"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>क्लिनिक, डिस्पेंसरी व अस्पताल</p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button id="btnAssign" class="btn btn-success assign-button" (click)="assignUrl();"
    style="background:#0ba118!important;">Assign this ward
    <span><i class="far fa-hand-point-right"></i></span>
  </button>


  <!--Vehicle Status Start-->
  <ng-template #contentLineMarkers>
    <div style="width: 100%;text-align: right;float: left;">

      <img src="../../../assets/img/close-grey.png" class="img-close" (click)="closeModel();">

    </div>
    <div class="modal-body" style="margin-top:-20px; ">
      <div id="divStatus" class="content-scroll">
        <div class="row">
          <div class="col-md-2" *ngFor="let dt of markerList">
            <div style="width:100%">
              <a href="{{dt.imageUrl}}" target="_blank">
                <img [src]="dt.imageUrl" style="height:100%; width: 100%;" />
              </a>
            </div>
            <div class="main-tag">
              <div class="f-left">
                <h3 style="width: 100%;"> {{dt.type}} </h3><br />
                <p>Already Card <span class="f-right"> :</span></p>
                <h3> {{dt.alreadyInstalled}} </h3><br />
                <span [hidden]="dt.status==''">
                  <p>Status <span class="f-right"> :</span></p>
                  <h3> {{dt.status}} </h3>
                </span>
              </div>
            </div>

            <button class="btn btn-success" [hidden]="dt.status==''" (click)="saveMarkerStatus(dt.index);"
              style="width:45%; background:#0ba118!important;    margin-left: 0px!important; margin-bottom: 10px!important;"
              [hidden]="dt.status!=''"><i class="fas fa-times"></i> Reject</button>&nbsp;
            <button class="btn btn-danger" [hidden]="dt.status==''"
              (click)="removeMarker(dt.index,dt.alreadyInstalled);"
              style="width:45%; background:red!important;    margin-left: 0px!important; margin-bottom: 10px!important;"
              [hidden]="dt.status!=''"><i class="fas fa-times"></i> Delete</button>

          </div>
        </div>

      </div>
    </div>
  </ng-template>
  <!--Vehicle Status End-->