<section class="header">
  <div class="row no-gutters">
    <div class="col-md-2">
      <select class="caret-select" id="ddlZone" (change)="changeZoneSelection($event.target.value)"
        [(ngModel)]="selectedZone">
        <option *ngFor="let zone of zoneList" value={{zone.zoneNo}}
          ngSelected="zone.zoneNo == selectedZone?'selected':''">
          {{zone.zoneName}}
        </option>
      </select>
    </div>
    <div class="col-md-7" style="padding-top: 20px; padding-left: 30px;;">

    </div>

    <div id="houseCount" class="col-md-3 text-right total-house">
      <div>

      </div>
      <div class="fix-home">
        <div class="float-r">
          <i class="fas fa-house-damage"></i> <span class="house"> {{markerData.totalMarkers}}</span><br>
          <h6>Total Marked</h6>
        </div>
      </div>
    </div>

  </div>
</section>

<div #gmap style="width:100%;height:600px;margin-top: -50px; position:absolute;" id="divMap"></div>


<div class="house-card-box">

  <div id="divDetails" style="padding-bottom: 5px; background: #fff; border-radius: 5px;">
    <div class="div-values div-style">
      <span style="font-weight: bold;font-size: 30px; padding-right: 5px; height: 35px;"></span>
      Line Approve Status
    </div>
    <div class="row" style="padding-top: 10px; text-align: center;">
      <div class="col-md-12" style="padding-bottom: 10px;">
        <span (click)="getNextPrevious('pre');" class="btn-hvr" style="background-color: #888;font-size: 12px; padding: 10px 8px; color: #fff; border-radius: 5px; cursor: pointer;">
          << </span>
            &nbsp;&nbsp;<input id="txtLineNo" type="text" style="width: 50px;border: 1px solid lightgray;border-radius: 5px; padding: 6px; text-align: center; font-weight: bold;" value="1" />
            &nbsp;&nbsp;<span (click)="getNextPrevious('next');" class="btn-hvr" style="background-color: #888;font-size: 12px; padding: 10px 8px; color: #fff; border-radius: 5px; cursor: pointer;"> >>
            </span>
            &nbsp;&nbsp;
            <span (click)="getLineDetail();" style="background-color: #0ba118; padding: 10px; font-size: 12px;color: #fff; border-radius: 5px; cursor: pointer;"> Show </span>
      </div>
      <div class="col-md-6" style="padding-top: 10px;">
        <div class="row">
          <div class="col-md-12" style="padding-left: 15px;font-size: 12px;">
            <input id="rdoConfirm" type="radio" name="gender">&nbsp; Confirm
          </div>
          <div class="col-md-12" style="padding-top: 2px;padding-left: 3px;font-size: 12px;">
            <input id="rdoReject" type="radio" name="gender">&nbsp; Reject
          </div>
          <div class="col-md-12" style="padding-top: 10px; display: none;">
            <textarea id="txtReamrk" placeholder="Remark" style="width: 100%;"></textarea>
          </div>
        </div>
      </div>

      <div class="col-md-6" style="margin-left: -33px;">
        <button class="btn btn-success w-100" style="width: 100%;" (click)="saveData();" style="background:#0ba118!important;">Save</button>
      </div>
    </div>
  </div>


  <div class="image-box">
    <div id="divLoader" class="loaderClass">
      <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="main-box">
          <a href="{{markerData.markerImgURL}}" target="_blank">
          <img id="markingImg" [src]="markerData.markerImgURL" style="height:233px; width: 274px;" />
        </a>
        </div>
      </div>
    </div>
  </div>


  <div class="driver-helper-box">
    <div class="row">
      <div class="col-md-12">
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-house.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>आवासीय व आवासीय परिसर</p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-shop.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>व्यसायिक दूकान, प्रतिष्ठान, खान-पान <br/> के स्थान,व्यावसायिक परिसर </p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-warehouse.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>लघु एवं कुटीर उद्योग, गोदाम, कोल्ड<br/> स्टोरेज </p>
            </h6>
          </div>
        </div>

        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-institute.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>व्यसायिक कार्यालय, बैंक, कोचिंग आदि </p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-hotel.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>गेस्ट हाउस, छात्रावास/हॉस्टल, होटल व <br/> रेस्ट्रोरेंट</p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-hall.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>शादी हॉल/उत्सव व मेला</p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-thela.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>फल /सब्ज़ी ठेला, व्यसायिक ठेला व थड़ी</p>
            </h6>
          </div>
        </div>
        <div class="main-box">
          <div class="designation">
            <h5> <img src="../assets/img/marking-hospital.svg"> </h5>
          </div>
          <div class="all-details">
            <h6>
              <p>क्लिनिक, डिस्पेंसरी व अस्पताल</p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info-box">

  </div>