.header{
  height:57px ; 
  width: 100%; 
  background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%);
  color:#fff;  
  font-size: 16px;  
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
}

.caret-select{
  margin-top: -5px!important;
   margin-right:10px!important;
  border-radius: 5px;
  padding:10px;
    width: 97%;
    border: 1px solid lightgray!important;
    font-size: 12px;
  }
  .caret-select-vehicle{
    margin-top: 0px!important;
     margin-left:0px!important;
    border-radius: 5px;
    padding:10px; 
     width: 97%;
     border: 1px solid lightgray!important;
     font-size: 12px;
    }
    .user-button{
      padding: 7px 10px 10px 0px !important;
      background-color: rgb(38, 167, 6);
      border-radius: 4px;
      color:#ffffff;
      border:1px solid lightgray;
      cursor: cell;
      margin-top: 0px;
      height: 33px!important;
      font-size: 12px;
    } 
  .user-button:hover{
    background-color:#16c03b;
  } 
  .user-button .icon{
    background: #fff;
    padding: 9px 10px 9px 10px !important;
    transition: 0.5s;
    cursor: cell;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    }

    select:focus {
      outline: none !important;
      }

  input:focus {
    outline: none !important;
  }
  button:focus {
    outline: none !important;
  }
  .icon i{
    color: #26a706;
  }
  .card .card-header:not([data-background-color]) {
    background-color: #f1f1f1;
}
.card-header {
  background: #fff !important;
  padding: 15px 0px 15px 15px !important;
  box-shadow: 0px 4px 4px #0e0e0e1a;
}
  .card-body{
    padding: 0px;
    height: 76vh;
    overflow: hidden;
    overflow-y: scroll;
 }
  .data{
    padding-top: 7px;
    float: right;
    font-size: 16px;
   // font-weight: bold;
    font-family: cursive;
    color: #2c2c2c;
    margin-right: 10px;
}
  .indication{
    padding-top: 6px;
    float: right; 
  }
   .data i{
    color: #0ba118;
   font-size: 15px;
   }
  table td{
    font-size: 11px;
    padding: 12px 12px;
  }
  table th{
    font-size: 14px;
    color: #0ba118;
  }
  .table-wrapper th{
    position: sticky;
    top: 0;
    background-color: #f1f1f1 !important;
    color: #000;
    z-index: 11;
    }
    tbody{
    overflow-y: scroll;
    height: 80vh;
    }

    .fa-sync-alt{
      font-size: 12px;
      color: black;
      }
  .main-panel .main-content {
    padding: 0 15px 15px;
    min-height: calc(100vh - 123px);
    margin-top: -30px;
}
.fa-caret-left{
  font-size: 28px;
  color: #2c2c2c;
  float: right;
}

.fa-expand-showgraph {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  top: 15px;
  padding: 0px;
  font-size: 14px;
  color: #0ba118;
  border: none;
  height: 39px;
  width: 44px;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
}


  
.vehicle-list{
  position: absolute;
  z-index: 999999; 
  background-color: #fff; 
  width: 153px;
   display: none;
height: auto;
max-height: 60vh;
overflow-y: scroll;
overflow-x: hidden;
margin-left: 320px;
}

.vehicle-list ul{
  list-style: none;
}


.vehicle-list li{
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 10px;
  margin-left: -40px;
  font-size: 11px;
}


.vehicle-list li:hover{
  background-color:rgb(240, 239, 239);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent; 
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: transparent; 
  -webkit-box-shadow: transparent; 
}

:hover::-webkit-scrollbar {
  width: 8px;
}
/* Track */
:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* Handle */
:hover::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #20a120; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}