<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<!----Desktop Navbar Start----->
<section class="header">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-6 col-xl-5 pl-18 ipad-pl-40">
            <div>
                <select class="caret-select" id="ddlYear" (change)="changeYearSelection($event.target.value)"
                    style="width: 150px;" [(ngModel)]="selectedYear">
                    <option value="0">Year</option>
                    <option value={{yer.year}} *ngFor="let yer of yearList"
                        ngSelected="yer.year == selectedYear?'selected':''">{{yer.year}}</option>
                </select>
                <select class="caret-select" id="ddlMonth" (change)="changeMonthSelection($event.target.value)"
                    style="width: 150px;">
                    <option value="0">Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-4 main-headers">
            Employee Salary
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 text-right total-house pl-18">
            <div class="fix-home" style="display: none;">
                <div id="topPenality" class="float-first ml-10 mt-0">
                    <span class="house"><i class="fas fa-rupee-sign" style="color:green"></i>
                        {{salaryDetail.totalSalary}}</span><br>
                    <h6>Total Salary</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!----Desktop Navbar End----->


<div class="main-content">
    <div class="row main-row">
        <div class="col-md-12 col-lg-12 col-xl-12 pl-0 pr-6 pad-mob-b-10 pad-pr-0" style="padding-right:10px;">
            <div class="card" style="margin-top:-6px;  height: 87vh!important">
                <div class="card-header custom-header">
                    <div class="row align">
                        <div class="col-md-12 text-left" style="padding-right:0px!important;">
                            <div class="row">
                                <div class="col-md-12 text-left p-r ml-20" style="padding-left: 20px!important;">
                                    <select class="filter-select filter-input" id="ddlDesignation"
                                        (change)="filterData()">
                                        <option value="all">
                                            All Roles
                                        </option>
                                        <option *ngFor="let dt of designationList" value={{dt.designation}}>
                                            {{dt.designation}}
                                        </option>
                                    </select>

                                    <select class="filter-select filter-input" id="ddlUser" (change)="filterData()">
                                        <option value="all">
                                            All Employee
                                        </option>
                                        <option selected value="active">
                                            Active
                                        </option>
                                        <option value="inactive">
                                            In-active
                                        </option>
                                    </select>



                                    <span style="float: right; margin-bottom: -10px;" class="main-box">
                                        <div class="outer">
                                            <span style="text-align: center;">
                                                <label style="padding: 7px 0px;
                                           margin-left: 30px;" class="hover-shadow">
                                                    <i class="fas fa-download"
                                                        style="color: green; font-size: 26px; cursor: pointer; "
                                                        (click)="downloadSalary();"></i><br />
                                                    Download Salary</label>
                                                &nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        </div>
                                        <div class="outer">
                                            <span style="text-align: center;">
                                                <label for="fileUpload" style="padding: 7px 0px;margin-left: 30px;
                                           " class="hover-shadow">
                                                    <i class="fas fa-upload"
                                                        style="color: green; font-size: 26px; cursor: pointer; "></i><br />
                                                    Upload updated salary
                                                </label>
                                                <input id="fileUpload" type="file" name="file" class="file-upload-field"
                                                    style="display: none;" placeholder="" value=""
                                                    (change)="uploadSalary()">
                                                &nbsp; &nbsp; &nbsp; &nbsp;
                                            </span>
                                        </div>
                                        <div class="outer">
                                            <span style="text-align: center;">
                                                <label style="padding: 7px 0px;margin-left: 30px;padding-right: 23px;">
                                                    <i class="fas fa-download"
                                                        style="color: green; font-size: 26px; cursor: pointer; "
                                                        (click)="updateAccountDetail();"></i><br />
                                                    Download for NEFT</label></span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="padding-left:0px!important;">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div id="divList" class="table-wrapper table-one">
                                    <table id="tblPenalty" class="table table-line">
                                        <thead>
                                            <th class="br-1 td-1" style="border:none!important;">Name</th>
                                            <th class="text-left br-1" style="border:none!important;">
                                                Role</th>
                                            <th class="text-right br-1" style="border:none!important;">
                                                Salary</th>
                                            <th class="text-right br-1" style="border:none!important;">
                                                Reward</th>
                                            <th class="text-right br-1" style="border:none!important;">
                                                Penalty</th>
                                            <th class="text-right br-1" style="border:none!important;">
                                                Final Salary</th>
                                            <th class="text-right br-1" style="border:none!important;">
                                                Uploaded Salary</th>
                                            <th class="text-right br-1" style="border:none!important;">
                                                Transfered</th>
                                            <th class="text-right br-1" style="border:none!important;">
                                                <input type="checkbox" id="chkAll" (change)="checkAll()">
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr id="tr{{i}}" *ngFor="let data of salaryList; let i=index">
                                                <td class="td-1" style="width:12%; border-right:1px solid #dee2e6">
                                                    <i class="fas fa-circle" style="color:red"
                                                        [hidden]="data.status==1"></i>
                                                    {{data.name}} <b> ({{data.empCode}})</b>
                                                </td>
                                                <td class="text-left br-1">
                                                    {{data.designation}}</td>
                                                <td class="text-right br-1">
                                                    {{data.totalAmount}}</td>
                                                <td class="text-right br-1">
                                                    {{data.rewardAmount}}</td>
                                                <td class="text-right br-1">
                                                    {{data.penaltyAmount}}</td>
                                                <td class="text-right br-1">
                                                    {{data.finalAmount}} </td>
                                                <td class="text-right br-1">
                                                    {{data.uploadedSalary}} </td>
                                                <td class="text-right br-1">
                                                    {{data.transfered}} </td>
                                                <td class="text-right br-1">
                                                    <input id="chk{{data.empId}}" type="checkbox"
                                                        [disabled]="data.uploadedSalary==0"
                                                        [hidden]="data.isShow==1  || data.hold==1">
                                                    <i class="fas fa-exclamation-circle"
                                                        style="color: red; cursor: pointer;" [hidden]="data.isShow!=1"
                                                        (click)="openModel(contentShowRemarks,data.empId);"></i>
                                                    <i class="far fa-hand-paper" style="color:blue"
                                                        [hidden]="data.hold==0"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="divMessage" class="col-md-12 pr-1 text-center"
                                        style="padding-top: 20vh; display: none;">
                                        <div class="form-group">
                                            <h5>No data available</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--employee  Start-->
<ng-template #contentShowRemarks>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Remark</h5>
                <button type="button" class="close" (click)="closeModel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="wrap-input-effects" style="font-size: 16px; min-height: 120px;">
                    {{salaryDetail.remark}}<br />
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--employee End-->