<section class="change-psd">
    <div class="container">
    <div class="row">
        <div class="col-md-12 psd-box">
                <div class="login100-form validate-form">
                        <h3 class="login100-form-title text-center">
                            Change Password
                        </h3>
        
                        <div class="wrap-input-effects " data-validate="Valid email is required: ex@abc.xyz" required>
                            <input class="input-green" type="text" name="email " placeholder="Old Password" id="">
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                                <i class="fas fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        
                    <div class="row no-gutters">
                            <div class="col-10">
                            <div  class="wrap-input-effects " data-validate = "Password is required" required>
                            <input class="input-greens" type="password" name="pass " placeholder="New Password" id="" >
                            
                            
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                            </span>
                          </div> </div>
                            
                            <div class="col-2 text-center icon" >
                            
                            <i id="pass-status" class="fas fa-eye" aria-hidden="true" onClick="viewPassword()"></i>
                            </div> 
                            
                            </div>
                            <div class="row no-gutters">
                                    <div class="col-10">
                                    <div  class="wrap-input-effects " data-validate = "Password is required" required>
                                    <input class="input-greens" type="password" name="pass " placeholder="Confirm Password" id="" >
                                    
                                    
                                    <span class="focus-input"></span>
                                    <span class="symbol-input">
                                    <i class="fas fa-lock" aria-hidden="true"></i>
                                    </span>
                                  </div> </div>
                                    
                                    <div class="col-2 text-center icon" >
                                    
                                    <i id="pass-status" class="fas fa-eye" aria-hidden="true" onClick="viewPassword()"></i>
                                    </div> 
                                    
                                    </div>
                            
                        <div class="login-btn">
                            <button class="login hvr-shutter-in-horizontal" >Submit</button>
                        </div>
                    </div>
        </div>

    </div>
</div>
</section>