<section class="change-psd">
    <div class="container">
        <div class="row">
            <div class="col-md-12 psd-box">
                <div class="login100-form validate-form">
                    <h3 class="login100-form-title text-center">
                        Change Password
                    </h3>

                    <div class="wrap-input-effects " required>
                        <input id="txtOldPassword" class="input-green" type="password" name="password " placeholder="Old Password" >
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input-effects " required>
                        <input id="txtNewPassword" class="input-green" type="password" name="password " placeholder="New Password" >
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input-effects " required>
                        <input id="txtConfirmPassword" class="input-green" type="password" name="password " placeholder="Re-type Password" >
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>


                    <div class="login-btn">
                        <button class="login hvr-shutter-in-horizontal" (click)="changePassword();">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>