<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<!------------Desktop Navbar Start------------->
<section class="header">
    <div class="row no-gutters">
        <div class="main-headers hide-on-ipad"
            style="position: absolute; z-index: 999; margin-left: 45%; margin-top: 15px;">
            Create Route

        </div>
        <div style="z-index: 9999; position: absolute; right: 0px; font-size: 10px; text-align: center; padding-top: 5px; padding-right: 16px; cursor: pointer;"
            (click)="openModel(contentCreateRoute)"><i class="fas fa-plus" style="color:#0ba118; font-size: 32px;"></i>
            <br />
            Create Route
        </div>
        <div class="col-md-12 col-xl-12 ipad-pl-25">
            <select class="caret-select ipad-ipt-1" id="ddlZone" style="width: 150px;"
                (change)="changeZoneSelection($event.target.value)">
                <option value="0">
                    --Select Zone--
                </option>
                <option *ngFor="let zone of zoneList" value={{zone.zoneName}}>
                    {{zone.zoneName}}
                </option>
            </select>
            <select class="caret-select ipad-ipt-2" id="ddlWard" (change)="changeWardSelection($event.target.value)">
                <option value="0">
                    --Select--
                </option>
                <option *ngFor="let ward of wardList" value={{ward.wardNo}}>
                    {{ward.wardName}}
                </option>
            </select>

        </div>
    </div>
</section>
<!------------Desktop Navbar End------------->

<div #gmap style="width:100%;height:600px;margin-top: -50px; position:absolute;" id="divMap"></div>

<div id="divDriverDetail" class="driver-helper-box hide-on-mob">
    <div class="col-md-12" style="margin-top: 10px;margin-bottom: 10px;    padding-right: 5px;">
        <label id="lblSelectedRoute" style="display:none;"></label>
        <div class="dth">
            <div class="table-bg">
                <div class="tableFixHead">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-left" scope="col" style="text-align: left!important;">
                                    <b>Routes</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dt of routeList, let i=index">
                                <td class="text-left">
                                    <input type="radio" id="chkRoute{{i}}" (change)="getRouteSelect(i);"
                                        [checked]="dt.isShow==1">
                                    {{dt.routeName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #contentCreateRoute>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 14px; font-weight: bold;">
                    Enter Route Name</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="txtRouteName" type="text" class="date-input" style="width: 100%!important;"
                            placeholder="Route Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success w-100 submit-btn" style="margin-left: 5px;"
                            (click)="createRoute()">
                            Create Route</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger w-100 cancel-btn" style="margin-left: -6px;"
                            (click)="closeModel()">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>