<div id="divLoader" class="loaderClass">
    <img src="../../../assets/img/loading.gif" width="50" class="imgLoader">
</div>
<section class="halt-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 halt-header pl-0 pr-0">
                <!------------- Header Start ---------->
                <div class="row">
                    <div class="col-md-5 text-left" style="margin-top: 5.5px;margin-left: 10px;">
                        <select class="caret-select" id="ddlYear" (change)="changeYearSelection($event.target.value)"
                            style="width: 150px;" [(ngModel)]="selectedYear">
                            <option value="0">Year</option>
                            <option value={{yer.year}} *ngFor="let yer of yearList"
                                ngSelected="yer.year == selectedYear?'selected':''">{{yer.year}}</option>
                        </select>
                        <select class="caret-select" id="ddlMonth" (change)="changeMonthSelection($event.target.value)"
                            style="width: 150px;">
                            <option value="0">Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="col-md-4 text-left">
                        <h5 class="hide">Page Load History</h5>
                    </div>

                    <div class="field-box" hidden>
                        <div class="refresh" style="text-align: right!important; padding-right: 10px;">
                            <h1><i class="fas fa-sync-alt" style="color:#57e663"></i>
                                <p>Last Update {{lastUpdateDate}}</p>
                            </h1>
                        </div>
                    </div>
                </div>
                <!------------- Header End ---------->
                <div class="row" style="margin-top: 8px;">
                    <!------------- Halt Scroll List Start ---------->
                    <div class="col-md-3 mob-space-25" style="padding-left: 30px; padding-right: 10px;">
                        <div class="scrollable-halt">
                            <div class="halt-bg" style="height: calc(100vh - 150px);">
                                <div class="dth">
                                    <div id="divMainPage{{i}}"
                                        style="width:100%; text-align: left; padding: 10px;cursor: pointer; border-bottom: 1px solid lightgray;"
                                        *ngFor="let data of mainPageList, let i=index"
                                        (click)="getPageHistory(data.mainPage,i)">
                                        {{data.mainPage}} <i class="fa-solid fa-arrow-right"
                                            style="float: right; color: green;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------------- Halt Scroll List End ---------->
                    <div class="col-md-3 mob-space-25" style="padding-left: 30px; padding-right: 10px;">
                        <div class="scrollable-halt">
                            <div class="halt-bg" style="height: calc(100vh - 150px);">
                                <div class="dth">
                                    <div class="text-left"
                                        style="width:100%; padding: 10px; cursor: pointer; border-bottom: 1px solid lightgray;"
                                        *ngFor="let data of pageList, let i=index"
                                        (click)="getPageDateHistory(data.mainPage,data.page)">
                                        {{data.page}} <span style="float: right;margin-right: 10px;">{{data.pageCount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mob-space-25" style="padding-left: 30px; padding-right: 10px;">
                        <div class="scrollable-halt">
                            <div class="halt-bg" style="height: calc(100vh - 150px);">
                                <div class="dth">
                                    <div class="text-left"
                                        style="width:100%; padding: 10px;cursor: pointer; border-bottom: 1px solid lightgray;"
                                        *ngFor="let data of dateList, let i=index" (click)="getUserList(data.date)">
                                        {{data.date}} <span style="float: right;">{{data.totalCount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mob-space-25" style="padding-left: 30px; padding-right: 10px;">
                        <div class="scrollable-halt">
                            <div class="halt-bg" style="height: calc(100vh - 150px);">
                                <div class="dth">
                                    <div class="text-left"
                                        style="width:100%; padding: 10px;border-bottom: 1px solid lightgray;"
                                        *ngFor="let data of userList, let i=index">
                                        {{data.name}} <span style="float: right;">{{data.count}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>