<section class="header">
  <div class="row no-gutters">
    <div class="col-md-4" style="padding-left: 31px; margin-top: -4px;">
      <button type="button" class="user-button" style="cursor: cell;" (click)="openModel(contentTask,'0','task')">
        <span class="text-bg"><span class="icon"><i class="fas fa-plus"></i></span> &nbsp; ADD NEW</span></button>
      &nbsp;&nbsp;
      <button type="button" class="user-button" style="cursor:pointer;"
        (click)="openModel(contentSummary,'0','summary')">
        <span class="text-bg">&nbsp;&nbsp;Summary</span></button>
    </div>
    <div class="col-md-4" style="text-align:center; margin-top: -2px; font-size: 20px; letter-spacing: 1px;">
      Task Manager
    </div>
    <div class="col-md-4"></div>
  </div>
</section>
<div class="main-content">
  <div class="row">
    <div class="col-md-12" style="padding-left: 0px;padding-right:0px;">
      <div class="card" style="margin-top:-10px; ">
        <div class="card-header">
          <select class="caret-select" id="ddlYear" (change)="getTaskList()" style="width: 150px;"
            [(ngModel)]="selectedYear">
            <option value="0">Year</option>
            <option value={{yer.year}} *ngFor="let yer of yearList" ngSelected="yer.year == selectedYear?'selected':''">
              {{yer.year}}</option>
          </select>
          <select class="caret-select" id="ddlMonth" (change)="getTaskList()" style="width: 150px;">
            <option value="0">Month</option>
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select class="caret-select" id="ddlUsers" (change)="getTaskList()" style="width: 150px;">
            <option value="0">All Users</option>
            <option value={{user.empID}} *ngFor="let user of userList">
              {{user.name}}</option>
          </select>
          <select class="caret-select" id="ddlCategory" (change)="getTaskList()" style="width: 150px; display: none;">
            <option value="0">All Projects</option>
            <option value={{proj.project}} *ngFor="let proj of projectList">
              {{proj.project}}</option>
          </select>
          &nbsp;
          <input id="txtDate" class="caret-select-vehicle custom-date-input" type="date" (change)="getTaskList();"
            style="height: 38px; width: 150px; padding-left: 10px; margin-right: 8px;" />
          <button class="fa-expand-showgraph" (click)="resetAllFilter();" title="Reset All Filter"><i
              class="fas fa-sync-alt"></i></button>
          <span class="indication"><i class="fas fa-caret-left"></i></span>
          <span class="data"> <i class="far fa-clock"></i> {{taskData.totalMinutes}} min
          </span>

        </div>
        <div class="card-body">
          
          <form>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="table-wrapper">
                  <table class="table ">
                    <thead>
                      <th style="border-right:1px solid #dee2e6">S.No.</th>
                      <th id="showName"  style="border-right:1px solid #dee2e6">Name</th>
                      <th style="border-right:1px solid #dee2e6">Date</th>
                      <th style="border-right:1px solid #dee2e6">Time</th>
                      <th style="border-right:1px solid #dee2e6">Category</th>
                      <th style="border-right:1px solid #dee2e6">Module</th>
                      <th style="border-right:1px solid #dee2e6">Task</th>
                      <th style="border-right:1px solid #dee2e6">Task Description</th>
                      <th style="padding-right: 20px;">Action</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of userTaskList;let i=index">
                        <td style="border-right:1px solid #dee2e6; width:5%;">{{i+1}} </td>
                        <td style="border-right:1px solid #dee2e6; width:10%;" [hidden]="data.isNameShow==0">
                          {{data.name}}</td>
                        <td style="border-right:1px solid #dee2e6; width:8%;">
                          {{data.date}}</td>
                        <td class="text-right" style="border-right:1px solid #dee2e6; width:5%;">
                          {{data.timeInMinutes}} min</td>
                        <td style="border-right:1px solid #dee2e6; width:10%;">
                          {{data.category}}</td>
                        <td style="border-right:1px solid #dee2e6; width:10%;">
                          {{data.project}}</td>
                        <td style="border-right:1px solid #dee2e6; width:10%;">
                          {{data.task}}</td>
                        <td style="border-right:1px solid #dee2e6; width:24%">{{data.description}}</td>
                        <td class="text-center" style="padding-right: 20px;width:8%">
                          <span [hidden]="data.date!=data.todayDate">
                            <i class="far fa-file-alt" (click)="openModel(contentStatus,data.key,'status')"
                              title="Task Status"
                              style="cursor:pointer !important; font-size: 14px;color: rgb(65, 225, 118);"
                              [hidden]="data.userId!=data.createdBy"></i>&nbsp;&nbsp;
                            <i class="far fa-edit" (click)="openModel(contentTask,data.key,'task')" title="Edit Entry"
                              style="cursor:pointer !important; font-size: 14px;color: royalblue;"
                              [hidden]="data.userId!=data.createdBy"></i>&nbsp;&nbsp;
                            <i class="far fa-trash-alt" title="Remove Entry" (click)="delete(data.key)"
                              style="cursor:pointer !important; font-size: 14px;color: red;"
                              [hidden]="data.userId!=data.createdBy"></i>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="divMessage" class="col-md-12 pr-1 text-center" style="padding-top: 20vh; display: none;">
                <div class="form-group">
                  <h5>No data available on Selected Date</h5>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Tasks  Start-->
<ng-template #contentTask>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Task</h5>
        <button type="button" class="close" (click)="closeModel();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="key" type="hidden" value="0" />
        <input id="status" type="hidden" value="In Progress" />
        <input id="remark" type="hidden" value="" />
        <div class="wrap-input-effects" required>
          <select id="drpFor" class="input-green" (change)="getProjects($event.target.value);">
            <option value="0">Select Task For</option>
            <option value={{main.mainCat}} *ngFor="let main of mainList">
              {{main.mainCat}}</option>
          </select>
          <span class="focus-input"></span>
          <span class="symbol-input">
            <i class="fas fa-tasks" aria-hidden="true"></i>
          </span>
        </div>
        <div class="wrap-input-effects" required>
          <select id="drpProject" class="input-green" (change)="getTask($event.target.value);">
            <option value="0">Select Project</option>
            <option value={{proj.project}} *ngFor="let proj of projectList">
              {{proj.project}}</option>
          </select>
          <span class="focus-input"></span>
          <span class="symbol-input">
            <i class="fas fa-tasks" aria-hidden="true"></i>
          </span>
        </div>
        <div class="wrap-input-effects" required>
          <select id="drpTask" class="input-green">
            <option value="0">Select Task</option>
            <option value={{task.task}} *ngFor="let task of taskList">
              {{task.task}}</option>
          </select>
          <span class="focus-input"></span>
          <span class="symbol-input">
            <i class="fas fa-tasks" aria-hidden="true"></i>
          </span>
        </div>
        <div class="wrap-input-effects" required>
          <select id="drpCategory" class="input-green">
            <option value="0">Select Category</option>
            <option value={{cat.category}} *ngFor="let cat of categoryList">
              {{cat.category}}</option>
          </select>
          <span class="focus-input"></span>
          <span class="symbol-input">
            <i class="fas fa-tasks" aria-hidden="true"></i>
          </span>
        </div>
        <div class="wrap-input-effects" required>
          <b> Estimate Time</b>
          <input id="estmateTime" type="number" class="input-green"
            style="width: 200px; float: right; margin-bottom: 10px;" />
          <span class="focus-input-time"></span>
          <span class="symbol-input-time">
            <i class="far fa-clock" aria-hidden="true"></i>
          </span>
        </div>
        <textarea id="txtDescription" placeholder="Task description" style="height: 140px!important;"></textarea>
        <input type="button" class="btn btn-success" style="width: 100%;" value="SUBMIT" (click)="saveTask();" />
      </div>
    </div>
  </div>
</ng-template>
<!--Tasks End-->

<!--Tasks Status  Start-->
<ng-template #contentStatus>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Task Status</h5>
        <button type="button" class="close" (click)="closeModel();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="key" type="hidden" value="0" />
        <div class="wrap-input-effects" required>
          <select id="drpStatus" class="input-green">
            <option value="0">Select Status</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
          </select>
          <span class="focus-input"></span>
          <span class="symbol-input">
            <i class="fas fa-tasks" aria-hidden="true"></i>
          </span>
        </div>
        <textarea id="txtRemark" placeholder="Task status remark" style="height: 140px!important;"></textarea>
        <input type="button" class="btn btn-success" style="width: 100%;" value="SUBMIT" (click)="saveTaskStatus();" />
      </div>
    </div>
  </div>
</ng-template>
<!--Tasks Status End-->


<!--Tasks  Start-->
<ng-template #contentSummary>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Summary</h5>
        <button type="button" class="close" (click)="closeModel();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="key" type="hidden" value="0" />
        <table style="width:100%">
          <tr>
            <td>

              <select class="caret-select" id="ddlYearSummary" (change)="getSummary()" style="width: 161px;">
                <option value="0">Year</option>
                <option value={{yer.year}} *ngFor="let yer of yearList">
                  {{yer.year}}</option>
              </select>

              <select class="caret-select" id="ddlMonthSummary" (change)="getSummary()" style="width: 161px;">
                <option value="0">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <select class="caret-select" id="ddlCategorySummary" (change)="getSummary()" style="width: 150px; display: none;">
                <option value="0">All</option>
                <option value={{proj.project}} *ngFor="let proj of projectList">
                  {{proj.project}}</option>
              </select>
            </td>
          </tr>
        </table>
        <div *ngFor="let proj of summaryList">
          <div
            style="width:70%; float: left;background-color: gray; line-height: 40px; padding-left: 10px; color:#fff;">
            {{proj.project}}</div>
          <div
            style="width:30%; float: right;background-color: gray; line-height: 40px; padding-left: 10px; color:#fff;padding-right: 10px; text-align: right;">
            {{proj.min}} min</div>
          <div *ngFor="let task of proj.taskList" style="width:100%">
            <div style="width:70%; float: left;background-color: lightgray; line-height: 40px; padding-left: 10px;">
              {{task.task}}</div>
            <div
              style="width:30%; float: right;background-color: lightgray; line-height: 40px; padding-left: 10px; padding-right: 10px; text-align: right;">
              {{task.min}} min</div>
            <div *ngFor="let category of task.categoryList" style="width:100%">
              <div style="width:70%; float: left; line-height: 40px; padding-left: 10px;"> {{category.category}}</div>
              <div
                style="width:30%; float: right; line-height: 40px; padding-left: 10px; padding-right: 10px; text-align: right;">
                {{category.min}} min</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--Tasks End-->