<section class="more-pages">
  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-md-12 center">
        <div class="absolute">
        <div class="half-circle">
          <div class="welcome-text">
            <h3>WELCOME TO <br>
             <span class="highlight-text"> WeVOIS</span>
            </h3>
          </div>
        </div>
        </div>
      </div>
     </div> -->

    <div class="row more-pages-header">
      <div class="col-md-12">
        <span id="pageNameMobile"> </span>&nbsp;<span class="imp-text"> </span>
      </div>
    </div>
    <div class="height-mob">
      <div class="row mob-responsive">
        <div id="divMob1" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob1" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob1">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob2" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob2" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob2">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob3" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob3" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob3">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob4" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob4" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob4">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob5" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob5" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob5">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob6" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob6" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob6">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob7" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob7" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob7">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob8" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob8" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob8">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob9" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob9" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob9">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob10" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob10" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob10">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob11" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob11" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob11">asfsf</h3>
            </div>
          </div>
        </div>
        <div id="divMob12" class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;">
          <div  class="more-cards rainbow" >
            <div class="vertical">
              <i id="iconMob12" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="spanMob12">asfsf</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center home-footer">
      Copyright by <b
        style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">WeVOIS</b>
      &nbsp; <a href="https://www.facebook.com/wevois/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      &nbsp; <a href="https://twitter.com/wevois?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
      &nbsp; <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank"><i
          class="fab fa-linkedin-in"></i></a>
      &nbsp; <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</section>

<section class="d-page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 center">
        <div class="absolute">
          <div class="half-circle">
            <div class="welcome-text">
              <h3>WELCOME TO <br>
                <span class="highlight-text"> WeVOIS</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row more-pages-header">
      <div class="col-md-12">
        <span id="pageName"> </span>&nbsp;<span  class="imp-text"> </span>
      </div>
    </div>

    <div class="height-mob">
      <div class="row mob-responsive"
        style="display: flex; justify-content: center;padding-left: 8px; padding-right: 8px;">
        <div id="div1" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon1" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span1">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div2" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon2" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span2">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div3" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon3" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span3">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div4" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon4" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span4">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div5" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon5" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span5">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div6" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon6" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span6">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div7" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon7" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span7">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div8" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon8" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span8">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div9" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon9" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span9">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div10" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon10" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span10">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div11" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon11" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span11">abcd</h3>
            </div>
          </div>
        </div>
        <div id="div12" class="col-md-2 mt-15">
          <div class="more-cards rainbow" >
            <div class="vertical">
              <i id="icon12" class="bbb" style="font-weight: bold;"></i> <br>
              <h3 id="span12">abcd</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center home-footer">
        Copyright by <b
          style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">WeVOIS</b>
        &nbsp; <a href="https://www.facebook.com/wevois/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        &nbsp; <a href="https://twitter.com/wevois?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
        &nbsp; <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
        &nbsp; <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank"><i class="fab fa-instagram"
            style="color: green;"></i></a>
      </div>
    </div>

  </div>
</section>