
<section class="more-pages" style="position: relative;">
  <div class="container-fluid">
    <div class="row more-pages-header">
      <div class="col-md-12">
        <span id="pageName">  </span> &nbsp; <span class="imp-text">Section</span>
      </div>
    </div>
    <div class="row mt-15" style="display: flex;">
      <div id="div6" class="col" style="padding-right: 8px;display: flex; justify-content: center; margin-top: 55vh;">
        <div id="divCircle6" class="circle-box4 rainbow4" style=" margin-left: 130px; margin-top: -45px; ">
          <h3><i id="icon6" style="font-weight: bold;" class="now-ui-icons design_app"></i> <br/><br/>
            <span id="span6"> Link 6 </span> </h3>
        </div>
        <div id="divLine6" class="line1">
          <img  id="img6" src="../../assets/img/line-img.png"  alt="">
        </div>
      </div>
      <div id="div4" class="col" style="padding-right: 8px; display: flex; justify-content: center;">
        <div id="divCircle4" class="circle-box4 rainbow4" style="margin-left: -70px;">
          <h3><i id="icon4" style="font-weight: bold;" class="now-ui-icons shopping_delivery-fast"></i> <br/><br/>
            <span id="span4"> Link 4 </span></h3>
        </div>
        <div id="divLine4" class="line2">
          <img id="img4" src="../../assets/img/line-img.png" alt="" >
        </div>
      </div>
      <div id="div2" class="col" style="display: flex; justify-content: center;">
        <div id="divCircle2" class="circle-box4 rainbow4" style="margin-right: 12px; margin-left: -50px;">
          <h3><i id="icon2" style="font-weight: bold;" class="now-ui-icons design_app"></i> <br/><br/>
            <span id="span2"> Link 2 </span></h3>
        </div>
        <div id="divLine2" class="linecenter">
          <img src="../../assets/img/line-img.png" alt="">
        </div>
      </div>
      <div id="div1" class="col" style="padding-right: 8px; display: flex; justify-content: center; margin-top: 0vh;">
        <div id="divCircle1" class="circle-box4 rainbow4" style="margin-right: 15px;">
          <h3><i id="icon1" style="font-weight: bold;" class="now-ui-icons design_app"></i> <br/><br/>
           <span id="span1"> Vehicle Petrol Cost Report </span></h3>
        </div>
        <div id="divLine1" class="linecenter3">
          <img src="../../assets/img/line-img.png" alt="">
        </div>
      </div>
      <div id="div3" class="col" style="padding-right: 8px; display: flex; justify-content: center;">
        <div id="divCircle3" class="circle-box4 rainbow4" style="margin-left: 30px;">
          <h3><i id="icon3" style="font-weight: bold;" class="now-ui-icons design_app"></i> <br/><br/>
            <span id="span3">  Link 3 </span></h3>
        </div>
        <div id="divLine3" class="linecenter2">
          <img src="../../assets/img/line-img.png" alt="">
        </div>
      </div>

      <div id="div5"  class="col" style="padding-right: 8px; display: flex; justify-content: center;">
        <div id="divCircle5" class="circle-box4 rainbow4" style="margin-right: -70px;">
          <h3><i id="icon5" style="font-weight: bold;" class="now-ui-icons design_app"></i> <br/><br/>
            <span id="span5">  Link 5 </span></h3>
        </div>
        <div id="divLine5" class="line7">
          <img id="img5" src="../../assets/img/line-img.png" alt="">
        </div>
      </div>
      <div id="div7" class="col" style=" display: flex; justify-content: center;">
        <div id="divCircle7" class="circle-box4 rainbow4" style=" margin-right: 130px;">
          <h3><i id="icon7" style="font-weight: bold;" class="now-ui-icons shopping_delivery-fast"></i> <br/><br/>
            <span id="span7">Link 7 </span></h3>
        </div>
        <div id="divLine7" class="line8">
          <img id="img7" src="../../assets/img/line-img.png"  alt="">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-4 f-height text-center fix-image">
        <div class="footer-content-fix">
          <img src="../../assets/img/logo-image.svg" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center home-footer">
        Copyright by <b
          style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">WeVOIS</b>
        &nbsp; <a href="https://www.facebook.com/wevois/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        &nbsp; <a href="https://twitter.com/wevois?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
        &nbsp; <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
        &nbsp; <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank"><i class="fab fa-instagram"
            style="color: green;"></i></a>
      </div>
    </div>

  </div>
</section>


<!--
<section class="more-pages">
  <div class="container-fluid">
    <div class="row more-pages-header">
      <div class="col-md-12">
        {{pageDetail.name}} <span class="imp-text">Section</span>
      </div>
    </div>
    <div class="row mt-15" style="display: flex;">
      <div class="col" style="padding-right: 8px;display: flex; justify-content: center; margin-top: 55vh;">
        <div id="div7" class="circle-box rainbow" style=" margin-left: 150px; margin-top: -25px;display: none; ">
          <h3><i id="icon7" style="font-weight: bold;" class="now-ui-icons design_app"></i> <br>
          <span id="span7">  Dashboard </span></h3>
        </div>
        <div id="line7" class="line1" style="display: none;">
          <img src="../../assets/img/pages1.svg" class="w-100" alt="">
        </div>
      </div>
      <div class="col" style="padding-right: 8px; display: flex; justify-content: center; margin-top: 23vh;">
        <div id="div5" class="circle-box rainbow" style="display: none;">
          <h3><i id="icon5" style="font-weight: bold;" class="now-ui-icons shopping_delivery-fast"></i> <br>
           <span id="span5"> Vehicle Monitoring </span></h3>
        </div>
        <div id="line5" class="line2" style="display: none;">
          <img src="../../assets/img/pages1.svg" alt="">
        </div>
      </div>
      <div class="col" style="padding-right: 8px; display: flex; justify-content: center; margin-top: 10vh;">
        <div id="div3" class="circle-box rainbow" style="margin-right: 18px;display: none;">
          <h3><i id="icon3" style="font-weight: bold;" class="now-ui-icons tech_watch-time"></i> <br>
            <span id="span3">  Realtime Monitoring </span></h3>
        </div>
        <div id="line3" class="line3" style="display: none;">
          <img src="../../assets/img/pages1.svg" alt="">
        </div>
      </div>
      <div class="col" style="padding-right: 8px; display: flex; justify-content: center; margin-top: 0vh;">
        <div id="div1" class="circle-box rainbow" style="margin-right: 12px;display: none;">
          <h3><i id="icon1" style="font-weight: bold;" class="now-ui-icons design_app"></i> <br>
           <span id="span1"> Dashboard </span></h3>
        </div>
        <div id="line1" class="line4" style="display: none;">
          <img src="../../assets/img/line-img.png" alt="">
        </div>
      </div>
      <div class="col" style="padding-right: 8px; display: flex; justify-content: center; margin-top: 0vh;">
        <div id="div2" class="circle-box rainbow" style="margin-left: 12px;display: none;">
          <h3><i id="icon2" style="font-weight: bold;" class="now-ui-icons shopping_delivery-fast"></i> <br>
            <span id="span2"> Vehicle Monitoring </span>  </h3>
        </div>
        <div id="line2" class="line5" style="display: none;">
          <img src="../../assets/img/line-img.png" alt="">
        </div>
      </div>
      <div class="col" style="padding-right: 8px; display: flex; justify-content: center; margin-top: 10vh;">
        <div id="div4" class="circle-box rainbow" style="margin-left: 18px;display: none;">
          <h3><i id="icon4" style="font-weight: bold;" class="now-ui-icons tech_watch-time"></i> <br>
          <span id="span4">  Realtime Monitoring</span> </h3>
        </div>
        <div id="line4" class="line6" style="display: none;">
          <img src="../../assets/img/pages1.svg" alt="">
        </div>
      </div>
      <div class="col" style="padding-right: 8px; display: flex; justify-content: center; margin-top: 23vh;">
        <div id="div6" class="circle-box rainbow " style="display: none;">
          <h3><i id="icon6" style="font-weight: bold;" class="now-ui-icons design_app"></i> <br>
           <span id="span6"> Dashboard</span> </h3>
        </div>
        <div id="line6" class="line7" style="display: none;">
          <img src="../../assets/img/pages1.svg" alt="">
        </div>
      </div>
      <div class="col" style=" display: flex; justify-content: center; margin-top: 55vh;">
        <div id="div8" class="circle-box rainbow " style=" margin-right: 150px; margin-top: -25px;display: none;">
          <h3><i id="icon8" style="font-weight: bold;" class="now-ui-icons shopping_delivery-fast"></i> <br>
          <span id="span8">  Vehicle Monitoring </span></h3>
        </div>
        <div id="line8" class="line8" style="display: none;">
          <img src="../../assets/img/pages1.svg" class="w-100" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 f-height text-center">
        <div class="footer-content">
          <img src="../../assets/img/3d-image-green.svg" class="img-fluid" alt="">
          <div class="wlcm-text">
            <h3>WELCOME TO <br>
              <span class="highlight-text"> {{pageDetail.name}}</span>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center home-footer">
        Copyright by <b
          style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">WeVOIS</b>
        &nbsp; <a href="https://www.facebook.com/wevois/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        &nbsp; <a href="https://twitter.com/wevois?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
        &nbsp; <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
        &nbsp; <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank"><i class="fab fa-instagram"
            style="color: green;"></i></a>
      </div>
    </div>

  </div>
</section>
-->