
<div class="wrapper">
  <div class="container">
<div class="row">
<div class="col-6">
<img src="../../assets/img/sikar map-01.jpg" class="img-fluid">  

<div class="">
<button type="button" class="btn btn-success hvr-shutter-in-horizontal">Click here to enter Sikar</button></div>
</div>

<div class="col-6">
<img src="../../assets/img/reengus map-01.jpg" class="img-fluid">  
<div class="">
 <button type="button" class="shadow btn btn-success hvr-shutter-in-horizontal">Click here to enter Reengus</button></div>
</div> </div> </div>

</div>

