/***********Line Spacing Start************/
.pr-20{
  padding-right: 20px!important;
}
.pl-25{
  padding-left: 25px!important;
}
.mt-2{
  margin-top: 2px!important;
}
.mt-10{
  margin-top: 10px!important;
}
.pr-3{
  padding-right: 3px!important;
}
.pl-2{
  padding-left: 2px!important;
}
.pl-10{
  padding-left: 10px!important;
}
.mt-5{
  margin-top: 5px!important;
}
.pr-5{
  padding-right: 5px!important;
}
/***********Line Spacing End************/

/***********Header Start************/
.halt-header{
  background-color: #232323;
  text-align: center;
  height: 50px;
}
#txtDate{
  height: 40px;
  margin-left: 15px;
  border-radius: 5px;
  margin-right: 8px;
  font-size: 12px;
  padding-left: 10px;
}
input{
  outline: none!important;
}
.halt-header h5{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  color: #ffffff;
  padding-top: 10px;
}
/***********Header End************/

/***********Halt Scroll List Start************/
.scrollable-halt{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88vh;
}
.scrollable-halt::-webkit-scrollbar {
  display: none;
}
.halt-bg {
  background-color: #ffffff;
  border: 1px solid lightgray;
  min-height: 40px;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.halt-bg:hover{
  border: 1px solid #888;
}
.scrollable-halt .active{
  border-bottom: 5px solid #0ba118;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.halt-details{
  width: 100%;
  float: left;
  border-bottom: 1px dotted lightgray;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}
.halt-details .stopped-time{
  width: 50%;
  float: left;
  font-size: 12px;
  font-weight: normal;
  color: #2c2c2c;
  margin: 0px;
  text-align: left;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  padding: 6px;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
.halt-details .break-time{
  width: 50%;
  float: left;
  font-size: 12px;
  font-weight: normal;
  color: #2c2c2c;
  margin: 0px;
  text-align: left;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  padding: 6px;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
.remark-btn{
  float: left;
  width: 20%;
}
.button {
  border-radius: 0px;
  border: 1px solid #888!important;
  background-color: #fff!important;
  color: #2dbd23;
  border: none;
  text-align: center;
  font-size: 12px;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  transition: all 0.5s;
  cursor: pointer;
  outline: none!important;
  margin-left: 6px;
}
.button:hover{
  background-color: #2dbd23!important;
  color: #fff!important;
}
.fa-plus{
  margin-left: -1px;
  margin-top: 4px;
}
.fa-eye{
  margin-left: -2.5px;
  margin-top: 4px;
}
.success-btn{
  border: 1px solid #d6d6d6!important;
  background-color: #2dbd23!important;
  color: #fff;
}
.success-btn:hover{
  background-color: #2dbd23!important;
  color: #fff;
}
.work-stop-address{
  padding: 6px;
}
.work-stop-address p{
  margin: 0px;
  font-size: 12px;
  color: #2c2c2c;
  font-weight: normal;
  text-align: left;
}
/***********Halt Scroll List End************/

/***********Driver Helper Summary Start************/
.dh-back{
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  min-height: 40px;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
}
.dh-back:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.dh-back h3{
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #2c2c2c;
  margin: 0px;
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid lightgray;
  text-transform: lowercase!important;
}
.dh-back h3::first-line{
  text-transform: capitalize!important;
}
.float-left{
  padding-right: 15px; 
  float: left;
   width: 40%;
   border-bottom: none!important;
   border-right: 1px dotted lightgray;
}
.dh-back a{
  float: left;
  width: 60%;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #2c2c2c;
  margin: 0px;
  text-align: left;
  padding: 6px;
  text-decoration: none;
  display: block;
}
.duty-on{
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  min-height: 40px;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.duty-on:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.duty-on .left{
  float: left;
  width: 50%;
  font-size: 12px;
  font-weight: normal;
  color:#2c2c2c;
  letter-spacing: 0px;
  padding: 6px;
  text-transform: capitalize;
  text-align: left;
  margin: 0px;
}
.duty-on .right{
  float: left;
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  color:#2c2c2c;
  letter-spacing: 0px;
  padding: 6px;
  text-transform: capitalize;
  text-align: right;
  margin: 0px;
}
.dh-back i{
  color: #0ba118;
}
/***********Driver Helper Summary End************/

/***********Halt Map Start************/
.map-bg{
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-bottom: 0px;
  position: relative;
}
// .total-halt{
//   position: absolute;
//   top: 7px;
//   left: 10px;
// }

.on-map{
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  height: 60px;
  text-align: center;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.on-map:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.on-map h5{
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0px;
  padding: 0px;
 // text-transform: capitalize;
}
.on-map p{
  margin: 0px;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #000;

}
iframe{
  border: 2px solid lightgray !important;
}
/***********Halt Map End************/

/***********Ward Scroll List Start************/
.scroll-list{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid lightgray;
}
.ward-header{
  min-height: 30px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  display: table;
  width: 100%;
  cursor: pointer!important;
}
.ward-header:hover{
  background-color: #dddddd;
}
.ward-details{
  display: table;
  width: 100%;
  float: left;
  position: relative;
}
.ward-details .halt-time{
  float: right;
  width: calc(100% - 130px);
  text-align: center!important;
  color: #fff;
  font-weight: bold;
  position: relative;
}
.fa-caret-right{
  position: absolute;
  left: 0px;
  top: 7px;
  font-size: 18px;
  padding-right: 8px;
}
.red-peak{
  color: red;
}
.green-peak{
  color: #0ba118;
}
.yellow-peak{
  color: #dad600;
}
.alert-halt{
  padding: 8px;
}
.ward-details p{
  font-size: 12px;
  color: #656565;
  font-weight: normal;
  margin: 0px;
  text-align: right;
  text-transform: capitalize;
}
.ward-details h6{
  padding: 10px;
  font-size: 12px;
  color: #333333;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
  margin: 0px;
  text-transform: capitalize;
  float: left;
  width: 130px;
  text-align: left;
}
.active-ward{
  background-color: #2dbd23;
  //border-left: 4px solid #2dbd23;
}
.active-rotate-red {
  animation: rotation 8s infinite linear;
  transition: 0.5s;
 // color: #ff0000;
  font-size: 12px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/***********Ward Scroll List End************/

/**********************************Remark CSS Start**********************************/
.remark-bg{
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  border: 1px solid #E1E1E1;
  border-radius: 5px;
}
.remark-header{
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}
.remark-content{
  max-height: 350px;
  overflow-y: scroll;
}
.select{
  width: 100%;
  padding: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
textarea{
  margin-top: 15px;
  width: 100%;
  padding: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.modal-title{
  font-size: 16px;
  font-weight: bold;
}
.btn-success{
  width: 100%;
  background: #379f30 !important;
}
.highlight{
  background: #f5f5ff;
}
button{
  outline: none!important;
}
/**********************************Remark CSS End**********************************/

/***********Custom Class Generated************/

.danger-halt{
  color: #ff0000!important;
  font-size: 12px!important;
}
.success-halt{
  color:#0ba118!important;
  font-size: 12px;
}
.warning-halt{
  color: #ff9a07!important;
  font-size: 12px;
}
.disabled{
  //background-color: rgb(221, 225, 221)!important;
  cursor: not-allowed!important;
}
/***********Custom Class Generated End************/

/******************************Custom Scrollbar Start*********************************/
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent; 
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: transparent; 
  -webkit-box-shadow: transparent; 
}

:hover::-webkit-scrollbar {
  width: 8px;
}
/* Track */
:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* Handle */
:hover::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #20a120; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/******************************Custom Scrollbar End*********************************/

/******************Mediaquery Start *******************/
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
.scroll-list{
  height: 35vh!important;
  padding-left: 5px;
  padding-right: 5px;
}
.scrollable-halt{
  position: relative;
  top: 38vh;
  overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
}
.hide{
  display: none;
}
.halt-header{
  height: 70px!important;
}
#txtDate{
  width: 130px;
  margin-left: 45px;
}
.mob-btn{
  width: 105px;
}
.mob-space{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.mt-top{
  margin-top: 10px;
}
.mob-space-25{
  padding-left: 25px!important;
  padding-right: 25px!important;
}
.mob-map{
  top: 39vh;
}
.mob-r-15{
  padding-right:15px!important;
}
.mob-l-15{
  padding-left:15px!important;
}
.mob-mt-4{
  margin-top: -4px!important;
}
.mob-mt-5{
  margin-top: 6px!important;
}



}